In [17]:
import pandas as pd
from assign_unique_ids_functions import *
from merge_functions import *
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [3]:
am = pd.read_csv('../input/all-members_demographics.csv.gz')
asw = pd.read_csv('../input/all-sworn_demographics.csv.gz')

In [6]:
atr_dict = append_to_reference(sub_df=asw, ref_df=pd.DataFrame(), profile_df=pd.DataFrame(),
                               print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name'])

In [10]:
ref = atr_dict['ref']
prof = aggregate_data(ref, 'UID', mode_cols=listdiff(ref.columns,['UID']))

In [12]:
atr_dict2 = append_to_reference(sub_df=am, ref_df=ref, profile_df=prof,  print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name'])

31910 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial2', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
8 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name'] columns
31924 Total Merged. 99.74% of DF1 and 100.0% of DF2 Merged.
82 Unmerged in DF1. 0.26% Unmerged.
1 Unmerged in DF2. 0.0% Unmerged.

In [15]:
atr_dict2['UM2']

,all-members_ID,F4FN,First.Name,Middle.Initial2,Race,Suffix.Name,Last.Name,F4LN,Appointed.Date,Birth.Year,Gender,Middle.Initial
1942,21523,NACA,NACALA,NaN,BLACK,NaN,BEY,BEY,1989-12-26,1964.0,FEMALE,M

In [18]:
atr_dict2['UM1']

,UID,F4FN,First.Name,Middle.Initial2,Race,Suffix.Name,Last.Name,F4LN,Appointed.Date,Birth.Year,Gender,Middle.Initial
100,101,JAIR,JAIRUS,NaN,BLACK,NaN,ADAMS,ADAM,2016-08-29,1989.0,MALE,C
238,239,WILL,WILLIE,NaN,BLACK,NaN,AKERSON,AKER,2016-08-29,1990.0,MALE,D
483,484,ENRI,ENRIQUE,NaN,HISPANIC,NaN,ALVAREZ,ALVA,2016-08-29,1988.0,MALE,NaN
893,894,HERI,HERIBERTO,NaN,HISPANIC,NaN,ARZATE,ARZA,2016-08-29,1983.0,MALE,NaN
996,997,ABAL,ABALO,NaN,BLACK,NaN,AWESSO,AWES,2016-08-29,1984.0,MALE,NaN
1728,1729,ANGE,ANGELA,NaN,HISPANIC,NaN,BELLA,BELL,2016-08-29,1993.0,FEMALE,M
2605,2606,VALE,VALENA,NaN,UNKNOWN,NaN,BRADLEY,BRAD,1989-12-26,1964.0,FEMALE,M
2800,2801,BRIA,BRIAN,NaN,BLACK,NaN,BRIDGEMON,BRID,2016-08-29,1992.0,MALE,W
2890,2891,BRAN,BRANDON,NaN,BLACK,NaN,BROOKS,BROO,2016-08-29,1988.0,MALE,J
4940,4941,LUKE,LUKE,NaN,WHITE,NaN,COFFMAN,COFF,2016-08-29,1993.0,MALE,M
5855,5856,ZACH,ZACHARY,NaN,HISPANIC,NaN,CRUZ,CRUZ,2016-08-29,1993.0,MALE,R
6485,6486,MARI,MARIA,NaN,HISPANIC,NaN,DELAMORA,DELA,2016-08-29,1978.0,FEMALE,V
6884,6885,JUAN,JUAN,NaN,HISPANIC,NaN,DIAZ,DIAZ,2016-08-29,1992.0,MALE,M
8099,8100,DAVI,DAVID,NaN,HISPANIC,NaN,ESPARZA,ESPA,2016-08-29,1985.0,MALE,NaN
8117,8118,KARL,KARLA,NaN,HISPANIC,NaN,ESPINOZA,ESPI,2016-08-29,1980.0,FEMALE,L
9443,9444,RYAN,RYAN,NaN,WHITE,NaN,GALIARDO,GALI,2016-08-29,1993.0,MALE,M
9600,9601,DELI,DELILAH,NaN,HISPANIC,NaN,GARCIA,GARC,2016-08-29,1983.0,FEMALE,M
9678,9679,KEIT,KEITH,NaN,WHITE,NaN,GARDNER,GARD,2016-08-29,1991.0,MALE,A
9769,9770,DAVI,DAVID,NaN,HISPANIC,NaN,GASCA,GASC,2016-08-29,1987.0,MALE,M
10373,10374,GIOV,GIOVANNI,NaN,HISPANIC,NaN,GONZALEZ,GONZ,2016-08-29,1992.0,MALE,H
10456,10457,JOEL,JOEL,NaN,HISPANIC,NaN,GORDILS,GORD,2016-08-29,1990.0,MALE,A
10682,10683,ALEX,ALEX,NaN,WHITE,NaN,GRAY,GRAY,2016-08-29,1992.0,MALE,J
11300,11301,PATR,PATRICK,NaN,WHITE,NaN,HALLORAN,HALL,2016-08-29,1989.0,MALE,J
11706,11707,KHAL,KHALED,NaN,WHITE,NaN,HASAN,HASA,2016-08-29,1993.0,MALE,N
11909,11910,DENN,DENNIS,NaN,BLACK,JR,HECKER,HECK,2016-08-29,1979.0,MALE,R
11995,11996,SHER,SHERETTA,NaN,BLACK,NaN,HENDERSON,HEND,2016-04-01,1987.0,FEMALE,D
12155,12156,CRYS,CRYSTAL,NaN,HISPANIC,NaN,HERRADA,HERR,2016-08-29,1985.0,FEMALE,M
12291,12292,BRAN,BRANDON,NaN,BLACK,NaN,HILL,HILL,2016-08-29,1994.0,MALE,N
12292,12293,CHAS,CHASE,NaN,WHITE,NaN,HILL,HILL,2016-08-29,1992.0,MALE,L
12409,12410,ALEX,ALEXANDRA,NaN,WHITE,NaN,HOCHHAUSER,HOCH,2016-08-29,1987.0,FEMALE,S
12803,12804,CATH,CATHERINE,NaN,WHITE,NaN,HUELS,HUEL,2016-08-29,1990.0,FEMALE,N
12994,12995,GIUS,GIUSEPPE,NaN,WHITE,NaN,IMBURGIA,IMBU,2016-08-29,1995.0,MALE,W
14387,14388,MAX,MAX,NaN,WHITE,NaN,KEEHN,KEEH,2016-08-29,1992.0,MALE,A
14527,14528,TIMO,TIMOTHY,NaN,WHITE,NaN,KELLY,KELL,2016-08-29,1989.0,MALE,J
15007,15008,MICH,MICHAEL,NaN,WHITE,NaN,KOCERKA,KOCE,2010-06-16,1986.0,MALE,NaN
15401,15402,ROBE,ROBERT,NaN,WHITE,NaN,KRUZEL,KRUZ,2016-08-29,1985.0,MALE,J
15604,15605,AMAR,AMARIS,NaN,HISPANIC,NaN,LACOUR,LACO,2016-08-29,1987.0,FEMALE,E
15868,15869,ERIC,ERIC,NaN,BLACK,NaN,LASTER,LAST,2016-08-29,1989.0,MALE,B
16408,16409,PATR,PATRICK,NaN,WHITE,NaN,LINNANE,LINN,2016-08-29,1995.0,MALE,J
16437,16438,BRAN,BRANDEN,NaN,WHITE,NaN,LISCIANDRELLO,LISC,2016-08-29,1991.0,MALE,M
16568,16569,MARK,MARK,NaN,WHITE,NaN,LONCAR,LONC,2016-08-29,1990.0,MALE,R
17022,17023,ESTH,ESTHER,NaN,HISPANIC,NaN,MACZ,MACZ,2016-08-29,1988.0,FEMALE,A
17094,17095,JONA,JONATHAN,NaN,WHITE,NaN,MAHAY,MAHA,2016-08-29,1993.0,MALE,E
17389,17390,JOSE,JOSEPH,NaN,WHITE,NaN,MANTLO,MANT,2016-08-29,1990.0,MALE,P
17672,17673,ANNA,ANNA,NaN,WHITE,NaN,MARTINEZ,MART,2016-08-29,1981.0,FEMALE,M
19240,19241,JACQ,JACQUELINE,NaN,HISPANIC,NaN,MILLER,MILL,2016-08-29,1987.0,FEMALE,B
19704,19705,MICH,MICHAEL,NaN,HISPANIC,NaN,MORALES,MORA,2016-08-29,1987.0,MALE,NaN
19811,19812,PATR,PATRICK,NaN,WHITE,NaN,MORIARTY,MORI,2016-08-29,1993.0,MALE,T
19876,19877,JOSE,JOSEPH,NaN,WHITE,NaN,MORRISSEY,MORR,2016-08-29,1989.0,MALE,M
20174,20175,JESS,JESSICA,NaN,WHITE,NaN,MURPHY,MURP,2016-08-29,1978.0,FEMALE,L
20352,20353,CELV,CELVIN,NaN,HISPANIC,NaN,NAJARRO,NAJA,2016-08-29,1989.0,MALE,NaN
20694,20695,MIGU,MIGUEL,NaN,HISPANIC,II,NIEVES,NIEV,2016-08-29,1994.0,MALE,A
21294,21295,JOHN,JOHN,NaN,WHITE,NaN,OBRIEN,OBRI,2016-08-29,1987.0,MALE,M
21302,21303,EDYT,EDYTA,NaN,WHITE,NaN,OBRZUT,OBRZ,2016-08-29,1988.0,FEMALE,W
21313,21314,RICA,RICARDO,NaN,HISPANIC,NaN,OCAMPO,OCAM,2016-08-29,1986.0,MALE,J
21332,21333,COLI,COLIN,NaN,WHITE,NaN,OCONNELL,OCON,2016-08-29,1990.0,MALE,J
21336,21337,CHAR,CHARLES,NaN,WHITE,NaN,OCONNOR,OCON,2016-08-29,1984.0,MALE,D
21509,21510,PIOT,PIOTR,NaN,WHITE,NaN,OPACIAN,OPAC,2016-08-29,1990.0,MALE,NaN
21911,21912,JAME,JAMEL,NaN,BLACK,NaN,PANKEY,PANK,2016-08-29,1985.0,MALE,J
22431,22432,GWEN,GWENDOLYN,NaN,HISPANIC,NaN,PEREZ,PERE,2016-08-29,1983.0,FEMALE,L
22582,22583,MELI,MELISSA,NaN,HISPANIC,NaN,PETRUS,PETR,2016-08-29,1990.0,FEMALE,J
22630,22631,LAUR,LAURA,NaN,WHITE,NaN,PHELAN,PHEL,2012-06-11,1990.0,FEMALE,L
22927,22928,PATR,PATRICK,NaN,WHITE,NaN,POKROVAC,POKR,2016-08-29,1994.0,MALE,J
23312,23313,JOSE,JOSEPH,NaN,WHITE,NaN,PULLIA,PULL,2016-08-29,1985.0,MALE,R
23554,23555,MATT,MATTHEW,NaN,HISPANIC,NaN,RAMIREZ,RAMI,2016-08-29,1994.0,MALE,R
23972,23973,CHAR,CHAREA,NaN,BLACK,NaN,REYNOLDS,REYN,2016-08-29,1994.0,FEMALE,S
24150,24151,MICH,MICHAEL,NaN,WHITE,NaN,RILEY,RILE,2016-08-29,1986.0,MALE,A
24284,24285,ROBE,ROBERT,NaN,HISPANIC,NaN,RIVERA,RIVE,2016-08-29,1989.0,MALE,M
24296,24297,ROBE,ROBERT,NaN,HISPANIC,JR,RIVERA,RIVE,2016-08-29,1986.0,MALE,NaN
24598,24599,MARI,MARIO,NaN,HISPANIC,NaN,RODRIGUEZ,RODR,2016-08-29,1990.0,MALE,NaN
24746,24747,SOLY,SOLY,NaN,HISPANIC,NaN,ROMAN,ROMA,2016-08-29,1994.0,FEMALE,E
24959,24960,CALL,CALLA,NaN,BLACK,NaN,ROULDS,ROUL,2016-08-29,1990.0,FEMALE,C
26933,26934,GREG,GREGORY,NaN,BLACK,NaN,SMITH,SMIT,2016-08-29,1979.0,MALE,G
27398,27399,EDWA,EDWARD,NaN,WHITE,NaN,SPIZZIRRI,SPIZ,2016-08-29,1991.0,MALE,A
27653,27654,LORN,LORNE,NaN,BLACK,NaN,STENNIS,STEN,2016-08-29,1991.0,FEMALE,NaN
27922,27923,ROBE,ROBERT,NaN,WHITE,NaN,STRYCKER,STRY,2016-08-29,1989.0,MALE,J
28109,28110,SHAN,SHANTELL,NaN,BLACK,NaN,SUTTON,SUTT,2016-08-29,1988.0,FEMALE,R
29427,29428,ERIC,ERIC,NaN,HISPANIC,NaN,VALDES,VALD,2016-08-29,1984.0,MALE,NaN
29431,29432,CHRI,CHRISTOPHER,NaN,HISPANIC,NaN,VALDEZ,VALD,2016-08-29,1992.0,MALE,C
29474,29475,SERG,SERGIO,NaN,HISPANIC,NaN,VALENZUELA,VALE,2016-08-29,1990.0,MALE,NaN
29994,29995,CHRI,CHRISTOPHER,NaN,WHITE,NaN,WALBERG,WALB,2016-08-29,1982.0,MALE,M
30098,30099,BRAN,BRANDON,NaN,WHITE,NaN,WALSH,WALS,2016-08-29,1992.0,MALE,M