In [1]:
import pandas as pd
from assign_unique_ids_functions import *

In [2]:
df = pd.read_csv('../input/trr-officers.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,TRR.ID,Unit.Detail,Current.Age,Unit,Rank,Injured,Assigned.Beat,Duty.Status,Race,Current.Star,Appointed.Date,In.Uniform,Gender,Last.Name_NS,Last.Name,First.Name_NS,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name
0,4,NaN,36,13,POLICE OFFICER,No,1368A,Yes,HISPANIC,21565.0,1994-01-18,No,MALE,VELAZQUEZ,VELAZQUEZ,ANGELO,ANGELO,NaN,NaN,NaN
1,5,NaN,47,13,POLICE OFFICER,Yes,1368A,Yes,HISPANIC,17714.0,1985-11-18,No,MALE,REYES,REYES,ANDRE,ANDRE,NaN,NaN,NaN
2,7,NaN,26,11,POLICE OFFICER,No,1131,Yes,HISPANIC,14214.0,2000-09-11,Yes,MALE,LIMON,LIMON,MARIO,MARIO,NaN,NaN,NaN
3,8,NaN,28,11,POLICE OFFICER,Yes,1131,Yes,HISPANIC,11139.0,1999-10-25,Yes,MALE,HERRERA,HERRERA,ANTONIO,ANTONIO,NaN,NaN,NaN
4,9,NaN,33,11,LIEUTENANT OF POLICE,No,1113,Yes,WHITE,19364.0,2001-09-04,Yes,MALE,MILOVANOVIC,MILOVANOVIC,DEJAN,DEJAN,NaN,NaN,NaN

In [6]:
df[df['Middle.Initial2'].notnull()][['Middle.Initial', 'Middle.Initial2']]

      Middle.Initial Middle.Initial2
8031               G               A
37955              G               A
47750              G               A
49235              G               A
51939              G               A
54355              G               A

In [ ]:
dfu = df[['First.Name', 'Last.Name', 'Middle.Initial', 'Middle.Initial2', 'Suffix.Name', 'First.Name_NS',
          'Last.Name_NS','Appointed.Date']].drop_duplicates()
id_cols = ['First.Name_NS', 'Last.Name_NS', 'Middle.Initial', 'Suffix.Name',
          'Appointed.Date']
keep_duplicates(dfu, id_cols)

In [7]:
dfu = df[['First.Name', 'Last.Name', 'Middle.Initial', 'Middle.Initial2', 'Suffix.Name', 'First.Name_NS',
          'Last.Name_NS','Appointed.Date', 'Gender', 'Race', 'Current.Star', "Rank", "Current.Age"]].drop_duplicates()

In [8]:
dfu.shape

(38785, 12)

In [9]:
id_cols = ['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
          'Appointed.Date', 'Gender', 'Race', 'Current.Star']
keep_duplicates(dfu, id_cols)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,First.Name_NS,Last.Name_NS,Appointed.Date,Gender,Race,Current.Star,Rank,Current.Age
35406,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,27
36588,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,28
42001,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,29
47633,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,30
54099,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,31
58920,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,32
65798,AARON,ACEVEDO,NaN,NaN,AARON,ACEVEDO,2009-12-16,MALE,HISPANIC,7792.0,POLICE OFFICER,33
12658,AARON,ARMSTEAD,NaN,NaN,AARON,ARMSTEAD,2005-12-05,MALE,BLACK,13768.0,POLICE OFFICER,30
18441,AARON,ARMSTEAD,NaN,NaN,AARON,ARMSTEAD,2005-12-05,MALE,BLACK,13768.0,POLICE OFFICER,31
22269,AARON,ARMSTEAD,NaN,NaN,AARON,ARMSTEAD,2005-12-05,MALE,BLACK,13768.0,POLICE OFFICER,32
58753,AARON,BURNS,NaN,NaN,AARON,BURNS,2013-06-03,MALE,BLACK,4534.0,POLICE OFFICER,31
65814,AARON,BURNS,NaN,NaN,AARON,BURNS,2013-06-03,MALE,BLACK,4534.0,POLICE OFFICER,32
12795,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,26
18499,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,27
22470,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,28
27538,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,29
35510,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,30
41252,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,31
47286,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,32
52910,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,33
58796,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,34
65080,AARON,CARRANZA,NaN,NaN,AARON,CARRANZA,2004-11-29,MALE,HISPANIC,2349.0,POLICE OFFICER,35
20811,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,23
30542,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,25
41964,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,26
47201,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,27
53463,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,28
58739,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,29
62237,AARON,CHAPPELL,NaN,NaN,AARON,CHAPPELL,2007-07-09,MALE,BLACK,8742.0,POLICE OFFICER,30
8568,AARON,COTTON,NaN,JR,AARON,COTTON,1986-11-17,MALE,BLACK,11867.0,POLICE OFFICER,39
...,...,...,...,...,...,...,...,...,...,...,...,...
13544,ZENA,WILLIAMS,NaN,NaN,ZENA,WILLIAMS,1991-01-30,FEMALE,BLACK,10073.0,POLICE OFFICER,42
65306,ZENA,WILLIAMS,NaN,NaN,ZENA,WILLIAMS,1991-01-30,FEMALE,BLACK,10073.0,POLICE OFFICER,52
36584,ZEYAD,MATLOCK,NaN,NaN,ZEYAD,MATLOCK,2009-12-16,MALE,BLACK,3891.0,POLICE OFFICER,35
41612,ZEYAD,MATLOCK,NaN,NaN,ZEYAD,MATLOCK,2009-12-16,MALE,BLACK,3891.0,POLICE OFFICER,36
57216,ZEYAD,MATLOCK,NaN,NaN,ZEYAD,MATLOCK,2009-12-16,MALE,BLACK,3891.0,POLICE OFFICER,38
2189,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,35
8519,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,36
28077,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,40
48426,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,43
50036,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,44
61003,ZIAD,HAMIDEH,NaN,NaN,ZIAD,HAMIDEH,1997-03-17,MALE,API,19186.0,POLICE OFFICER,45
30254,ZOE,BATZER,NaN,NaN,ZOE,BATZER,2008-04-28,FEMALE,WHITE,5033.0,POLICE OFFICER,26
35280,ZOE,BATZER,NaN,NaN,ZOE,BATZER,2008-04-28,FEMALE,WHITE,5033.0,POLICE OFFICER,27
52326,ZOE,BATZER,NaN,NaN,ZOE,BATZER,2008-04-28,FEMALE,WHITE,5033.0,POLICE OFFICER,30
57555,ZOE,BATZER,NaN,NaN,ZOE,BATZER,2008-04-28,FEMALE,WHITE,5033.0,POLICE OFFICER,31
61898,ZOE,BATZER,NaN,NaN,ZOE,BATZER,2008-04-28,FEMALE,WHITE,5033.0,POLICE OFFICER,32
1639,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,35
3604,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,36
9380,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,37
16951,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,38
19464,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,39
30866,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,41
35826,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,42
41841,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,43
50239,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,44
60961,ZORAN,MIUCIN,NaN,NaN,ZORAN,MIUCIN,1995-02-06,MALE,WHITE,18966.0,POLICE OFFICER,46
36236,ZUZANNA,MATYSIAK,NaN,NaN,ZUZANNA,MATYSIAK,2007-04-02,FEMALE,WHITE,6353.0,POLICE OFFICER,43
41707,ZUZANNA,MATYSIAK,NaN,NaN,ZUZANNA,MATYSIAK,2007-04-02,FEMALE,WHITE,6353.0,POLICE OFFICER,44
48875,ZUZANNA,MATYSIAK,NaN,NaN,ZUZANNA,MATYSIAK,2007-04-02,FEMALE,WHITE,6353.0,POLICE OFFICER,45
59555,ZUZANNA,MATYSIAK,NaN,NaN,ZUZANNA,MATYSIAK,2007-04-02,FEMALE,WHITE,6353.0,POLICE OFFICER,47

In [7]:
id_cols = ['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
          'Appointed.Date', 'Gender', 'Race']
keep_duplicates(dfu, id_cols)

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Gender,Race,Current.Star,Rank,Current.Age
35406,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,27
36588,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,28
42001,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,29
47633,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,30
54099,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,31
58920,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,32
65798,AARON,ACEVEDO,NaN,NaN,2009-12-16,MALE,HISPANIC,7792,POLICE OFFICER,33
12658,AARON,ARMSTEAD,NaN,NaN,2005-12-05,MALE,BLACK,13768,POLICE OFFICER,30
18441,AARON,ARMSTEAD,NaN,NaN,2005-12-05,MALE,BLACK,13768,POLICE OFFICER,31
22269,AARON,ARMSTEAD,NaN,NaN,2005-12-05,MALE,BLACK,13768,POLICE OFFICER,32
58753,AARON,BURNS,NaN,NaN,2013-06-03,MALE,BLACK,4534,POLICE OFFICER,31
65814,AARON,BURNS,NaN,NaN,2013-06-03,MALE,BLACK,4534,POLICE OFFICER,32
12795,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,26
18499,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,27
22470,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,28
27538,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,29
35510,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,30
41252,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,31
47286,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,32
52910,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,33
58796,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,34
65080,AARON,CARRANZA,NaN,NaN,2004-11-29,MALE,HISPANIC,2349,POLICE OFFICER,35
20811,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,23
30542,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,25
41964,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,26
47201,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,27
53463,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,28
58739,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,29
62237,AARON,CHAPPELL,NaN,NaN,2007-07-09,MALE,BLACK,8742,POLICE OFFICER,30
8568,AARON,COTTON,NaN,JR,1986-11-17,MALE,BLACK,11867,POLICE OFFICER,39
...,...,...,...,...,...,...,...,...,...,...
13544,ZENA,WILLIAMS,NaN,NaN,1991-01-30,FEMALE,BLACK,10073,POLICE OFFICER,42
65306,ZENA,WILLIAMS,NaN,NaN,1991-01-30,FEMALE,BLACK,10073,POLICE OFFICER,52
36584,ZEYAD,MATLOCK,NaN,NaN,2009-12-16,MALE,BLACK,3891,POLICE OFFICER,35
41612,ZEYAD,MATLOCK,NaN,NaN,2009-12-16,MALE,BLACK,3891,POLICE OFFICER,36
57216,ZEYAD,MATLOCK,NaN,NaN,2009-12-16,MALE,BLACK,3891,POLICE OFFICER,38
2189,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,35
8519,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,36
28077,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,40
48426,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,43
50036,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,44
61003,ZIAD,HAMIDEH,NaN,NaN,1997-03-17,MALE,API,19186,POLICE OFFICER,45
30254,ZOE,BATZER,NaN,NaN,2008-04-28,FEMALE,WHITE,5033,POLICE OFFICER,26
35280,ZOE,BATZER,NaN,NaN,2008-04-28,FEMALE,WHITE,5033,POLICE OFFICER,27
52326,ZOE,BATZER,NaN,NaN,2008-04-28,FEMALE,WHITE,5033,POLICE OFFICER,30
57555,ZOE,BATZER,NaN,NaN,2008-04-28,FEMALE,WHITE,5033,POLICE OFFICER,31
61898,ZOE,BATZER,NaN,NaN,2008-04-28,FEMALE,WHITE,5033,POLICE OFFICER,32
1639,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,35
3604,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,36
9380,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,37
16951,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,38
19464,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,39
30866,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,41
35826,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,42
41841,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,43
50239,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,44
60961,ZORAN,MIUCIN,NaN,NaN,1995-02-06,MALE,WHITE,18966,POLICE OFFICER,46
36236,ZUZANNA,MATYSIAK,NaN,NaN,2007-04-02,FEMALE,WHITE,6353,POLICE OFFICER,43
41707,ZUZANNA,MATYSIAK,NaN,NaN,2007-04-02,FEMALE,WHITE,6353,POLICE OFFICER,44
48875,ZUZANNA,MATYSIAK,NaN,NaN,2007-04-02,FEMALE,WHITE,6353,POLICE OFFICER,45
59555,ZUZANNA,MATYSIAK,NaN,NaN,2007-04-02,FEMALE,WHITE,6353,POLICE OFFICER,47