In [8]:
import pandas as pd
from assign_unique_ids_functions import *

In [9]:
df = pd.read_csv('../input/unit-history.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
stars = ["Star" + str(i) for i in range(1,11)]
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
          "Race", "Gender", "Current.Age", "Appointed.Date"] + stars].drop_duplicates()

In [11]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", "Current.Age"]).to_csv('UH_possible_duplicates.csv')

In [12]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", "Current.Age"])

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Race,Gender,Current.Age,Appointed.Date,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
53035,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
53036,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,8280,-999,-999,-999,-999,-999,-999,-999,-999,-999
107328,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
107329,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,9647,5693,-999,-999,-999,-999,-999,-999,-999,-999
8448,JOEL,BENTLEY,NaN,NaN,WHITE,MALE,39,1999-10-25,13297,-999,-999,-999,-999,-999,-999,-999,-999,-999
8451,JOEL,BENTLEY,NaN,NaN,BLACK,MALE,39,1999-10-25,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
89846,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
89847,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,11786,7838,-999,-999,-999,-999,-999,-999,-999,-999
19240,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,4955,-999,-999,-999,-999,-999,-999,-999,-999,-999
19244,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
74625,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
74626,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,12719,-999,-999,-999,-999,-999,-999,-999,-999,-999
106197,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,10331,-999,-999,-999,-999,-999,-999,-999,-999,-999
106199,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
76621,TIMOTHY,OBRIEN,P,NaN,WHITE,MALE,48,1995-01-03,20899,8893,-999,-999,-999,-999,-999,-999,-999,-999
76668,TIMOTHY,OBRIEN,NaN,NaN,WHITE,MALE,48,1995-01-03,21797,20380,20034,10532,2946,-999,-999,-999,-999,-999
58564,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,15609,15607,-999,-999,-999,-999,-999,-999,-999,-999
58567,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999