In [1]:
import pandas as pd
full_df = pd.read_csv('../input/police-board.csv.gz')
acc_df = pd.read_csv('../input/accused.csv.gz')

In [5]:
full_df[((full_df['CRID'].notnull()) &
        (full_df['CRID'].isin(acc_df['CRID'])))|
        ((full_df['CRID2'].notnull()) &
        (full_df['CRID2'].isin(acc_df['CRID'])))]

,CRID,Filed.Date,Ordered.Suspension.Month.,Case.NO,PB.Decision.Date,Star,Recommended.Suspension,PB.Decision,CRID2,Last.Name,Suffix.Name,First.Name,Middle.Initial
2408,259030.0,2000-03-14,NaN,2409,2000-04-18,NaN,NaN,Charges WD--Resigned,259030.0,HANLEY,NaN,DENISE,NaN
2414,259785.0,2000-04-11,NaN,2415,2000-05-03,NaN,NaN,Charges WD--Resigned,259785.0,MILOT,NaN,RYAN,NaN
2420,260231.0,2000-05-03,NaN,2421,2002-01-23,NaN,NaN,Discharged,260231.0,GLINSEY,NaN,GARY,NaN
2424,261457.0,2000-08-18,NaN,2425,2000-11-16,NaN,NaN,Charges WD--Resigned,261457.0,MILLER,NaN,KENNETH,NaN
2425,260335.0,2000-08-18,11,2426,2001-07-26,NaN,NaN,Suspended,260335.0,LEVERETT,NaN,MICHAEL,NaN
2429,264460.0,2000-10-10,NaN,2430,2000-10-31,NaN,NaN,Charges WD--Resigned,264460.0,MATA,NaN,PETER,NaN
2431,261223.0,2000-10-24,NaN,2432,2001-03-15,NaN,NaN,Charges WD--Resigned,261223.0,GRANT,NaN,CHARLES,NaN
2433,260833.0,2000-10-31,NaN,2434,2000-11-16,NaN,NaN,Charges WD--Resigned,260833.0,NOIGEBAUER,NaN,JOHN,NaN
2434,264785.0,2000-11-09,NaN,2435,2001-09-06,NaN,NaN,Discharged,264785.0,TAVALES,NaN,CELESTINO,NaN
2436,262494.0,2000-12-12,NaN,2437,2001-06-21,NaN,NaN,Charges WD--Resigned,262494.0,SOBOTTA,NaN,RICHARD,NaN
2446,259648.0,2001-02-22,NaN,2447,2002-05-16,NaN,NaN,Charges WD--Resigned,259648.0,NIZIOLEK,NaN,ROBERT,NaN
2447,264152.0,2001-02-22,18,2448,2002-03-12,NaN,NaN,Suspended,264152.0,THOMPSON,NaN,LAWRENCE,NaN
2448,259856.0,2001-03-13,11,2449,2002-01-31,NaN,NaN,Suspended,259856.0,WHITE,NaN,CHARLIE,NaN
2452,267058.0,2001-03-21,NaN,2453,2001-11-15,NaN,NaN,Charges WD--Resigned,267058.0,HILL,NaN,KENNETH,NaN
2453,264436.0,2001-03-27,NaN,2454,2006-08-17,NaN,NaN,Not guilty,264436.0,DUBOISE,JR,JOHN,NaN
2455,266689.0,2001-04-06,NaN,2456,2001-09-20,NaN,NaN,Charges WD--Resigned,266689.0,KIDD,NaN,MICHAEL,NaN
2458,261468.0,2001-04-16,NaN,2459,2001-12-07,NaN,NaN,Suspended,261468.0,WESSON,NaN,DARRELL,NaN
2459,262571.0,2001-04-17,30 days,2460,2001-09-25,NaN,NaN,Suspended,262571.0,TEVENAL,NaN,RUBIN,NaN
2460,268353.0,2001-05-22,NaN,2461,2001-09-20,NaN,NaN,Charges WD--Resigned,268353.0,JENNINGS,NaN,EUGENE,NaN
2465,263911.0,2001-07-27,NaN,2466,2002-06-25,NaN,NaN,Discharged,263911.0,SPAIN,NaN,LAWRENCE,NaN
2466,263911.0,2001-07-27,NaN,2467,2002-06-25,NaN,NaN,Discharged,263911.0,WHITE,NaN,THOMAS,NaN
2467,265255.0,2001-07-27,NaN,2468,2001-09-20,NaN,NaN,Charges WD--Resigned,265255.0,GRIFFIN,NaN,CLEO,NaN
2470,270151.0,2001-08-23,NaN,2471,2002-05-01,NaN,NaN,Discharged,270151.0,NORTON,NaN,OLIVER,NaN
2471,261637.0,2001-09-19,NaN,2472,2001-10-18,NaN,NaN,Charges WD--Resigned,261637.0,MCCLUSKEY,NaN,BRIAN,NaN
2472,271885.0,2001-09-24,NaN,2473,2002-11-22,NaN,NaN,Discharged,271885.0,NEWMAN,NaN,STEVEN,NaN
2473,266169.0,2001-09-24,8,2474,2002-05-30,NaN,NaN,Suspended,266169.0,MALKOWSKI,NaN,KENNETH,NaN
2474,264974.0,2001-10-03,NaN,2475,2002-04-18,NaN,NaN,Charges WD--Resigned,264974.0,LINCOLN,NaN,GARY,NaN
2476,264565.0,2001-11-01,NaN,2477,2002-06-18,NaN,NaN,Discharged,264565.0,CROSSLEY,NaN,RENITA,NaN
2477,263167.0,2001-11-29,15 days,2478,2002-09-10,NaN,NaN,Suspended,263167.0,STAMPS,NaN,LAWRENCE,NaN
2478,270784.0,2001-12-13,NaN,2479,2002-10-17,NaN,NaN,Discharged,270784.0,OLBRISCH,NaN,WILLIAM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2896,1052718.0,2015-11-25,NaN,2897,2016-05-19,21133.0,NaN,Charges WD--Resigned,1052718.0,SERVIN,NaN,DANTE,NaN
2897,1051762.0,2015-12-15,NaN,2898,2016-07-21,19468.0,NaN,Charges WD--Resigned,1051762.0,SNELLING,NaN,BRODERICK,NaN
2898,1060986.0,2016-01-28,18 months,2899,2016-09-15,18919.0,NaN,Suspended,1060986.0,LOCONSOLE,NaN,JOHN,NaN
2899,1078509.0,2016-02-03,NaN,2900,2016-03-17,359.0,NaN,Charges WD--Resigned,1078509.0,WALSH,NaN,DENIS,NaN
2900,1078509.0,2016-02-03,NaN,2901,NaN,1808.0,1 year,NaN,1078509.0,CIRONE,NaN,SAM,NaN
2901,1073927.0,2016-02-26,NaN,2902,2016-03-17,2081.0,NaN,Charges WD--Resigned,1073927.0,ELDRIDGE,NaN,JAMES,NaN
2902,1074613.0,2016-02-26,NaN,2903,2016-09-15,12628.0,NaN,Discharged,1074613.0,BRYANT,NaN,DANA,NaN
2903,1048290.0,2016-03-24,NaN,2904,NaN,1210.0,NaN,NaN,1048290.0,PADAR,NaN,JAMES,NaN
2904,1073339.0,2016-04-27,NaN,2905,2016-07-21,5592.0,NaN,Charges WD--Resigned,1073339.0,MOOK,NaN,JOSEPH,NaN
2905,1068387.0,2016-05-02,NaN,2906,2016-10-27,7551.0,NaN,Discharged,1068387.0,WELCH,NaN,JOHN,NaN
2906,1070507.0,2016-07-08,NaN,2907,2016-11-17,20010.0,NaN,Charges WD--Resigned,1070507.0,RICE,NaN,BRET,NaN
2907,1081772.0,2016-08-30,NaN,2908,NaN,9465.0,NaN,NaN,1081772.0,VANDYKE,NaN,JASON,NaN
2908,1081772.0,2016-08-30,NaN,2909,NaN,1537.0,NaN,NaN,1081772.0,FRANKO,NaN,STEPHEN,NaN
2909,1081772.0,2016-08-30,NaN,2910,NaN,4364.0,NaN,NaN,1081772.0,MONDRAGON,NaN,JANET,NaN
2910,1081772.0,2016-08-30,NaN,2911,NaN,2763.0,NaN,NaN,1081772.0,SEBASTIAN,NaN,DAPHNE,NaN
2911,1081772.0,2016-08-30,NaN,2912,NaN,10590.0,NaN,NaN,1081772.0,VIRAMONTES,NaN,RICARDO,NaN
2912,1077812.0,2016-09-15,NaN,2913,NaN,966.0,270 days,NaN,1077812.0,AXIUM,NaN,JACK,NaN
2913,1069799.0,2016-09-27,NaN,2914,NaN,10443.0,NaN,NaN,1069799.0,WASHINGTON,NaN,AARON,NaN
2914,1075931.0,2016-10-03,NaN,2915,NaN,6939.0,NaN,NaN,1075931.0,MONTI,NaN,MICHAEL,NaN
2915,1061399.0,2016-10-25,NaN,2916,NaN,17193.0,NaN,NaN,1061399.0,SALGADO,NaN,DANNY,NaN
2916,1075111.0,2016-10-25,NaN,2917,NaN,11814.0,NaN,NaN,1075111.0,BELASCHKY,NaN,CARL,NaN
2917,1073749.0,2016-10-27,NaN,2918,NaN,16607.0,NaN,NaN,1073749.0,HARIRI,NaN,MAZYAR,NaN
2918,1069863.0,2016-11-08,NaN,2919,NaN,2725.0,NaN,NaN,1069863.0,METTE,NaN,MICHAEL,NaN
2919,1066725.0,2016-11-29,NaN,2920,NaN,9477.0,NaN,NaN,1066725.0,PROANO,NaN,MARCO,NaN
2920,1077150.0,2016-11-30,NaN,2921,2017-02-16,19690.0,NaN,Charges WD--Resigned,1077515.0,CANO,NaN,DAVID,NaN
2921,1069136.0,2016-12-12,NaN,2922,NaN,18709.0,NaN,NaN,1069136.0,POSEY,NaN,EUGENE,NaN
2922,300039.0,2016-12-21,NaN,2923,NaN,1417.0,NaN,NaN,300039.0,LOPEZ,NaN,LUIS,NaN
2923,300039.0,2016-12-21,NaN,2924,NaN,16807.0,NaN,NaN,300039.0,FELICIANO,NaN,DANIEL,NaN
2924,1079480.0,2017-01-11,NaN,2925,NaN,10774.0,NaN,NaN,1079480.0,WALKER,NaN,CLAY,NaN
2926,1075057.0,2017-01-30,NaN,2927,NaN,17414.0,NaN,NaN,1075057.0,SANCHEZ,NaN,MICHAEL,NaN