In [23]:
import pandas as pd
from assign_unique_ids_functions import keep_duplicates, remove_duplicates
pd.options.display.max_columns = 999

In [24]:
df = pd.read_csv('all-sworn-units.csv.gz')
df.shape

(115987, 13)

In [30]:
probs = pd.read_csv('problem_asu.csv').drop_duplicates()

In [32]:
df = df.merge(probs, on='all-sworn-units_ID', how = 'inner')

In [33]:
df.sort_values(['UID', 'Start.Date'])

,Gender,Birth.Year,Appointed.Date,Race,Start.Date,End.Date,Unit,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name,all-sworn-units_ID,UID
1,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
4,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
5,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
0,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
2,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
3,MALE,1924.0,1955-02-01,WHITE,1967-04-27,1970-02-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
8,FEMALE,1960.0,1987-03-09,BLACK,1987-03-09,1988-03-02,44.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
6,FEMALE,1960.0,1987-03-09,BLACK,1988-03-03,1991-08-14,9.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
9,FEMALE,1960.0,1987-03-09,BLACK,1991-08-15,2000-12-06,92.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
11,FEMALE,1960.0,1987-03-09,BLACK,2000-12-07,2002-12-31,188.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
12,FEMALE,1960.0,1987-03-09,BLACK,2003-01-01,2005-02-02,188.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
13,FEMALE,1960.0,1987-03-09,BLACK,2003-01-01,2005-02-02,196.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
7,FEMALE,1960.0,1987-03-09,BLACK,2005-02-03,2011-07-20,22.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
10,FEMALE,1960.0,1987-03-09,BLACK,2011-07-21,NaN,140.0,ADAMOVITZ,RANETTA,P,NaN,NaN,23712,90
17,MALE,1931.0,1955-08-22,WHITE,1955-08-22,1956-02-21,44.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
16,MALE,1931.0,1955-08-22,WHITE,1956-02-22,1961-12-15,40.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
14,MALE,1931.0,1955-08-22,WHITE,1961-12-16,1967-04-26,20.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
18,MALE,1931.0,1955-08-22,WHITE,1967-04-27,1967-08-16,86.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
15,MALE,1931.0,1955-08-22,WHITE,1967-08-17,1969-02-07,20.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
19,MALE,1931.0,1955-08-22,WHITE,1967-08-19,NaN,166.0,AHLFELD,THOMAS,J,NaN,NaN,28834,216
21,MALE,1930.0,1956-09-01,WHITE,1956-09-01,1957-02-28,44.0,AHRENS,RAYMOND,R,NaN,NaN,23772,225
20,MALE,1930.0,1956-09-01,WHITE,1956-09-03,NaN,17.0,AHRENS,RAYMOND,R,NaN,NaN,23772,225
25,MALE,1942.0,1966-08-29,WHITE,1966-08-29,1966-12-03,44.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
27,MALE,1942.0,1966-08-29,WHITE,1966-08-29,NaN,650.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
23,MALE,1942.0,1966-08-29,WHITE,1966-12-04,1968-07-17,12.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
26,MALE,1942.0,1966-08-29,WHITE,1968-07-18,1968-10-09,56.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
22,MALE,1942.0,1966-08-29,WHITE,1968-10-10,1968-12-04,11.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
24,MALE,1942.0,1966-08-29,WHITE,1968-12-05,1973-12-31,19.0,AKERS,ELDRIDGE,L,NaN,NaN,7792,237
32,MALE,1927.0,1953-03-02,WHITE,1953-03-02,1953-09-01,44.0,ALLEGRETTI,JOHN,D,NaN,NaN,13397,362
31,MALE,1927.0,1953-03-02,WHITE,1953-09-02,1955-03-01,25.0,ALLEGRETTI,JOHN,D,NaN,NaN,13397,362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,MALE,1938.0,1964-06-15,WHITE,1974-07-16,NaN,20.0,WOLFF,GLENN,A,NaN,NaN,9988,31277
2061,MALE,1938.0,1964-06-15,WHITE,1977-12-08,1974-07-15,15.0,WOLFF,GLENN,A,NaN,NaN,9988,31277
2065,MALE,1953.0,1976-10-18,WHITE,1976-10-18,1983-01-05,5.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2070,MALE,1953.0,1976-10-18,WHITE,1983-01-06,1987-09-16,173.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2068,MALE,1953.0,1976-10-18,WHITE,1987-09-17,1990-08-15,152.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2067,MALE,1953.0,1976-10-18,WHITE,1990-08-16,1992-10-14,72.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2071,MALE,1953.0,1976-10-18,WHITE,1990-08-16,1992-10-14,284.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2066,MALE,1953.0,1976-10-18,WHITE,1992-10-15,1992-11-11,7.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2069,MALE,1953.0,1976-10-18,WHITE,1992-11-12,NaN,152.0,YAMICH,ERNEST,R,NaN,NaN,8255,31492
2075,MALE,1924.0,1947-12-18,WHITE,1947-12-18,1958-12-31,22.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2076,MALE,1924.0,1947-12-18,WHITE,1961-03-16,1963-09-01,65.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2078,MALE,1924.0,1947-12-18,WHITE,1961-03-16,1963-09-01,161.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2077,MALE,1924.0,1947-12-18,WHITE,1963-09-02,1963-10-08,128.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2072,MALE,1924.0,1947-12-18,WHITE,1963-10-09,1976-04-15,11.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2074,MALE,1924.0,1947-12-18,WHITE,1976-04-16,1983-03-09,15.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2073,MALE,1924.0,1947-12-18,WHITE,1983-03-10,NaN,12.0,ZAPRZALKA,CHESTER,J,NaN,NaN,3873,31692
2084,MALE,1934.0,1958-02-16,WHITE,1958-02-16,1958-06-15,44.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2083,MALE,1934.0,1958-02-16,WHITE,1958-06-16,1959-04-15,25.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2087,MALE,1934.0,1958-02-16,WHITE,1959-04-16,1960-05-15,161.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2085,MALE,1934.0,1958-02-16,WHITE,1960-05-16,1966-06-30,134.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2086,MALE,1934.0,1958-02-16,WHITE,1966-07-01,1968-10-09,135.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2080,MALE,1934.0,1958-02-16,WHITE,1968-10-10,1969-03-05,7.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2091,MALE,1934.0,1958-02-16,WHITE,1969-03-06,1973-01-31,541.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2081,MALE,1934.0,1958-02-16,WHITE,1973-02-01,1974-07-17,7.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2092,MALE,1934.0,1958-02-16,WHITE,1973-02-01,1974-07-17,543.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2089,MALE,1934.0,1958-02-16,WHITE,1979-10-11,1980-09-17,175.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2090,MALE,1934.0,1958-02-16,WHITE,1981-01-01,1981-01-07,189.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2079,MALE,1934.0,1958-02-16,WHITE,1981-01-08,1981-02-04,6.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2082,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
2088,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843

In [18]:
len(df['UID'].drop_duplicates())

278

In [35]:
df[df['UID'].isin([17779,26958,30817])].sort_values(['UID', 'Start.Date'])

,Gender,Birth.Year,Appointed.Date,Race,Start.Date,End.Date,Unit,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name,all-sworn-units_ID,UID
1229,MALE,1961.0,1987-03-09,WHITE,1987-03-09,2007-02-28,7.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1231,MALE,1961.0,1987-03-09,WHITE,1988-03-03,1994-08-13,20.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1232,MALE,1961.0,1987-03-09,WHITE,1988-03-03,2007-02-28,25.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1230,MALE,1961.0,1987-03-09,WHITE,1994-08-14,2001-06-20,14.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1234,MALE,1961.0,1987-03-09,WHITE,2001-06-21,2007-02-28,701.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1233,MALE,1961.0,1987-03-09,WHITE,2007-03-01,NaN,25.0,MASTERS,STEVEN,N,NaN,NaN,28249,17779
1684,MALE,1947.0,1971-02-22,WHITE,1971-02-22,1979-10-14,5.0,SMITH,ROBERT,E,NaN,NaN,25879,26958
1686,MALE,1947.0,1971-02-22,WHITE,1971-02-22,1981-12-09,11.0,SMITH,ROBERT,E,NaN,NaN,25879,26958
1685,MALE,1947.0,1971-02-22,WHITE,1971-02-24,NaN,602.0,SMITH,ROBERT,E,NaN,NaN,25879,26958
1687,MALE,1947.0,1971-02-22,WHITE,1981-12-10,1990-08-31,25.0,SMITH,ROBERT,E,NaN,NaN,25879,26958
1688,MALE,1947.0,1971-02-22,WHITE,1990-09-01,NaN,284.0,SMITH,ROBERT,E,NaN,NaN,25879,26958
2044,MALE,1951.0,1975-05-16,BLACK,1975-05-16,1986-06-30,3.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2054,MALE,1951.0,1975-05-16,BLACK,1986-07-01,1987-08-19,740.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2045,MALE,1951.0,1975-05-16,BLACK,1987-08-20,2001-03-25,121.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2043,MALE,1951.0,1975-05-16,BLACK,2001-03-26,2002-04-10,1.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2050,MALE,1951.0,1975-05-16,BLACK,2002-04-11,2003-08-09,157.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2053,MALE,1951.0,1975-05-16,BLACK,2003-08-10,2003-11-13,610.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2047,MALE,1951.0,1975-05-16,BLACK,2003-11-14,2005-05-31,142.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2052,MALE,1951.0,1975-05-16,BLACK,2003-11-14,2005-05-31,214.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2046,MALE,1951.0,1975-05-16,BLACK,2005-06-01,2005-09-15,130.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2048,MALE,1951.0,1975-05-16,BLACK,2005-06-01,2005-09-15,142.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2051,MALE,1951.0,1975-05-16,BLACK,2005-06-01,2005-09-15,170.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817
2049,MALE,1951.0,1975-05-16,BLACK,2005-09-16,NaN,142.0,WILLIAMS,CHARLES,L,NaN,NaN,3763,30817