In [17]:
import pandas as pd
from assign_unique_ids_functions import *
from merge_functions import *
pd.options.display.max_columns = 100

In [18]:
prof = pd.read_csv('../input/officer-profiles.csv.gz')
ref = pd.read_csv('../input/officer-reference.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
acc = pd.read_csv('../input/accused_demographics.csv.gz')

In [20]:
atr_dict = append_to_reference(sub_df=acc, ref_df=ref, profile_df=prof, print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name'])

1431 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name'] columns
9160 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name'] columns
948 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1138 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
388 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
2378 Matches on
['Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name'] columns
221 Matches on
['Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
341 Matches on
['Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
2 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name'] columns
5 Matches on
['Current.Unit', 'Suffix.Name', 'Race', 'Gender', 'Birth.Year', 'Appointed.Date', 'First.Name'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name'] columns
1 Matches on
['Current.Unit', 'Suffix.Name', 'Gender', 'Birth.Year', 'Appointed.Date', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4FN'] columns
16018 Total Merged. 50.03% of DF1 and 99.98% of DF2 Merged.
15998 Unmerged in DF1. 49.97% Unmerged.
3 Unmerged in DF2. 0.02% Unmerged.

In [21]:
um1 = atr_dict['UM1']
um2 = atr_dict['UM2']

In [22]:
um2

,accused_ID,Appointed.Date,Last.Name,F4FN,Suffix.Name,Race,First.Name,Gender,Birth.Year,Middle.Initial,Current.Unit,F4LN
7768,14393,1999-03-08,LACASACALIZ,SUSA,NaN,WHITE,SUSANA,FEMALE,1964,NaN,376.0,LACA
9246,9231,2000-09-11,CONTRERAS,LUIS,NaN,WHITE,LUIS,MALE,1968,NaN,376.0,CONT
15030,5688,2012-10-05,JUDEH,JAME,NaN,HISPANIC,JAMEL,MALE,1983,NaN,44.0,JUDE

In [23]:
prof[prof['First.Name'] == 'JAMES'][prof['Last.Name']=='BANSLEY']

/Users/invinst/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,UID,Middle.Initial2,Star8,Star6,all-sworn_ID,Appointed.Date,Star2,Race,Star9,ase-units_ID,Star10,Star4,Current.Unit,Middle.Initial,Birth.Year,Star1,Last.Name,Current.Age,all-sworn-units_ID,all-members_ID,Suffix.Name,Star5,Star3,Star7,Gender,First.Name
1258,1259,NaN,NaN,NaN,31998.0,2009-12-16,NaN,WHITE,NaN,1238.0,NaN,NaN,5.0,A,1983.0,10927.0,BANSLEY,32.0,31998.0,31917.0,NaN,NaN,NaN,NaN,MALE,JAMES
1259,1260,NaN,NaN,NaN,31999.0,2009-12-16,NaN,WHITE,NaN,1239.0,NaN,NaN,4.0,H,1983.0,8791.0,BANSLEY,33.0,31999.0,31918.0,NaN,NaN,NaN,NaN,MALE,JAMES

In [24]:
wit = pd.read_csv('../input/witnesses_demographics.csv.gz')

In [25]:
# Lots of problems in this file
#atr_dict = append_to_reference(sub_df=wit, ref_df=ref, profile_df=prof, print_merging=True, return_unmatched=True,
                              #no_match_cols=['Last.Name'])

In [ ]:
inv = pd.read_csv('../input/investigators_demographics.csv.gz')