In [1]:
import pandas as pd
from assign_unique_ids_functions import *

In [2]:
df = pd.read_csv("../input/salary.csv.gz")
df.head()

,Pay.Grade,Title,Year,SPP.Date,Employee.Status,Gender,Age.at.Hire,Start.Date,Salary,Org.Hire.Date,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name
0,D|1,POLICE OFFICER,2002,1994-08-01,CAREER SERVICE,MALE,29.0,1994-08-01,57426,1994-08-01,TALIAFERRO,CHRISTOPHE,NaN,NaN,NaN
1,D|1,POLICE OFFICER,2002,2002-07-29,PROBATIONARY CAREER SERVICE,MALE,30.0,2002-07-29,36984,1994-07-01,CHEREK,BEN,J,NaN,NaN
2,D|1,POLICE OFFICER,2002,1998-07-27,CAREER SERVICE,MALE,24.0,1998-07-27,54672,1998-07-27,GAINER,BRIAN,P,NaN,NaN
3,D|1,POLICE OFFICER,2002,1998-07-27,CAREER SERVICE,FEMALE,28.0,1998-07-27,54672,1998-07-27,REWERS,TRACEY,L,NaN,NaN
4,D|1,POLICE OFFICER,2002,1990-03-26,CAREER SERVICE,MALE,32.0,1990-03-26,59412,1990-03-26,MCGRAW,PAUL,M,NaN,NaN

In [3]:
df[df['Middle.Initial2'].notnull()]

,Pay.Grade,Title,Year,SPP.Date,Employee.Status,Gender,Age.at.Hire,Start.Date,Salary,Org.Hire.Date,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name
345,D|1,POLICE OFFICER,2002,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,59412,1991-11-18,MARSH,ERIN,E,M,NaN
13850,D|1,POLICE OFFICER,2003,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,60600,1991-11-18,MARSH,ERIN,E,M,NaN
28197,D|1,POLICE OFFICER,2004,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,60600,1991-11-18,MARSH,ERIN,E,M,NaN
42345,D|1,POLICE OFFICER,2005,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,66906,1991-11-18,MARSH,ERIN,E,M,NaN
56439,D|1,POLICE OFFICER,2006,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,71682,1991-11-18,MARSH,ERIN,E,M,NaN
70581,D|1,POLICE OFFICER,2007,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,73116,1991-11-18,MARSH,ERIN,E,M,NaN
84680,D|1,POLICE OFFICER,2008,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,73116,1991-11-18,MARSH,ERIN,E,M,NaN
98448,D|1,POLICE OFFICER,2009,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,73116,1991-11-18,MARSH,ERIN,E,M,NaN
111721,D|1,POLICE OFFICER,2010,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,78360,1991-11-18,MARSH,ERIN,E,M,NaN
124841,D|1,POLICE OFFICER,2011,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,82878,1991-11-18,MARSH,ERIN,E,M,NaN
137455,D|1,POLICE OFFICER,2012,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,83706,1991-11-18,MARSH,ERIN,E,M,NaN
159923,D|1,POLICE OFFICER,2013,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,83706,1991-11-18,MARSH,ERIN,E,M,NaN
172747,D|1,POLICE OFFICER,2014,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,88830,1991-11-18,MARSH,ERIN,E,M,NaN
185554,D|1,POLICE OFFICER,2015,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,89718,1991-11-18,MARSH,ERIN,E,M,NaN
187793,D|1,POLICE OFFICER,2016,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,95106,1991-11-18,MARSH,ERIN,E,M,NaN
200579,D|1,POLICE OFFICER,2017,1991-11-18,CAREER SERVICE,FEMALE,38.0,1991-11-18,96060,1991-11-18,MARSH,ERIN,E,M,NaN

In [8]:
tdf = df.loc[df["Year"]==2003]

In [10]:
kd = keep_duplicates(tdf, ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Age.at.Hire", "Org.Hire.Date", "Start.Date", "Salary"])
print(kd.shape)
kd

(912, 14)

,Year,Salary,Org.Hire.Date,Pay.Grade,Title,SPP.Date,Gender,Employee.Status,Age.at.Hire,Start.Date,Last.Name,Suffix.Name,First.Name,Middle.Initial
17457,2003,63456,1997-03-17,D|1,POLICE OFFICER,1997-03-17,MALE,CAREER SERVICE,31,1997-03-17,KATZ,NaN,ADAM,L
17458,2003,63456,1997-03-17,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,31,1997-03-17,KATZ,NaN,ADAM,L
18456,2003,70488,1995-06-05,D|1,POLICE OFFICER,1995-06-05,MALE,CAREER SERVICE,24,1995-06-05,LASCH,NaN,ALAN,P
18457,2003,70488,1995-06-05,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,24,1995-06-05,LASCH,NaN,ALAN,P
16449,2003,65868,1987-12-07,D|1,POLICE OFFICER,1987-12-07,MALE,CAREER SERVICE,27,1987-12-07,WENDT,NaN,ALBERT,B
16450,2003,65868,1987-12-07,D|2,POLICE AGENT,2003-06-16,MALE,CAREER SERVICE,27,1987-12-07,WENDT,NaN,ALBERT,B
13949,2003,63456,1997-08-04,D|1,POLICE OFFICER,1997-08-04,MALE,CAREER SERVICE,26,1997-08-04,VIVAS,JR,ALFREDO,NaN
13950,2003,63456,1997-08-04,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,26,1997-08-04,VIVAS,JR,ALFREDO,NaN
17815,2003,70488,1996-03-18,D|1,POLICE OFFICER,1996-03-18,FEMALE,CAREER SERVICE,22,1996-03-18,CHRISTIAN,NaN,ALISON,NaN
17816,2003,70488,1996-03-18,E|3,SERGEANT,NaN,FEMALE,CAREER SERVICE,22,1996-03-18,CHRISTIAN,NaN,ALISON,NaN
14224,2003,65646,1990-03-26,D|1,POLICE OFFICER,1990-03-26,MALE,CAREER SERVICE,23,1990-03-26,LEE,NaN,ALLEN,G
14225,2003,65646,1990-03-26,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,23,1990-03-26,LEE,NaN,ALLEN,G
20392,2003,70488,1995-12-04,D|1,POLICE OFFICER,1995-12-04,MALE,CAREER SERVICE,25,1995-12-04,COSTELLO,NaN,ANDREW,V
20393,2003,70488,1995-12-04,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,25,1995-12-04,COSTELLO,NaN,ANDREW,V
22759,2003,58572,1990-06-01,D|1,POLICE OFFICER,1995-07-10,FEMALE,CAREER SERVICE,34,1995-07-10,ASHFORD,NaN,ANGLETTA,E
22760,2003,58572,1990-06-01,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,FEMALE,CAREER SERVICE,34,1995-07-10,ASHFORD,NaN,ANGLETTA,E
17039,2003,58572,1996-12-02,D|1,POLICE OFFICER,1996-12-02,FEMALE,CAREER SERVICE,32,1996-12-02,WHICHER,NaN,ANITA,J
17040,2003,58572,1996-12-02,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),NaN,FEMALE,CAREER SERVICE,32,1996-12-02,WHICHER,NaN,ANITA,J
19403,2003,70488,1994-10-17,D|3,POLICE OFFICER (ASSIGNED AS SECURITY SPECIALIST),2003-04-01,MALE,CAREER SERVICE,27,1997-07-07,CIARAVINO,NaN,ANTHONY,G
19404,2003,70488,1994-10-17,D|1,POLICE OFFICER,1997-07-07,MALE,CAREER SERVICE,27,1997-07-07,CIARAVINO,NaN,ANTHONY,G
21918,2003,58572,1998-03-16,D|1,POLICE OFFICER,1998-03-16,MALE,CAREER SERVICE,34,1998-03-16,DOMBROWSKI,NaN,ANTHONY,M
21919,2003,58572,1998-03-16,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,MALE,CAREER SERVICE,34,1998-03-16,DOMBROWSKI,NaN,ANTHONY,M
14766,2003,72810,1992-01-02,D|2A,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),NaN,MALE,CAREER SERVICE,21,1992-01-02,ESCAMILLA,NaN,ANTHONY,J
14767,2003,72810,1992-01-02,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,21,1992-01-02,ESCAMILLA,NaN,ANTHONY,J
25638,2003,67884,1985-07-01,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,26,1985-07-01,GIRALAMO,JR,ANTHONY,J
25639,2003,67884,1985-07-01,D|2,POLICE OFFICER (ASGND AS MOUNTED PATROL OFFICER),NaN,MALE,CAREER SERVICE,26,1985-07-01,GIRALAMO,JR,ANTHONY,J
14202,2003,62742,1986-08-11,D|1,POLICE OFFICER,1986-08-11,MALE,CAREER SERVICE,26,1986-08-11,HACK,NaN,ANTHONY,E
14203,2003,62742,1986-08-11,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,MALE,CAREER SERVICE,26,1986-08-11,HACK,NaN,ANTHONY,E
25393,2003,70488,1996-11-04,D|1,POLICE OFFICER,1996-11-04,MALE,CAREER SERVICE,27,1996-11-04,SCHULZ,NaN,ANTHONY,W
25394,2003,70488,1996-11-04,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,27,1996-11-04,SCHULZ,NaN,ANTHONY,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19390,2003,61518,1995-06-05,D|2,POLICE OFFICER (ASGND AS MARINE OFFICER),2003-02-16,MALE,CAREER SERVICE,25,1995-06-05,BROWN,NaN,WILLIAM,R
24098,2003,63456,1994-08-01,D|1,POLICE OFFICER,1994-08-01,MALE,CAREER SERVICE,25,1994-08-01,BURKE,NaN,WILLIAM,P
24099,2003,63456,1994-08-01,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,25,1994-08-01,BURKE,NaN,WILLIAM,P
25660,2003,62742,1987-03-09,D|1,POLICE OFFICER,1987-03-09,MALE,CAREER SERVICE,27,1987-03-09,BURNS,NaN,WILLIAM,B
25661,2003,62742,1987-03-09,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,MALE,CAREER SERVICE,27,1987-03-09,BURNS,NaN,WILLIAM,B
20340,2003,70488,1996-05-06,D|1,POLICE OFFICER,1996-05-06,MALE,CAREER SERVICE,26,1996-05-06,CLUCAS,JR,WILLIAM,E
20341,2003,70488,1996-05-06,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,26,1996-05-06,CLUCAS,JR,WILLIAM,E
24197,2003,72810,1992-06-29,D|1,POLICE OFFICER,1992-06-29,MALE,CAREER SERVICE,38,1992-06-29,LERCH,NaN,WILLIAM,G
24198,2003,72810,1992-06-29,D|2,POLICE OFFICER / FLD TRNG OFFICER,2003-06-01,MALE,CAREER SERVICE,38,1992-06-29,LERCH,NaN,WILLIAM,G
24199,2003,72810,1992-06-29,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,38,1992-06-29,LERCH,NaN,WILLIAM,G
24337,2003,65868,1988-03-16,D|2,POLICE OFFICER/EXPLSV DETECT K9 HNDLR,2003-04-16,MALE,CAREER SERVICE,27,1988-11-07,MARTINEZ,NaN,WILLIAM,NaN
24338,2003,65868,1988-03-16,D|1,POLICE OFFICER,1988-11-07,MALE,CAREER SERVICE,27,1988-11-07,MARTINEZ,NaN,WILLIAM,NaN
13955,2003,63456,1996-05-06,D|1,POLICE OFFICER,1996-05-06,MALE,CAREER SERVICE,28,1996-05-06,MCCLELLAND,III,WILLIAM,J
13956,2003,63456,1996-05-06,D|2A,POLICE OFFICER (ASSIGNED AS DETECTIVE),2003-07-01,MALE,CAREER SERVICE,28,1996-05-06,MCCLELLAND,III,WILLIAM,J
14440,2003,121728,1982-07-19,SR|9752,COMMANDER,2003-11-14,MALE,SENIOR EXECUTIVE SERVICE,26,1983-07-17,ODONNELL,NaN,WILLIAM,M
14441,2003,121728,1982-07-19,SR|9762,ADMINISTRATIVE ASST - POLICE,NaN,MALE,SENIOR EXECUTIVE SERVICE,26,1983-07-17,ODONNELL,NaN,WILLIAM,M
17008,2003,75102,1986-10-13,D|1,POLICE OFFICER,1986-10-13,MALE,CAREER SERVICE,28,1986-10-13,RAPIER,NaN,WILLIAM,A
17009,2003,75102,1986-10-13,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,28,1986-10-13,RAPIER,NaN,WILLIAM,A
24213,2003,77514,1983-02-14,D|1,POLICE OFFICER,1983-02-14,MALE,CAREER SERVICE,29,1983-02-14,STEVENS,NaN,WILLIAM,J
24214,2003,77514,1983-02-14,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,29,1983-02-14,STEVENS,NaN,WILLIAM,J
22778,2003,61518,1998-11-30,D|1,POLICE OFFICER,1998-11-30,MALE,CAREER SERVICE,35,1998-11-30,CRAWFORD,NaN,WILLIE,B
22779,2003,61518,1998-11-30,D|2,POLICE OFFICER / FLD TRNG OFFICER,2003-06-01,MALE,CAREER SERVICE,35,1998-11-30,CRAWFORD,NaN,WILLIE,B
18968,2003,62742,1986-10-13,D|1,POLICE OFFICER,1986-10-13,MALE,CAREER SERVICE,31,1986-10-13,MCGHEE,NaN,WILLIE,J
18969,2003,62742,1986-10-13,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,MALE,CAREER SERVICE,31,1986-10-13,MCGHEE,NaN,WILLIE,J
25512,2003,82422,1977-11-01,D|2,POLICE OFFICER / FLD TRNG OFFICER,NaN,MALE,CAREER SERVICE,38,1984-02-01,SMITH,NaN,WILLIE,J
25513,2003,82422,1977-11-01,E|3,SERGEANT,NaN,MALE,CAREER SERVICE,38,1984-02-01,SMITH,NaN,WILLIE,J
20891,2003,61518,1995-12-04,D|1,POLICE OFFICER,1995-12-04,FEMALE,CAREER SERVICE,34,1995-12-04,BREWER,NaN,YOLANDA,D
20892,2003,61518,1995-12-04,D|2,POLICE AGENT,2003-06-16,FEMALE,CAREER SERVICE,34,1995-12-04,BREWER,NaN,YOLANDA,D
21271,2003,61518,1994-01-18,D|1,POLICE OFFICER,1994-01-18,FEMALE,CAREER SERVICE,32,1994-01-18,MULLINGS,NaN,ZOILA,M
21272,2003,61518,1994-01-18,D|2,POLICE AGENT,2003-06-16,FEMALE,CAREER SERVICE,32,1994-01-18,MULLINGS,NaN,ZOILA,M

In [8]:
tdf = df.loc[df["Year"]==2003]
tdf[tdf['First.Name'] == 'ANTHONY'][tdf['Last.Name']=='GIBBONS']

/Users/invinst/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
85778,2003,31.0,POLICE OFFICER,1991-01-30,MALE,1991-01-30,60600.0,1991-01-30,D|1,CAREER SERVICE,GIBBONS,NaN,ANTHONY,V

In [9]:
kd = keep_duplicates(tdf, ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Age.at.Hire", "Salary"])
print(kd.shape)
kd

(912, 14)

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
80213,2003,31.0,POLICE OFFICER,1997-03-17,MALE,1997-03-17,63456.0,1997-03-17,D|1,CAREER SERVICE,KATZ,NaN,ADAM,L
80214,2003,31.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1997-03-17,MALE,2003-07-01,63456.0,1997-03-17,D|2A,CAREER SERVICE,KATZ,NaN,ADAM,L
81212,2003,24.0,POLICE OFFICER,1995-06-05,MALE,1995-06-05,70488.0,1995-06-05,D|1,CAREER SERVICE,LASCH,NaN,ALAN,P
81213,2003,24.0,SERGEANT,1995-06-05,MALE,NaN,70488.0,1995-06-05,E|3,CAREER SERVICE,LASCH,NaN,ALAN,P
79205,2003,27.0,POLICE OFFICER,1987-12-07,MALE,1987-12-07,65868.0,1987-12-07,D|1,CAREER SERVICE,WENDT,NaN,ALBERT,B
79206,2003,27.0,POLICE AGENT,1987-12-07,MALE,2003-06-16,65868.0,1987-12-07,D|2,CAREER SERVICE,WENDT,NaN,ALBERT,B
76705,2003,26.0,POLICE OFFICER,1997-08-04,MALE,1997-08-04,63456.0,1997-08-04,D|1,CAREER SERVICE,VIVAS,JR,ALFREDO,NaN
76706,2003,26.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1997-08-04,MALE,2003-07-01,63456.0,1997-08-04,D|2A,CAREER SERVICE,VIVAS,JR,ALFREDO,NaN
80571,2003,22.0,POLICE OFFICER,1996-03-18,FEMALE,1996-03-18,70488.0,1996-03-18,D|1,CAREER SERVICE,CHRISTIAN,NaN,ALISON,NaN
80572,2003,22.0,SERGEANT,1996-03-18,FEMALE,NaN,70488.0,1996-03-18,E|3,CAREER SERVICE,CHRISTIAN,NaN,ALISON,NaN
76980,2003,23.0,POLICE OFFICER,1990-03-26,MALE,1990-03-26,65646.0,1990-03-26,D|1,CAREER SERVICE,LEE,NaN,ALLEN,G
76981,2003,23.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1990-03-26,MALE,2003-07-01,65646.0,1990-03-26,D|2A,CAREER SERVICE,LEE,NaN,ALLEN,G
83148,2003,25.0,POLICE OFFICER,1995-12-04,MALE,1995-12-04,70488.0,1995-12-04,D|1,CAREER SERVICE,COSTELLO,NaN,ANDREW,V
83149,2003,25.0,SERGEANT,1995-12-04,MALE,NaN,70488.0,1995-12-04,E|3,CAREER SERVICE,COSTELLO,NaN,ANDREW,V
85515,2003,34.0,POLICE OFFICER,1990-06-01,FEMALE,1995-07-10,58572.0,1995-07-10,D|1,CAREER SERVICE,ASHFORD,NaN,ANGLETTA,E
85516,2003,34.0,POLICE OFFICER / FLD TRNG OFFICER,1990-06-01,FEMALE,NaN,58572.0,1995-07-10,D|2,CAREER SERVICE,ASHFORD,NaN,ANGLETTA,E
79795,2003,32.0,POLICE OFFICER,1996-12-02,FEMALE,1996-12-02,58572.0,1996-12-02,D|1,CAREER SERVICE,WHICHER,NaN,ANITA,J
79796,2003,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1996-12-02,FEMALE,NaN,58572.0,1996-12-02,D|2A,CAREER SERVICE,WHICHER,NaN,ANITA,J
82159,2003,27.0,POLICE OFFICER (ASSIGNED AS SECURITY SPECIALIST),1994-10-17,MALE,2003-04-01,70488.0,1997-07-07,D|3,CAREER SERVICE,CIARAVINO,NaN,ANTHONY,G
82160,2003,27.0,POLICE OFFICER,1994-10-17,MALE,1997-07-07,70488.0,1997-07-07,D|1,CAREER SERVICE,CIARAVINO,NaN,ANTHONY,G
84674,2003,34.0,POLICE OFFICER,1998-03-16,MALE,1998-03-16,58572.0,1998-03-16,D|1,CAREER SERVICE,DOMBROWSKI,NaN,ANTHONY,M
84675,2003,34.0,POLICE OFFICER / FLD TRNG OFFICER,1998-03-16,MALE,NaN,58572.0,1998-03-16,D|2,CAREER SERVICE,DOMBROWSKI,NaN,ANTHONY,M
77522,2003,21.0,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1992-01-02,MALE,NaN,72810.0,1992-01-02,D|2A,CAREER SERVICE,ESCAMILLA,NaN,ANTHONY,J
77523,2003,21.0,SERGEANT,1992-01-02,MALE,NaN,72810.0,1992-01-02,E|3,CAREER SERVICE,ESCAMILLA,NaN,ANTHONY,J
88394,2003,26.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1985-07-01,MALE,2003-07-01,67884.0,1985-07-01,D|2A,CAREER SERVICE,GIRALAMO,JR,ANTHONY,J
88395,2003,26.0,POLICE OFFICER (ASGND AS MOUNTED PATROL OFFICER),1985-07-01,MALE,NaN,67884.0,1985-07-01,D|2,CAREER SERVICE,GIRALAMO,JR,ANTHONY,J
76958,2003,26.0,POLICE OFFICER,1986-08-11,MALE,1986-08-11,62742.0,1986-08-11,D|1,CAREER SERVICE,HACK,NaN,ANTHONY,E
76959,2003,26.0,POLICE OFFICER / FLD TRNG OFFICER,1986-08-11,MALE,NaN,62742.0,1986-08-11,D|2,CAREER SERVICE,HACK,NaN,ANTHONY,E
88149,2003,27.0,POLICE OFFICER,1996-11-04,MALE,1996-11-04,70488.0,1996-11-04,D|1,CAREER SERVICE,SCHULZ,NaN,ANTHONY,W
88150,2003,27.0,SERGEANT,1996-11-04,MALE,NaN,70488.0,1996-11-04,E|3,CAREER SERVICE,SCHULZ,NaN,ANTHONY,W
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82146,2003,25.0,POLICE OFFICER (ASGND AS MARINE OFFICER),1995-06-05,MALE,2003-02-16,61518.0,1995-06-05,D|2,CAREER SERVICE,BROWN,NaN,WILLIAM,R
86854,2003,25.0,POLICE OFFICER,1994-08-01,MALE,1994-08-01,63456.0,1994-08-01,D|1,CAREER SERVICE,BURKE,NaN,WILLIAM,P
86855,2003,25.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1994-08-01,MALE,2003-07-01,63456.0,1994-08-01,D|2A,CAREER SERVICE,BURKE,NaN,WILLIAM,P
88416,2003,27.0,POLICE OFFICER,1987-03-09,MALE,1987-03-09,62742.0,1987-03-09,D|1,CAREER SERVICE,BURNS,NaN,WILLIAM,B
88417,2003,27.0,POLICE OFFICER / FLD TRNG OFFICER,1987-03-09,MALE,NaN,62742.0,1987-03-09,D|2,CAREER SERVICE,BURNS,NaN,WILLIAM,B
83096,2003,26.0,POLICE OFFICER,1996-05-06,MALE,1996-05-06,70488.0,1996-05-06,D|1,CAREER SERVICE,CLUCAS,JR,WILLIAM,E
83097,2003,26.0,SERGEANT,1996-05-06,MALE,NaN,70488.0,1996-05-06,E|3,CAREER SERVICE,CLUCAS,JR,WILLIAM,E
86953,2003,38.0,POLICE OFFICER,1992-06-29,MALE,1992-06-29,72810.0,1992-06-29,D|1,CAREER SERVICE,LERCH,NaN,WILLIAM,G
86954,2003,38.0,POLICE OFFICER / FLD TRNG OFFICER,1992-06-29,MALE,2003-06-01,72810.0,1992-06-29,D|2,CAREER SERVICE,LERCH,NaN,WILLIAM,G
86955,2003,38.0,SERGEANT,1992-06-29,MALE,NaN,72810.0,1992-06-29,E|3,CAREER SERVICE,LERCH,NaN,WILLIAM,G
87093,2003,27.0,POLICE OFFICER/EXPLSV DETECT K9 HNDLR,1988-03-16,MALE,2003-04-16,65868.0,1988-11-07,D|2,CAREER SERVICE,MARTINEZ,NaN,WILLIAM,NaN
87094,2003,27.0,POLICE OFFICER,1988-03-16,MALE,1988-11-07,65868.0,1988-11-07,D|1,CAREER SERVICE,MARTINEZ,NaN,WILLIAM,NaN
76711,2003,28.0,POLICE OFFICER,1996-05-06,MALE,1996-05-06,63456.0,1996-05-06,D|1,CAREER SERVICE,MCCLELLAND,III,WILLIAM,J
76712,2003,28.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),1996-05-06,MALE,2003-07-01,63456.0,1996-05-06,D|2A,CAREER SERVICE,MCCLELLAND,III,WILLIAM,J
77196,2003,26.0,COMMANDER,1982-07-19,MALE,2003-11-14,121728.0,1983-07-17,SR|9752,SENIOR EXECUTIVE SERVICE,ODONNELL,NaN,WILLIAM,M
77197,2003,26.0,ADMINISTRATIVE ASST - POLICE,1982-07-19,MALE,NaN,121728.0,1983-07-17,SR|9762,SENIOR EXECUTIVE SERVICE,ODONNELL,NaN,WILLIAM,M
79764,2003,28.0,POLICE OFFICER,1986-10-13,MALE,1986-10-13,75102.0,1986-10-13,D|1,CAREER SERVICE,RAPIER,NaN,WILLIAM,A
79765,2003,28.0,SERGEANT,1986-10-13,MALE,NaN,75102.0,1986-10-13,E|3,CAREER SERVICE,RAPIER,NaN,WILLIAM,A
86969,2003,29.0,POLICE OFFICER,1983-02-14,MALE,1983-02-14,77514.0,1983-02-14,D|1,CAREER SERVICE,STEVENS,NaN,WILLIAM,J
86970,2003,29.0,SERGEANT,1983-02-14,MALE,NaN,77514.0,1983-02-14,E|3,CAREER SERVICE,STEVENS,NaN,WILLIAM,J
85534,2003,35.0,POLICE OFFICER,1998-11-30,MALE,1998-11-30,61518.0,1998-11-30,D|1,CAREER SERVICE,CRAWFORD,NaN,WILLIE,B
85535,2003,35.0,POLICE OFFICER / FLD TRNG OFFICER,1998-11-30,MALE,2003-06-01,61518.0,1998-11-30,D|2,CAREER SERVICE,CRAWFORD,NaN,WILLIE,B
81724,2003,31.0,POLICE OFFICER,1986-10-13,MALE,1986-10-13,62742.0,1986-10-13,D|1,CAREER SERVICE,MCGHEE,NaN,WILLIE,J
81725,2003,31.0,POLICE OFFICER / FLD TRNG OFFICER,1986-10-13,MALE,NaN,62742.0,1986-10-13,D|2,CAREER SERVICE,MCGHEE,NaN,WILLIE,J
88268,2003,38.0,POLICE OFFICER / FLD TRNG OFFICER,1977-11-01,MALE,NaN,82422.0,1984-02-01,D|2,CAREER SERVICE,SMITH,NaN,WILLIE,J
88269,2003,38.0,SERGEANT,1977-11-01,MALE,NaN,82422.0,1984-02-01,E|3,CAREER SERVICE,SMITH,NaN,WILLIE,J
83647,2003,34.0,POLICE OFFICER,1995-12-04,FEMALE,1995-12-04,61518.0,1995-12-04,D|1,CAREER SERVICE,BREWER,NaN,YOLANDA,D
83648,2003,34.0,POLICE AGENT,1995-12-04,FEMALE,2003-06-16,61518.0,1995-12-04,D|2,CAREER SERVICE,BREWER,NaN,YOLANDA,D
84027,2003,32.0,POLICE OFFICER,1994-01-18,FEMALE,1994-01-18,61518.0,1994-01-18,D|1,CAREER SERVICE,MULLINGS,NaN,ZOILA,M
84028,2003,32.0,POLICE AGENT,1994-01-18,FEMALE,2003-06-16,61518.0,1994-01-18,D|2,CAREER SERVICE,MULLINGS,NaN,ZOILA,M

In [13]:
tdf.loc[tdf["Start.Date"].isnull() & tdf["Org.Date"].isnull() & tdf["SPP.Date"].isnull()]

Empty DataFrame
Columns: [Year, Age.at.Hire, Title, Org.Date, Gender, SPP.Date, Salary, Start.Date, Pay.Grade, Employee.Status, Last.Name, Suffix.Name, First.Name, Middle.Initial]
Index: []

In [14]:
tdf.loc[tdf["Start.Date"].isnull() & tdf["Org.Date"].isnull()]

Empty DataFrame
Columns: [Year, Age.at.Hire, Title, Org.Date, Gender, SPP.Date, Salary, Start.Date, Pay.Grade, Employee.Status, Last.Name, Suffix.Name, First.Name, Middle.Initial]
Index: []

In [15]:
tdf.loc[tdf["Start.Date"].isnull() & tdf["SPP.Date"].isnull()]

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
62762,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1969-04-19,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,RABBIT,NaN,LOUIS,J
62771,2002,NaN,SERGEANT,1973-02-19,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,MARSHALL,NaN,MILTON,C
62793,2002,NaN,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1970-09-14,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,MASONICK,NaN,GREGORY,NaN
62851,2002,NaN,DEPUTY SUPERINTENDENT,1993-02-08,FEMALE,NaN,137688.0,NaN,EX|9782,SENIOR EXECUTIVE SERVICE,MCDONALD,NaN,BARBARA,B
62880,2002,NaN,SERGEANT,1977-01-08,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,HINKSON,NaN,DENNIS,S
62924,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,SWEENEY,NaN,CRAIG,J
62933,2002,NaN,SERGEANT,1973-06-04,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,WAGNER,NaN,WILLIAM,P
62959,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,ZUNIGA,NaN,JUAN,M
62972,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1967-09-18,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,BURZINSKI,NaN,WALTER,S
62973,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1968-10-28,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,BOWENS,JR,LEON,NaN
62976,2002,NaN,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1966-06-27,FEMALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,DWYER,NaN,MARITA,NaN
62981,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1970-09-14,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,HABIAK,NaN,GUY,D
62983,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1964-06-15,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,WALZ,NaN,EDWARD,T
62985,2002,NaN,POLICE OFFICER (ASSIGNED AS GANG SPECIALIST),1972-10-23,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,OBARTUCH,NaN,RICHARD,E
62991,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1969-01-06,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,BERRIS,NaN,KENNETH,A
62996,2002,NaN,SERGEANT,1966-07-18,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,WHITESIDE,NaN,GEORGE,M
63002,2002,NaN,DEPUTY SUPERINTENDENT,1970-09-14,MALE,NaN,137688.0,NaN,EX|9782,SENIOR EXECUTIVE SERVICE,CHIESA,NaN,ANTHONY,S
63038,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1974-02-19,FEMALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,RILEY,NaN,MARY,P
63154,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,QUINN,III,JOSEPH,F
63220,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,ADAMSKI,NaN,JERRY,J
63269,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1962-11-12,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,BOYLE,NaN,JOHN,T
63279,2002,NaN,SERGEANT,1972-12-30,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,VETH,NaN,EDWARD,F
63284,2002,NaN,SERGEANT,1967-11-14,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,PORTER,NaN,DENNIS,NaN
63287,2002,NaN,POLICE OFFICER (PER ARBITRATION AWARD),1973-10-22,MALE,NaN,69330.0,NaN,D|2,CAREER SERVICE,OCONNELL,NaN,EMMETT,A
63291,2002,NaN,POLICE OFFICER (PER ARBITRATION AWARD),1967-12-18,MALE,NaN,71382.0,NaN,D|2,CAREER SERVICE,JONES,NaN,THOMAS,J
63294,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1971-06-14,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,TYLER,NaN,DALLAS,R
63296,2002,NaN,EXPLOSIVES TECHNICIAN III,1970-01-19,MALE,NaN,97200.0,NaN,E|5,CAREER SERVICE,MCELRATH,NaN,BRUCE,T
63316,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1971-07-28,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,SZELUGA,NaN,RICHARD,L
63327,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1971-06-14,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,DUCKHORN,NaN,JOHN,R
63330,2002,NaN,SERGEANT,1973-03-24,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,KOSTE,NaN,GEORGE,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74923,2002,NaN,SERGEANT,1971-10-12,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,AMIDEI,NaN,DANIEL,R
74925,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1969-01-06,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,ABBATE,NaN,CARMEL,G
74929,2002,NaN,SERGEANT,1966-07-11,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,HARRIS,NaN,JACK,F
74974,2002,NaN,SERGEANT,1973-06-04,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,LOHRMAN,NaN,GORDON,F
75217,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1966-09-19,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,COMBES,NaN,STEPHAN,O
75229,2002,NaN,SERGEANT,1967-02-13,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,BATTALINI,NaN,ROBERT,J
75243,2002,NaN,SERGEANT,1969-01-06,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,BRANNIGAN,NaN,DANIEL,NaN
75248,2002,NaN,SERGEANT,1977-11-01,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,ELMORE,NaN,ROBERT,G
75252,2002,NaN,POLICE OFFICER (ASSIGNED AS GANG SPECIALIST),1973-10-22,MALE,NaN,71382.0,NaN,D|2A,CAREER SERVICE,HENNIS,NaN,JOHN,E
75263,2002,NaN,COMMANDER,1971-10-12,MALE,NaN,119340.0,NaN,SR|9752,SENIOR EXECUTIVE SERVICE,GROSS,NaN,EDWARD,F
75267,2002,NaN,POLICE OFFICER (PER ARBITRATION AWARD),1979-06-01,FEMALE,NaN,66828.0,NaN,D|2,CAREER SERVICE,TURNER,NaN,GRACIE,A
75377,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,GORDON,NaN,MICHAEL,P
75470,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,TROUTMAN,NaN,JEFFREY,L
75479,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,TYLER,NaN,DALLAS,C
75496,2002,NaN,SERGEANT,1970-09-14,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,MCMULLIN,NaN,JAMES,M
75505,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1970-06-15,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,SOREGHEN,NaN,ROBERT,W
75529,2002,NaN,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1970-09-14,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,BELINSKI,NaN,TERRANCE,E
75534,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1970-12-14,MALE,NaN,80808.0,NaN,D|2A,CAREER SERVICE,PETERSON,NaN,THOMAS,G
75537,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1970-03-02,MALE,NaN,73476.0,NaN,D|2A,CAREER SERVICE,HOFER,NaN,MARK,A
75538,2002,NaN,POLICE OFFICER (ASSIGNED AS DETECTIVE),1973-02-19,MALE,NaN,71382.0,NaN,D|2A,CAREER SERVICE,MICETIC,NaN,MICHAEL,W
75539,2002,NaN,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1975-01-20,FEMALE,NaN,71382.0,NaN,D|2A,CAREER SERVICE,KOS,NaN,PATRICIA,M
75782,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,CHO,NaN,SEUNG,H
75805,2002,NaN,SERGEANT,1975-05-16,MALE,NaN,78450.0,NaN,E|3,CAREER SERVICE,NELSON,NaN,JOHN,NaN
75908,2002,NaN,SERGEANT,1966-01-24,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,KNIGHT,NaN,JAMES,E
75960,2002,NaN,SERGEANT,1971-02-22,MALE,NaN,80808.0,NaN,E|3,CAREER SERVICE,SPENCER,NaN,EDDIE,NaN
76013,2002,NaN,COMMANDER OF GENERAL SUPPORT DIVISION,1966-11-14,MALE,NaN,119340.0,NaN,SR|9742,SENIOR EXECUTIVE SERVICE,PRESAS,NaN,ABEL,NaN
76032,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,DOMINGUEZ,NaN,RUBEN,A
76071,2002,NaN,POLICE OFFICER (ASSIGNED AS INVESTIGATOR),1976-04-26,FEMALE,NaN,71382.0,NaN,D|2A,CAREER SERVICE,CATHERINE,NaN,BOBBIE,J
76118,2002,NaN,POLICE OFFICER,2002-10-28,FEMALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,DAVIS,NaN,DANIELLE,L
76120,2002,NaN,POLICE OFFICER,2002-10-28,MALE,NaN,36984.0,NaN,D|1,PROBATIONARY CAREER SERVICE,JAMES,NaN,ROBERT,H

In [16]:
tdf.loc[tdf["Org.Date"].isnull() & tdf["SPP.Date"].isnull()]

,Year,Age.at.Hire,Title,Org.Date,Gender,SPP.Date,Salary,Start.Date,Pay.Grade,Employee.Status,Last.Name,Suffix.Name,First.Name,Middle.Initial
66838,2002,37.0,SERGEANT,NaN,MALE,NaN,78450.0,1983-04-01,E|3,CAREER SERVICE,BLAKE,NaN,STEVEN,NaN
71019,2002,27.0,POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),NaN,MALE,NaN,71382.0,1971-07-26,D|2,CAREER SERVICE,FONDREN,NaN,ROY,NaN
75952,2002,32.0,POLICE OFFICER (ASSIGNED AS DETECTIVE),NaN,MALE,NaN,73476.0,1973-03-19,D|2A,CAREER SERVICE,THOMAS,NaN,CLEVELAND,NaN

In [17]:
df.loc[df["Start.Date"].isnull() & df["Org.Date"].isnull() & df["SPP.Date"].isnull()]

Empty DataFrame
Columns: [Year, Age.at.Hire, Title, Org.Date, Gender, SPP.Date, Salary, Start.Date, Pay.Grade, Employee.Status, Last.Name, Suffix.Name, First.Name, Middle.Initial]
Index: []

In [18]:
df.loc[df["Start.Date"].isnull() & df["Org.Date"].isnull()]

Empty DataFrame
Columns: [Year, Age.at.Hire, Title, Org.Date, Gender, SPP.Date, Salary, Start.Date, Pay.Grade, Employee.Status, Last.Name, Suffix.Name, First.Name, Middle.Initial]
Index: []