In [1]:
import pandas as pd
from assign_unique_ids_functions import *
from merge_functions import *
pd.options.display.max_columns = 1000

In [2]:
prof = pd.read_csv('../input/officer-profiles.csv.gz')
ref = pd.read_csv('../input/officer-reference.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3,4,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
trro = pd.read_csv('../input/trr-officers_demographics.csv.gz')

In [17]:
atr_dict = append_to_reference(sub_df=trro, ref_df=ref, profile_df=prof, print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name', 'Current.Star'], expand_stars=True)

1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star7'] columns
2 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
11 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
21 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
74 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
289 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
1633 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Current.Star'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star7'] columns
11 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
45 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
169 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
483 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
1431 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star10'] columns
6603 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Current.Star'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'F4LN', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name', 'Star1'] columns
2 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'First.Name', 'Star2'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'First.Name', 'Star1'] columns
4 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
2 Matches on
['Suffix.Name', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
10796 Total Merged. 33.71% of DF1 and 99.98% of DF2 Merged.
21230 Unmerged in DF1. 66.29% Unmerged.
2 Unmerged in DF2. 0.02% Unmerged.

In [18]:
um1 = atr_dict['UM1']
um2 = atr_dict['UM2']

In [19]:
um2

,trr-officers_ID,Appointed.Date,Star7,Current.Star,Star8,Suffix.Name,Star1,Middle.Initial,Star2,Star3,F4LN,Last.Name,Race,Star5,Star4,Gender,F4FN,Star6,Star9,First.Name,Star10
3968,3995,2007-03-16,18.0,18.0,18.0,NaN,18.0,NaN,18.0,18.0,KRUE,KRUEGER,WHITE,18.0,18.0,MALE,ALBE,18.0,18.0,ALBERT,18.0
4091,4121,1981-03-02,30109.0,30109.0,30109.0,NaN,30109.0,NaN,30109.0,30109.0,GALA,GALATI,WHITE,30109.0,30109.0,FEMALE,SHAR,30109.0,30109.0,SHARON,30109.0

In [21]:
trrs = pd.read_csv('../input/trr-statuses_demographics.csv.gz')

In [24]:
atr_dict = append_to_reference(sub_df=trrs, ref_df=ref, profile_df=prof, print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name', 'Current.Star'], expand_stars=True)

1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star7'] columns
4 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
8 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
46 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
120 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
350 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
1596 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star8'] columns
5 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star7'] columns
12 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
82 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
281 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
758 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
1848 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star10'] columns
6342 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'F4LN', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name', 'Star1'] columns
2 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'First.Name', 'Star2'] columns
3 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'First.Name', 'Star1'] columns
1 Matches on
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
2 Matches on
['Suffix.Name', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
11469 Total Merged. 35.81% of DF1 and 99.97% of DF2 Merged.
20557 Unmerged in DF1. 64.19% Unmerged.
3 Unmerged in DF2. 0.03% Unmerged.