In [8]:
import pandas as pd
from assign_unique_ids_functions import keep_duplicates, remove_duplicates
pd.options.display.max_columns = 999

In [9]:
df = pd.read_csv('all-sworn-units.csv.gz')

In [10]:
probs = pd.read_csv('problem_asu.csv')

In [11]:
df = df.merge(probs, on='all-sworn-units_ID', how = 'inner')

In [14]:
df.sort_values(['UID', 'Start.Date'])

,Gender,Birth.Year,Appointed.Date,Race,Start.Date,End.Date,Unit,Last.Name,First.Name,Middle.Initial,Middle.Initial2,Suffix.Name,all-sworn-units_ID,UID
6,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
7,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
8,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
9,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
10,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
11,MALE,1924.0,1955-02-01,WHITE,1955-02-01,1956-07-31,44.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
24,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
25,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
26,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
27,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
28,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
29,MALE,1924.0,1955-02-01,WHITE,1955-02-01,NaN,148.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
30,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
31,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
32,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
33,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
34,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
35,MALE,1924.0,1955-02-01,WHITE,1965-01-16,1966-01-05,152.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
0,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
1,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
2,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
3,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
4,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
5,MALE,1924.0,1955-02-01,WHITE,1966-01-06,1966-03-02,11.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
12,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
13,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
14,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
15,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
16,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
17,MALE,1924.0,1955-02-01,WHITE,1966-03-03,1967-01-04,86.0,ADAMIK,JOSEPH,P,NaN,NaN,15235,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19321,MALE,1934.0,1958-02-16,WHITE,1981-01-08,1981-02-04,6.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19322,MALE,1934.0,1958-02-16,WHITE,1981-01-08,1981-02-04,6.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19351,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19352,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19353,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19354,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19355,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19356,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19357,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19358,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19359,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19360,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19361,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19362,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19363,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19364,MALE,1934.0,1958-02-16,WHITE,1981-02-05,1981-02-06,8.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19435,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19436,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19437,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19438,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19439,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19440,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19441,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19442,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19443,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19444,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19445,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19446,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19447,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843
19448,MALE,1934.0,1958-02-16,WHITE,1981-02-07,NaN,165.0,ZITEK,JOHN,D,NaN,NaN,14911,31843