In [56]:
import pandas as pd
import numpy as np
import datetime
import os
import io
import re

In [57]:
input_path = "../input/"
out_path = "../output/"
out_file = "accused.csv"

files = [input_path + f for f in os.listdir(input_path)]

data = pd.DataFrame()
metadata = pd.DataFrame()

In [58]:
files

for f in files:
    data = data.append(pd.read_excel(f,skip_rows=10))
print(len(data['Unnamed: 2'].unique()))

15496

In [37]:
add_skip = 1
row_sums = 0
for path in files:
    df = pd.read_excel(path, rows=20)
    col_list = df.columns.tolist()
    # if [col if '\n' in col or len(col) > 40 for col in col_list]:
    #   metadata = True
    Report_Produced_Date = [x for x in col_list if isinstance(x, datetime.datetime)]
    col_list = [x for x in col_list if x not in Report_Produced_Date]
    FOIA_Request = [x for x in col_list if 'FOIA' in x][0]

    skip = np.where(df.iloc[:,0].str.contains('Number', na=False))[0][0]+add_skip
    df = (pd.read_excel(path, skiprows=skip)
            .dropna(how='all', axis=0)
            .dropna(how='all', axis=1))
    df.insert(0, "CRID", (df["Number:"]
                            .fillna(method='ffill')
                            .astype(int)))
    df = df.drop("Number:", axis=1)
    df = df.dropna(thresh = len(df.columns.values)-1)
    row_sums += df.shape[0]

In [38]:
row_sums

84970

In [40]:
path = files[1]
df = pd.read_excel(path, rows=20)
col_list = df.columns.tolist()
Report_Produced_Date = [x for x in col_list if isinstance(x, datetime.datetime)]
col_list = [x for x in col_list if x not in Report_Produced_Date]
FOIA_Request = [x for x in col_list if 'FOIA' in x][0]
skip = np.where(df.iloc[:,0].str.contains('Number', na=False))[0][0]+add_skip
print(skip)

10

In [44]:
df = pd.read_excel(path, skiprows=skip)
print(df.shape)
df = df.dropna(how='all', axis=0).dropna(how='all', axis=1)
print(df.shape)
df

(28064, 16)
(28064, 14)

,Number:,Accused:,Birth Yr:,Gender:,Race Code:,Date of Appt:,Current Unit:,Current Rank:,Star:,Complaint Category,Finding & Recommended Discipline,Unnamed: 13,Final Finding & Discipline,Unnamed: 15
0,286705.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"GAYTAN, LUIS",1966.0,M,S,1993-05-17,24.0,SGT,2069.0,10Z-MISCELLANEOUS,UN,600.0,UN,600.0
2,286706.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"DARLIN, RANDALL",1969.0,M,WHI,1993-11-22,7.0,Cpt,93.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,NS,600.0
4,NaN,"DAKURAS, ANDREW",1969.0,M,WHI,1995-01-03,189.0,SGT,2046.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,NS,600.0
5,NaN,"SANTOS, MICHAEL",1973.0,M,S,1996-03-18,189.0,SGT,2330.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,NS,600.0
6,NaN,"CORRAL, AMALIO",1968.0,M,S,1993-12-13,606.0,DET,20946.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,NS,600.0
7,286707.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,"MC BETH, THERESA",1969.0,F,BLK,2000-02-28,11.0,PO,6629.0,10J-NEGLECT OF DUTY/CONDUCT UNBECOMING - ON DUTY,NS,600.0,NS,600.0
9,286708.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,"BRYAN, EDWARD",1968.0,M,BLK,1996-08-05,22.0,PO,19701.0,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,UN,600.0,EX,600.0
11,NaN,"SMITH JR, LEE",1968.0,M,BLK,1998-04-13,6.0,PO,9695.0,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,UN,600.0,EX,600.0
12,286709.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,"PAGAN, JOHN",1949.0,M,S,1985-09-09,701.0,PO,NaN,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,NaN,NaN,NaN,NaN
14,286710.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,"WRIGHT, RONALD",1967.0,M,BLK,2000-10-10,20.0,PO,9904.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,UN,600.0
16,NaN,"CANTORE III, DOMINIC",1977.0,M,WHI,2000-08-14,16.0,PO,17861.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,UN,600.0
17,286711.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,"RESCHKE, DANIEL",1963.0,M,WHI,2001-08-27,24.0,PO,17201.0,10Z-MISCELLANEOUS,UN,600.0,NS,600.0
19,NaN,"REBECCHI, MARK",1975.0,M,WHI,2001-06-25,542.0,NaN,4348.0,10Z-MISCELLANEOUS,UN,600.0,NS,600.0
20,NaN,"HERRERA, KENNETH",1969.0,M,S,1999-11-15,19.0,PO,13680.0,10Z-MISCELLANEOUS,UN,600.0,NS,600.0
21,286712.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,"MC GREAL, DANIEL",1970.0,M,WHI,1998-06-08,22.0,PO,12522.0,"05G-WEAPON, USE/DISPLAY OF",NS,600.0,NS,600.0
23,286716.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,"LINDEMANN, GAIL",1969.0,F,S,1995-01-03,141.0,PO,6723.0,10U-INADEQUATE/FAILURE TO PROVIDE SERVICE,UN,600.0,UN,600.0
25,286718.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,"O CALLAGHAN, KEVIN",1971.0,M,WHI,1998-11-30,610.0,DET,20997.0,05D-NO ARREST,NS,600.0,NS,600.0
27,286719.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,"HENEGHAN, JAMES",1954.0,M,WHI,1985-12-16,9.0,SGT,NaN,12F-MISCELLANEOUS,NS,600.0,NS,600.0
29,286721.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28034,NaN,"CIRONE, SAMUEL",1968.0,M,WHI,1992-06-29,630.0,SGT,1808.0,10Z-MISCELLANEOUS,NaN,NaN,NaN,NaN
28035,NaN,"SPANOS, NICHOLAS",1970.0,M,WHI,1995-07-10,630.0,DET,21020.0,10Z-MISCELLANEOUS,NaN,NaN,NaN,NaN
28036,1072633.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28037,NaN,"BREIMON, GERALD",1968.0,M,WHI,1993-11-22,14.0,SGT,869.0,08N-MISCELLANEOUS,NS,600.0,NS,600.0
28038,1072863.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28039,NaN,"WILLIAMS, KARLISA",1977.0,F,BLK,2014-04-28,5.0,PO,19576.0,05H-MISCELLANEOUS,SU,0.0,SU,0.0
28040,1075713.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28041,NaN,"FINNIGAN, JEROME",1963.0,M,WHI,1988-12-05,376.0,PO,NaN,NaN,NaN,NaN,NaN,NaN
28042,NaN,"VILLAREAL, FRANK",1968.0,M,S,1994-08-01,376.0,PO,NaN,NaN,NaN,NaN,NaN,NaN
28043,1077404.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28044,NaN,"LUTZOW, BRIAN",1966.0,M,WHI,1996-11-04,79.0,DET,21328.0,NaN,NaN,NaN,NaN,NaN
28045,NaN,"GARZA, ROBERT",1970.0,M,S,1999-11-29,10.0,SGT,1105.0,NaN,NaN,NaN,NaN,NaN
28046,1078832.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28047,NaN,"BALODIMAS, DEMOSTHEN",1960.0,M,WHI,1991-04-24,630.0,DET,21204.0,NaN,NaN,NaN,NaN,NaN
28048,1079150.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28049,NaN,"NIEWDACH, ZBIGNIEW",1957.0,M,WHI,1985-09-09,277.0,NaN,17629.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,EX,600.0
28050,NaN,"BAGDON, TIMOTHY",1963.0,M,WHI,1991-01-30,620.0,DET,20551.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,EX,600.0
28051,NaN,"VAN WITZENBURG, SYLVIA",1960.0,F,WHI,1992-09-28,620.0,DET,21011.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,EX,600.0
28052,NaN,"EBERLE, KEVIN",1968.0,M,WHI,1993-11-22,620.0,DET,20817.0,03C-SEARCH OF PREMISE/VEHICLE WITHOUT WARRANT,EX,600.0,EX,600.0
28053,1080594.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28054,NaN,"COLEMAN, RONALD",1970.0,M,BLK,1999-12-13,376.0,PO,5922.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28055,NaN,"WALLACE, JOSHUA",1974.0,M,BLK,1999-10-04,189.0,SGT,1700.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28056,NaN,"MULLEN, WILLIAM",1970.0,M,WHI,1998-03-16,4.0,PO,12673.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28057,NaN,"WOJTAN, KENNETH",1957.0,M,WHI,1993-12-13,212.0,PO,8548.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28058,NaN,"SHANNON, THOMAS",1966.0,M,WHI,1992-06-29,1.0,PO,16066.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28059,NaN,"SHOWERS, DAVID",1968.0,M,BLK,1996-07-08,189.0,SGT,1906.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28060,NaN,"PIPER, LIONEL",1969.0,M,BLK,1999-09-13,5.0,PO,14650.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28061,NaN,"JOHNSON, KENNETH",1964.0,M,BLK,1986-10-13,7.0,CMDR,331.0,"04D-SEARCH, PERSON/PROPERTY",NaN,600.0,NaN,600.0
28062,1082745.0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28063,NaN,"BOYD, DION",1963.0,M,BLK,1990-07-30,5.0,LT,404.0,NaN,NaN,NaN,NaN,NaN