In [1]:
import pandas as pd
df = pd.read_csv('../input/police-board.csv.gz')

In [2]:
df.head()

,Case.NO,Filed.Date,Last.Name,First.Name,Star,CRID,PB.Decision.Date,PB.Decision,Ordered.Suspension.Month.,Recommended.Suspension
0,1,1961-07-25,Richardson,Walter,NaN,NaN,1962-06-13 00:00:00,Not guilty,NaN,NaN
1,2,1961-07-25,Musdalslien,Henry,NaN,NaN,1961-10-23 00:00:00,Discharged,NaN,NaN
2,3,1961-08-09,Kelleher,Harold,NaN,NaN,1961-09-19 00:00:00,Charges WD--Resigned,NaN,NaN
3,4,1961-08-23,Crockett,Earl,NaN,NaN,1961-10-23 00:00:00,Discharged,NaN,NaN
4,5,1961-10-23,Balenton,Ben,NaN,NaN,1962-02-16 00:00:00,Discharged,NaN,NaN

In [3]:
df['PB.Decision'].unique()

array(['Not guilty', 'Discharged', 'Charges WD--Resigned', 'Suspended',
       nan, 'Charges WD--Other', 'WDD', 'SET Suspended', 'Dismissed',
       'Not Guilty', 'Reprimanded'], dtype=object)

In [6]:
print(df[df['PB.Decision'].isnull()].shape)
print(df[df['PB.Decision'].isnull()].head())
print(df[df['PB.Decision'].isnull()].tail())

(37, 10)
     Case.NO  Filed.Date  Last.Name First.Name  Star CRID  \
64        65  1962-11-13    Withall     Albert   NaN  NaN
125      126  1964-04-16    Lutchen      Frank   NaN  NaN
375      376         NaN   ROBINSON    RENAULT   NaN  NaN
638      639  1972-11-28   ROBINSON    RENAULT   NaN  NaN
845      846  1975-06-27  Roudebush      James   NaN  NaN

        PB.Decision.Date PB.Decision Ordered.Suspension.Month.  \
64                   NaN         NaN                       NaN
125  1964-07-13 00:00:00         NaN                       NaN
375                  NaN         NaN                       NaN
638                  NaN         NaN                       NaN
845  1975-11-14 00:00:00         NaN                       NaN

    Recommended.Suspension
64                     NaN
125                    NaN
375                    NaN
638                    NaN
845                    NaN
      Case.NO  Filed.Date Last.Name First.Name     Star     CRID  \
2924     2925  2017-01-11    Walker       Clay  10774.0  1079480
2925     2926  2017-01-19     Smith     Daniel  13941.0  1060844
2926     2927  2017-01-30   Sanchez    Michael  17414.0  1075057
2927     2928  2017-02-02     Gaeta      Jaime  17317.0  1073693
2928     2929  2017-02-02   Matheos      Harry  21386.0  1073693

     PB.Decision.Date PB.Decision Ordered.Suspension.Month.  \
2924              NaN         NaN                       NaN
2925              NaN         NaN                       NaN
2926              NaN         NaN                       NaN
2927              NaN         NaN                       NaN
2928              NaN         NaN                       NaN

     Recommended.Suspension
2924                    NaN
2925                    NaN
2926                    NaN
2927                    NaN
2928                    NaN

In [8]:
print(df[df['Star'].isnull()].shape)
print(df[df['Star'].notnull()].shape)

(2722, 10)
(207, 10)

In [9]:
print(df[df['CRID'].isnull()].shape)
print(df[df['CRID'].notnull()].shape)

(852, 10)
(2077, 10)