In [1]:
import pandas as pd
df = pd.read_csv('../input/police-board.csv.gz')

In [2]:
df.head()

,Case.NO,Filed.Date,Last.Name,First.Name,Star,CRID,PB.Decision.Date,PB.Decision,Ordered.Suspension.Month.,Recommended.Suspension
0,1,1961-07-25,Richardson,Walter,NaN,NaN,1962-06-13 00:00:00,Not guilty,NaN,NaN
1,2,1961-07-25,Musdalslien,Henry,NaN,NaN,1961-10-23 00:00:00,Discharged,NaN,NaN
2,3,1961-08-09,Kelleher,Harold,NaN,NaN,1961-09-19 00:00:00,Charges WD--Resigned,NaN,NaN
3,4,1961-08-23,Crockett,Earl,NaN,NaN,1961-10-23 00:00:00,Discharged,NaN,NaN
4,5,1961-10-23,Balenton,Ben,NaN,NaN,1962-02-16 00:00:00,Discharged,NaN,NaN

In [3]:
df['PB.Decision'].unique()

array(['Not guilty', 'Discharged', 'Charges WD--Resigned', 'Suspended',
       nan, 'Charges WD--Other', 'WDD', 'SET Suspended', 'Dismissed',
       'Not Guilty', 'Reprimanded'], dtype=object)

In [6]:
print(df[df['PB.Decision'].isnull()].shape)
print(df[df['PB.Decision'].isnull()].head())
print(df[df['PB.Decision'].isnull()].tail())

(37, 10)
     Case.NO  Filed.Date  Last.Name First.Name  Star CRID  \
64        65  1962-11-13    Withall     Albert   NaN  NaN
125      126  1964-04-16    Lutchen      Frank   NaN  NaN
375      376         NaN   ROBINSON    RENAULT   NaN  NaN
638      639  1972-11-28   ROBINSON    RENAULT   NaN  NaN
845      846  1975-06-27  Roudebush      James   NaN  NaN

        PB.Decision.Date PB.Decision Ordered.Suspension.Month.  \
64                   NaN         NaN                       NaN
125  1964-07-13 00:00:00         NaN                       NaN
375                  NaN         NaN                       NaN
638                  NaN         NaN                       NaN
845  1975-11-14 00:00:00         NaN                       NaN

    Recommended.Suspension
64                     NaN
125                    NaN
375                    NaN
638                    NaN
845                    NaN
      Case.NO  Filed.Date Last.Name First.Name     Star     CRID  \
2924     2925  2017-01-11    Walker       Clay  10774.0  1079480
2925     2926  2017-01-19     Smith     Daniel  13941.0  1060844
2926     2927  2017-01-30   Sanchez    Michael  17414.0  1075057
2927     2928  2017-02-02     Gaeta      Jaime  17317.0  1073693
2928     2929  2017-02-02   Matheos      Harry  21386.0  1073693

     PB.Decision.Date PB.Decision Ordered.Suspension.Month.  \
2924              NaN         NaN                       NaN
2925              NaN         NaN                       NaN
2926              NaN         NaN                       NaN
2927              NaN         NaN                       NaN
2928              NaN         NaN                       NaN

     Recommended.Suspension
2924                    NaN
2925                    NaN
2926                    NaN
2927                    NaN
2928                    NaN

In [8]:
print(df[df['Star'].isnull()].shape)
print(df[df['Star'].notnull()].shape)

(2722, 10)
(207, 10)

In [9]:
print(df[df['CRID'].isnull()].shape)
print(df[df['CRID'].notnull()].shape)

(852, 10)
(2077, 10)

In [10]:
for i in df['Case.NO']:
    try: int(i)
    except: print(i)

In [11]:
for i in df['CRID']:
    try: int(i)
    except: print(i)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
253975 & 270735
296351 & 311923
301444 & 303674
304744 & 309513
1011501 & 1016384
1038078 & 1038301
1017379 & 1013430
1017716 & 1028765
1022800 & 1031207
1060774 & 1061494
1077150 & 1077515

In [33]:
df['CRID2']=df['CRID'].map(lambda x: x.split(' & ')[1] if isinstance(x, str) and len(x.split(' & '))==2 else x)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
         ...
2899    1078509
2900    1078509
2901    1073927
2902    1074613
2903    1048290
2904    1073339
2905    1068387
2906    1070507
2907    1081772
2908    1081772
2909    1081772
2910    1081772
2911    1081772
2912    1077812
2913    1069799
2914    1075931
2915    1061399
2916    1075111
2917    1073749
2918    1069863
2919    1066725
2920    1077515
2921    1069136
2922     300039
2923     300039
2924    1079480
2925    1060844
2926    1075057
2927    1073693
2928    1073693
Name: CRID, Length: 2929, dtype: object

In [41]:
for i in df['PB.Decision.Date'][:2]:
    try: pd.to_datetime(i, format = '%Y-%m-%d').dt.datetime
    except: print(i)

1962-06-13 00:00:00
1961-10-23 00:00:00

In [48]:
tt = df['PB.Decision.Date'][:20]
tt

0     1962-06-13 00:00:00
1     1961-10-23 00:00:00
2     1961-09-19 00:00:00
3     1961-10-23 00:00:00
4     1962-02-16 00:00:00
5     1962-02-05 00:00:00
6     1961-12-19 00:00:00
7     1964-06-18 00:00:00
8     1962-11-30 00:00:00
9     1964-06-17 00:00:00
10    1962-04-09 00:00:00
11    1962-07-12 00:00:00
12    1962-04-09 00:00:00
13    1962-07-12 00:00:00
14    1962-02-16 00:00:00
15    1963-11-26 00:00:00
16    1962-06-04 00:00:00
17    1962-02-26 00:00:00
18    1963-05-10 00:00:00
19    1962-09-10 00:00:00
Name: PB.Decision.Date, dtype: object

In [53]:
pd.Series(pd.to_datetime(df['PB.Decision.Date'], errors='coerce')).dt.date

0       1962-06-13
1       1961-10-23
2       1961-09-19
3       1961-10-23
4       1962-02-16
5       1962-02-05
6       1961-12-19
7       1964-06-18
8       1962-11-30
9       1964-06-17
10      1962-04-09
11      1962-07-12
12      1962-04-09
13      1962-07-12
14      1962-02-16
15      1963-11-26
16      1962-06-04
17      1962-02-26
18      1963-05-10
19      1962-09-10
20      1963-07-11
21      1963-07-11
22      1962-07-12
23      1962-07-12
24      1962-05-31
25      1962-05-31
26      1962-06-13
27      1962-06-13
28      1962-08-13
29      1963-11-07
           ...
2899    2016-03-17
2900           NaN
2901    2016-03-17
2902    2016-09-15
2903           NaN
2904    2016-07-21
2905    2016-10-27
2906    2016-11-17
2907           NaN
2908           NaN
2909           NaN
2910           NaN
2911           NaN
2912           NaN
2913           NaN
2914           NaN
2915           NaN
2916           NaN
2917           NaN
2918           NaN
2919           NaN
2920    2017-02-16
2921           NaN
2922           NaN
2923           NaN
2924           NaN
2925           NaN
2926           NaN
2927           NaN
2928           NaN
Name: PB.Decision.Date, Length: 2929, dtype: object

In [54]:
for i in df['PB.Decision.Date']:
    try: pd.to_datetime(i)
    except: print(i)

1095-01-11 00:00:00

In [57]:
df[(df['PB.Decision.Date'].notnull()) & (df['PB.Decision.Date'].str.contains('1095-01-11'))]

,Case.NO,Filed.Date,Last.Name,First.Name,Star,CRID,PB.Decision.Date,PB.Decision,Ordered.Suspension.Month.,Recommended.Suspension
1319,1320,1984-06-11,Murphy,Sylvia,NaN,136186,1095-01-11 00:00:00,Suspended,NaN,NaN