In [1]:
import pandas as pd
from assign_unique_ids_functions import *

In [2]:
df = pd.read_csv('../input/ase-units.csv.gz')

In [7]:
df['Current.Age.Decade'] = df['Current.Age'].map(lambda x: str(x)[0])

In [8]:
df.columns

Index(['Star8', 'Effective.Date', 'Unit', 'Star4', 'End.Date', 'Star6',
       'Star7', 'Star5', 'Appointed.Date', 'Gender', 'Star10', 'Star1',
       'Star9', 'Current.Age', 'Star3', 'Race', 'Star2', 'Last.Name',
       'First.Name', 'Middle.Initial', 'Suffix.Name', 'Current.Age.Decade'],
      dtype='object')

In [9]:
stars = ["Star" + str(i) for i in range(1,11)]
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
          "Race", "Gender", "Current.Age", "Appointed.Date", 'Current.Age.Decade'] + stars].drop_duplicates()

In [10]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", "Current.Age"]).to_csv('UH_possible_duplicates.csv')

In [11]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", 'Current.Age.Decade'])

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Race,Gender,Current.Age,Appointed.Date,Current.Age.Decade,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
53035,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45.0,1999-05-10,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53036,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45.0,1999-05-10,4,8280.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107328,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39.0,1999-05-10,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107329,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39.0,1999-05-10,3,9647.0,5693.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52198,GEORGE,JONES,NaN,NaN,BLACK,MALE,73.0,1975-05-16,7,16054.0,1714.0,494.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52204,GEORGE,JONES,NaN,NaN,BLACK,MALE,71.0,1975-05-16,7,16055.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5700,JAMES,BANSLEY,NaN,NaN,WHITE,MALE,32.0,2009-12-16,3,10927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5702,JAMES,BANSLEY,NaN,NaN,WHITE,MALE,33.0,2009-12-16,3,8791.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76859,JAMES,OCONNOR,NaN,NaN,WHITE,MALE,79.0,1965-04-05,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76862,JAMES,OCONNOR,NaN,NaN,WHITE,MALE,73.0,1965-04-05,7,5607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99716,JAMES,STEPHENS,NaN,NaN,WHITE,MALE,68.0,1972-10-23,6,4977.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99720,JAMES,STEPHENS,NaN,NaN,WHITE,MALE,69.0,1972-10-23,6,4969.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100810,JAMES,SULLIVAN,NaN,NaN,WHITE,MALE,85.0,1957-07-01,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100811,JAMES,SULLIVAN,NaN,NaN,WHITE,MALE,82.0,1957-07-01,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8448,JOEL,BENTLEY,NaN,NaN,WHITE,MALE,39.0,1999-10-25,3,13297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8451,JOEL,BENTLEY,NaN,NaN,BLACK,MALE,39.0,1999-10-25,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91264,JOHN,RYAN,NaN,NaN,WHITE,MALE,67.0,1973-03-19,6,10112.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91270,JOHN,RYAN,NaN,NaN,WHITE,MALE,65.0,1973-03-19,6,10366.0,9341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89846,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47.0,1999-06-21,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89847,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47.0,1999-06-21,4,11786.0,7838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19240,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43.0,2000-01-24,4,4955.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19244,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43.0,2000-01-24,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22142,KEVIN,CONNORS,NaN,NaN,WHITE,MALE,41.0,1999-09-13,4,11541.0,1182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22145,KEVIN,CONNORS,NaN,NaN,WHITE,MALE,49.0,1999-09-13,4,15151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75212,LINDA,NELSON,NaN,NaN,WHITE,FEMALE,67.0,1974-02-19,6,16444.0,1374.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75217,LINDA,NELSON,NaN,NaN,WHITE,FEMALE,66.0,1974-02-19,6,16426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29275,MICHAEL,DOUGHERTY,NaN,NaN,WHITE,MALE,50.0,1994-09-06,5,9369.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29278,MICHAEL,DOUGHERTY,NaN,NaN,WHITE,MALE,52.0,1994-09-06,5,9581.0,1635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101450,MICHAEL,SWEENEY,NaN,NaN,WHITE,MALE,62.0,1983-02-14,6,8508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101453,MICHAEL,SWEENEY,NaN,NaN,WHITE,MALE,61.0,1983-02-14,6,8577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2812,ROBERT,ANDERSON,NaN,NaN,WHITE,MALE,67.0,1970-01-19,6,8024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2832,ROBERT,ANDERSON,NaN,NaN,WHITE,MALE,68.0,1970-01-19,6,14297.0,5419.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97530,ROBERT,SMITH,NaN,NaN,WHITE,MALE,68.0,1971-02-22,6,20066.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97544,ROBERT,SMITH,NaN,NaN,WHITE,MALE,69.0,1971-02-22,6,15577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97524,ROBERT,SMITH,NaN,NaN,WHITE,MALE,47.0,1996-12-02,4,20648.0,19322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97536,ROBERT,SMITH,NaN,NaN,WHITE,MALE,43.0,1996-12-02,4,19314.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74625,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53.0,2000-09-11,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74626,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53.0,2000-09-11,5,12719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76947,THOMAS,OCONNOR,NaN,NaN,WHITE,MALE,73.0,1967-11-20,7,7952.0,1066.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76965,THOMAS,OCONNOR,NaN,NaN,WHITE,MALE,70.0,1967-11-20,7,20577.0,2577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106197,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34.0,2005-12-05,3,10331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106199,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34.0,2005-12-05,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76621,TIMOTHY,OBRIEN,P,NaN,WHITE,MALE,48.0,1995-01-03,4,20899.0,8893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76668,TIMOTHY,OBRIEN,NaN,NaN,WHITE,MALE,48.0,1995-01-03,4,21797.0,20380.0,20034.0,10532.0,2946.0,NaN,NaN,NaN,NaN,NaN
66865,WILLIAM,MCCANN,NaN,NaN,WHITE,MALE,83.0,1958-02-16,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66867,WILLIAM,MCCANN,NaN,NaN,WHITE,MALE,87.0,1958-02-16,8,10701.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58564,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40.0,2003-09-29,4,15609.0,15607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58567,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40.0,2003-09-29,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dfu[(dfu['First.Name']=='ROBERT') & (dfu['Last.Name']=='SMITH')].sort_values('Current.Age')

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Race,Gender,Current.Age,Appointed.Date,Current.Age.Decade,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
97536,ROBERT,SMITH,NaN,NaN,WHITE,MALE,43.0,1996-12-02,4,19314.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97524,ROBERT,SMITH,NaN,NaN,WHITE,MALE,47.0,1996-12-02,4,20648.0,19322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97532,ROBERT,SMITH,NaN,NaN,BLACK,MALE,62.0,1990-03-26,6,6900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97520,ROBERT,SMITH,NaN,NaN,BLACK,MALE,67.0,1977-04-04,6,7738.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97530,ROBERT,SMITH,NaN,NaN,WHITE,MALE,68.0,1971-02-22,6,20066.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97544,ROBERT,SMITH,NaN,NaN,WHITE,MALE,69.0,1971-02-22,6,15577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97541,ROBERT,SMITH,NaN,NaN,WHITE,MALE,75.0,1967-09-11,7,13027.0,6344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97547,ROBERT,SMITH,NaN,NaN,WHITE,MALE,75.0,1964-06-15,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97540,ROBERT,SMITH,NaN,NaN,BLACK,MALE,77.0,1966-09-19,7,11621.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97559,ROBERT,SMITH,NaN,NaN,BLACK,MALE,79.0,1961-06-12,7,7368.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97549,ROBERT,SMITH,NaN,NaN,WHITE,MALE,89.0,1950-06-03,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97548,ROBERT,SMITH,NaN,NaN,WHITE,MALE,92.0,1946-03-26,9,6930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
kd = keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", 'Current.Age'])

In [29]:
kd[kd['Middle.Initial2'].notnull()]

Empty DataFrame
Columns: [First.Name, Last.Name, Middle.Initial, Middle.Initial2, Suffix.Name, Race, Gender, Current.Age, Appointed.Date, Star1, Star2, Star3, Star4, Star5, Star6, Star7, Star8, Star9, Star10]
Index: []