In [1]:
import pandas as pd
from assign_unique_ids_functions import *

In [2]:
df = pd.read_csv("../output/unit-history.csv.gz")

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
id_cols = ["TID", "First.Name", "Last.Name", "Middle.Initial", "Suffix.Name", "Appointed.Date", "Current.Age", "Race","Gender"]

In [46]:
no_unit = list(df.loc[df['Unit'] == -999, 'TID'])
sometimes_no_unit = list(df.loc[(df['TID'].isin(no_unit)) & (df['Unit'] > 0), 'TID'].drop_duplicates())
df.loc[(df['TID'].isin(sometimes_no_unit)), id_cols + ['Unit', 'Effective.Date'] + ["Star1", "Star2", "Star3"]]

,TID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Current.Age,Race,Gender,Unit,Effective.Date,Star1,Star2,Star3
19240,4324,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,BLACK,MALE,2,2012-03-04,4955,-999,-999
19241,4324,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,BLACK,MALE,4,2001-01-04,4955,-999,-999
19242,4324,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,BLACK,MALE,21,2002-12-05,4955,-999,-999
19243,4324,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,BLACK,MALE,44,2000-01-24,4955,-999,-999
19244,4324,JOSE,CHAMBERS,NaN,NaN,2000-01-24,43,BLACK,MALE,-999,NaN,-999,-999,-999
53035,13864,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,WHITE,FEMALE,-999,NaN,-999,-999,-999
53036,13864,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,WHITE,FEMALE,20,2000-04-27,8280,-999,-999
53037,13864,AUDREY,JURCZYKOWSKI,NaN,NaN,1999-05-10,45,WHITE,FEMALE,20,2000-04-27,8280,-999,-999
58564,15456,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,WHITE,MALE,15,2005-03-03,15609,15607,-999
58565,15456,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,WHITE,MALE,15,2005-03-03,15609,15607,-999
58566,15456,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,WHITE,MALE,189,2015-01-04,15609,15607,-999
58567,15456,WOJCIECH,LACZ,NaN,NaN,2003-09-29,40,WHITE,MALE,-999,NaN,-999,-999,-999
74625,20079,STEPHEN,MYTHEN,NaN,NaN,2000-09-11,53,WHITE,MALE,-999,NaN,-999,-999,-999
74626,20079,STEPHEN,MYTHEN,NaN,NaN,2000-09-11,53,WHITE,MALE,18,2008-01-31,12719,-999,-999
74627,20079,STEPHEN,MYTHEN,NaN,NaN,2000-09-11,53,WHITE,MALE,23,2005-03-03,12719,-999,-999
74628,20079,STEPHEN,MYTHEN,NaN,NaN,2000-09-11,53,WHITE,MALE,24,2001-08-16,12719,-999,-999
74629,20079,STEPHEN,MYTHEN,NaN,NaN,2000-09-11,53,WHITE,MALE,44,2000-09-11,12719,-999,-999
89846,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,-999,NaN,-999,-999,-999
89847,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,11,2000-05-25,11786,7838,-999
89848,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,12,2012-12-19,11786,7838,-999
89849,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,13,2005-05-26,11786,7838,-999
89850,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,17,2014-01-05,11786,7838,-999
89851,24457,JORGE,ROMO,NaN,NaN,1999-06-21,47,HISPANIC,MALE,44,1999-06-21,11786,7838,-999
107328,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,-999,NaN,-999,-999,-999
107329,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,11,2013-03-31,9647,5693,-999
107330,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,13,2000-04-27,9647,5693,-999
107331,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,15,2013-02-03,9647,5693,-999
107332,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,44,1999-05-10,9647,5693,-999
107333,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,153,2003-09-18,9647,5693,-999
107334,29526,ERICK,VONKONDRAT,NaN,NaN,1999-05-10,39,WHITE,MALE,353,2011-01-06,9647,5693,-999

In [49]:
never_unit = list(df.loc[(df['TID'].isin(no_unit)) & (~ df['TID'].isin(sometimes_no_unit)) , 'TID'].drop_duplicates())
df.loc[(df['TID'].isin(never_unit)), id_cols + ['Unit', 'Effective.Date'] + ["Star1", "Star2", "Star3"]]

,TID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Current.Age,Race,Gender,Unit,Effective.Date,Star1,Star2,Star3
461,103,JOHN,ADAMS,NaN,NaN,1980-09-29,63,BLACK,MALE,-999,NaN,-999,-999,-999
692,154,HENRY,AEHLERT,NaN,NaN,1954-06-16,94,WHITE,MALE,-999,NaN,660,-999,-999
976,219,JOHN,AHRENS,NaN,NaN,1971-10-25,67,WHITE,MALE,-999,NaN,11468,-999,-999
977,220,JOSEPH,AHRENS,NaN,NaN,1952-09-29,92,WHITE,MALE,-999,NaN,-999,-999,-999
986,224,ANTHONY,AIELLO,NaN,NaN,1977-11-01,64,WHITE,MALE,-999,NaN,-999,-999,-999
1273,300,DANIEL,ALESI,NaN,NaN,1967-01-23,70,WHITE,MALE,-999,NaN,9949,-999,-999
1370,318,LEROY,ALEXANDER,NaN,NaN,1980-06-23,75,BLACK,MALE,-999,NaN,-999,-999,-999
1512,348,WILLIAM,ALI,NaN,NaN,1954-10-05,96,BLACK,MALE,-999,NaN,-999,-999,-999
1763,407,THOMAS,ALLISON,NaN,NaN,1973-06-04,64,WHITE,MALE,-999,NaN,13727,-999,-999
2287,531,ANTHONY,AMICI,NaN,NaN,1955-02-08,88,WHITE,MALE,-999,NaN,-999,-999,-999
2455,564,ANDREW,ANDERSON,NaN,NaN,1951-07-30,98,WHITE,MALE,-999,NaN,-999,-999,-999
2587,593,HARRY,ANDERSON,NaN,NaN,1954-10-01,93,BLACK,MALE,-999,NaN,1758,-999,-999
2886,647,WALTER,ANDERSON,NaN,NaN,1946-04-08,98,WHITE,MALE,-999,NaN,7877,-999,-999
3111,691,DONALD,ANDRY,NaN,NaN,1957-03-16,84,WHITE,MALE,-999,NaN,-999,-999,-999
3481,766,JOY,ARAGER,NaN,NaN,1999-09-13,58,WHITE,FEMALE,-999,NaN,-999,-999,-999
3606,801,FRANK,ARGENTINE,NaN,NaN,1953-10-10,92,WHITE,MALE,-999,NaN,1784,-999,-999
4137,914,F,AUBIN,NaN,NaN,1955-05-01,91,WHITE,MALE,-999,NaN,11440,-999,-999
4138,915,EDWARD,AUBIN,NaN,JR,1954-02-16,97,WHITE,MALE,-999,NaN,-999,-999,-999
5089,1109,ROBERT,BAKER,NaN,NaN,1957-07-01,88,WHITE,MALE,-999,NaN,705,-999,-999
5185,1131,EDMUND,BALCER,NaN,NaN,1957-07-01,85,WHITE,MALE,-999,NaN,9440,-999,-999
5229,1141,ANTHONY,BALDASSANO,NaN,NaN,1972-04-03,68,WHITE,MALE,-999,NaN,-999,-999,-999
5305,1157,JAMES,BALL,NaN,NaN,1966-01-24,75,WHITE,MALE,-999,NaN,12003,-999,-999
5407,1181,PETER,BALSKUS,NaN,NaN,1954-05-03,94,WHITE,MALE,-999,NaN,-999,-999,-999
5445,1189,BERNARD,BANAHAN,NaN,NaN,1964-06-08,73,WHITE,MALE,-999,NaN,-999,-999,-999
5777,1257,JOHN,BARAN,NaN,NaN,1946-02-18,99,WHITE,MALE,-999,NaN,4867,-999,-999
5869,1269,DONALD,BARANY,NaN,NaN,1955-08-22,89,WHITE,MALE,-999,NaN,6030,-999,-999
5921,1283,RALPH,BARGANSKI,NaN,NaN,1946-02-25,99,WHITE,MALE,-999,NaN,7569,-999,-999
6285,1352,WILLIAM,BARNHART,NaN,NaN,1971-10-25,68,WHITE,MALE,-999,NaN,-999,-999,-999
6545,1406,CHARLES,BARRY,NaN,NaN,1957-03-01,90,WHITE,MALE,-999,NaN,8246,-999,-999
7297,1548,CHARLES,BAXTROM,NaN,NaN,1973-06-04,67,WHITE,MALE,-999,NaN,15431,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109762,30202,RALPH,WESOLEK,NaN,NaN,1970-03-02,79,WHITE,MALE,-999,NaN,14569,-999,-999
110045,30266,JOHN,WHEELER,NaN,NaN,1950-04-03,94,WHITE,MALE,-999,NaN,11820,-999,-999
110271,30326,MARTIN,WHITE,NaN,NaN,1953-09-23,88,WHITE,MALE,-999,NaN,3433,-999,-999
110326,30342,ROBT,WHITE,NaN,NaN,1950-04-03,94,BLACK,MALE,-999,NaN,11822,-999,-999
110525,30404,CARY,WIEDEMAN,NaN,NaN,1971-02-22,67,WHITE,MALE,-999,NaN,14615,-999,-999
110540,30408,ROBERT,WIELGUS,NaN,NaN,1973-06-04,65,WHITE,MALE,-999,NaN,11783,-999,-999
110578,30422,BOHDAN,WIJTYK,NaN,NaN,1980-06-23,70,WHITE,MALE,-999,NaN,-999,-999,-999
110587,30427,SIDNEY,WILBON,NaN,NaN,1956-10-16,93,BLACK,MALE,-999,NaN,-999,-999,-999
110785,30491,BOBBY,WILLIAMS,NaN,NaN,1980-02-11,69,BLACK,MALE,-999,NaN,15695,-999,-999
111172,30613,PATRICK,WILLIAMS,NaN,NaN,2002-04-29,48,BLACK,MALE,-999,NaN,-999,-999,-999
111179,30617,RAMON,WILLIAMS,NaN,NaN,1952-04-14,91,BLACK,MALE,-999,NaN,-999,-999,-999
111648,30740,BRUCE,WILSON,NaN,NaN,2000-10-10,45,BLACK,MALE,-999,NaN,-999,-999,-999
111652,30742,CHARLES,WILSON,NaN,NaN,1953-09-21,97,BLACK,MALE,-999,NaN,6481,-999,-999
111738,30769,LAWRENCE,WILSON,NaN,NaN,1952-12-08,89,BLACK,MALE,-999,NaN,6077,-999,-999
112012,30856,ANTHONY,WISNIEWSKI,NaN,NaN,1955-05-03,96,WHITE,MALE,-999,NaN,6743,-999,-999
112034,30862,R,WISNIEWSKI,NaN,NaN,1967-10-23,78,WHITE,MALE,-999,NaN,13225,-999,-999
112231,30914,JOSEPH,WOJCIECHOWSKI,NaN,NaN,1966-07-11,79,WHITE,MALE,-999,NaN,12782,-999,-999
112605,31017,LILLIAN,WOODS,NaN,NaN,1970-05-11,73,WHITE,FEMALE,-999,NaN,4825,-999,-999
112922,31098,EDWARD,WRIGHT,NaN,NaN,1946-03-25,93,WHITE,MALE,-999,NaN,7031,-999,-999
112949,31107,JOHN,WRIGHT,NaN,NaN,1968-03-25,68,WHITE,MALE,-999,NaN,13896,-999,-999
113205,31174,JOHN,YAMICH,NaN,JR,1980-01-28,65,WHITE,MALE,-999,NaN,-999,-999,-999
113245,31189,STANLEY,YANZ,NaN,NaN,1946-02-25,95,WHITE,MALE,-999,NaN,7717,-999,-999
113337,31219,BARRY,YOCUM,NaN,NaN,1972-11-20,66,WHITE,MALE,-999,NaN,-999,-999,-999
113507,31268,WALLACE,YOUNG,NaN,NaN,1959-12-16,92,BLACK,MALE,-999,NaN,10982,-999,-999
113577,31291,STANLEY,ZABLOTOWICZ,NaN,NaN,1953-03-02,90,WHITE,MALE,-999,NaN,8286,-999,-999
113762,31343,ROBERT,ZALKUS,NaN,NaN,1954-10-16,90,WHITE,MALE,-999,NaN,-999,-999,-999
113765,31345,CHARLES,ZAMB,NaN,NaN,1953-07-20,91,WHITE,MALE,-999,NaN,11860,-999,-999
113921,31394,LESLIE,ZAUG,NaN,NaN,1946-04-08,99,WHITE,MALE,-999,NaN,7930,-999,-999
114012,31415,MICHAEL,ZAZZARA,NaN,NaN,1973-02-19,66,WHITE,MALE,-999,NaN,9826,-999,-999
114598,31588,ADAM,ZYCH,NaN,NaN,1946-03-11,99,WHITE,MALE,-999,NaN,-999,-999,-999

In [50]:
print(len(no_unit))
print(len(sometimes_no_unit))
print(len(never_unit))

841
6
835

set()