In [13]:
import pandas as pd
from assign_unique_ids_functions import *

In [14]:
df = pd.read_csv('../input/unit-history.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
stars = ["Star" + str(i) for i in range(1,11)]
dfu = df[["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
          "Race", "Gender", "Current.Age", "Appointed.Date"] + stars].drop_duplicates()

In [16]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", "Current.Age"]).to_csv('UH_possible_duplicates.csv')

In [18]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date", "Current.Age"])

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Race,Gender,Current.Age,Appointed.Date,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
53035,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
53036,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,8280,-999,-999,-999,-999,-999,-999,-999,-999,-999
107328,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
107329,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,9647,5693,-999,-999,-999,-999,-999,-999,-999,-999
8448,JOEL,BENTLEY,NaN,NaN,WHITE,MALE,39,1999-10-25,13297,-999,-999,-999,-999,-999,-999,-999,-999,-999
8451,JOEL,BENTLEY,NaN,NaN,BLACK,MALE,39,1999-10-25,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
89846,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
89847,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,11786,7838,-999,-999,-999,-999,-999,-999,-999,-999
19240,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,4955,-999,-999,-999,-999,-999,-999,-999,-999,-999
19244,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
74625,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
74626,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,12719,-999,-999,-999,-999,-999,-999,-999,-999,-999
106197,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,10331,-999,-999,-999,-999,-999,-999,-999,-999,-999
106199,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
76621,TIMOTHY,OBRIEN,P,NaN,WHITE,MALE,48,1995-01-03,20899,8893,-999,-999,-999,-999,-999,-999,-999,-999
76668,TIMOTHY,OBRIEN,NaN,NaN,WHITE,MALE,48,1995-01-03,21797,20380,20034,10532,2946,-999,-999,-999,-999,-999
58564,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,15609,15607,-999,-999,-999,-999,-999,-999,-999,-999
58567,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [19]:
keep_duplicates(dfu,["First.Name", "Last.Name", "Appointed.Date"])

,First.Name,Last.Name,Middle.Initial,Suffix.Name,Race,Gender,Current.Age,Appointed.Date,Star1,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Star10
53035,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
53036,AUDREY,JURCZYKOWSKI,NaN,NaN,WHITE,FEMALE,45,1999-05-10,8280,-999,-999,-999,-999,-999,-999,-999,-999,-999
85629,DAVID,RAMOS,NaN,NaN,HISPANIC,MALE,56,1994-07-05,6737,-999,-999,-999,-999,-999,-999,-999,-999,-999
85633,DAVID,RAMOS,NaN,NaN,HISPANIC,MALE,46,1994-07-05,8569,8560,-999,-999,-999,-999,-999,-999,-999,-999
107328,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
107329,ERICK,VONKONDRAT,NaN,NaN,WHITE,MALE,39,1999-05-10,9647,5693,-999,-999,-999,-999,-999,-999,-999,-999
52198,GEORGE,JONES,NaN,NaN,BLACK,MALE,73,1975-05-16,16054,1714,494,-999,-999,-999,-999,-999,-999,-999
52204,GEORGE,JONES,NaN,NaN,BLACK,MALE,71,1975-05-16,16055,-999,-999,-999,-999,-999,-999,-999,-999,-999
101348,HARRY,SWANSON,NaN,NaN,WHITE,MALE,88,1955-08-22,1371,-999,-999,-999,-999,-999,-999,-999,-999,-999
101349,HARRY,SWANSON,NaN,NaN,WHITE,MALE,91,1955-08-22,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
5700,JAMES,BANSLEY,NaN,NaN,WHITE,MALE,32,2009-12-16,10927,-999,-999,-999,-999,-999,-999,-999,-999,-999
5702,JAMES,BANSLEY,NaN,NaN,WHITE,MALE,33,2009-12-16,8791,-999,-999,-999,-999,-999,-999,-999,-999,-999
52268,JAMES,JONES,NaN,NaN,BLACK,MALE,93,1957-07-01,10167,-999,-999,-999,-999,-999,-999,-999,-999,-999
52269,JAMES,JONES,NaN,NaN,BLACK,MALE,89,1957-07-01,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
76859,JAMES,OCONNOR,NaN,NaN,WHITE,MALE,79,1965-04-05,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
76862,JAMES,OCONNOR,NaN,NaN,WHITE,MALE,73,1965-04-05,5607,-999,-999,-999,-999,-999,-999,-999,-999,-999
99716,JAMES,STEPHENS,NaN,NaN,WHITE,MALE,68,1972-10-23,4977,-999,-999,-999,-999,-999,-999,-999,-999,-999
99720,JAMES,STEPHENS,NaN,NaN,WHITE,MALE,69,1972-10-23,4969,-999,-999,-999,-999,-999,-999,-999,-999,-999
100810,JAMES,SULLIVAN,NaN,NaN,WHITE,MALE,85,1957-07-01,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
100811,JAMES,SULLIVAN,NaN,NaN,WHITE,MALE,82,1957-07-01,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
8448,JOEL,BENTLEY,NaN,NaN,WHITE,MALE,39,1999-10-25,13297,-999,-999,-999,-999,-999,-999,-999,-999,-999
8451,JOEL,BENTLEY,NaN,NaN,BLACK,MALE,39,1999-10-25,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
91264,JOHN,RYAN,NaN,NaN,WHITE,MALE,67,1973-03-19,10112,-999,-999,-999,-999,-999,-999,-999,-999,-999
91270,JOHN,RYAN,NaN,NaN,WHITE,MALE,65,1973-03-19,10366,9341,-999,-999,-999,-999,-999,-999,-999,-999
89846,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
89847,JORGE,ROMO,NaN,NaN,HISPANIC,MALE,47,1999-06-21,11786,7838,-999,-999,-999,-999,-999,-999,-999,-999
19240,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,4955,-999,-999,-999,-999,-999,-999,-999,-999,-999
19244,JOSE,CHAMBERS,NaN,NaN,BLACK,MALE,43,2000-01-24,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
104670,JOSEPH,TRIPOLI,NaN,NaN,WHITE,MALE,47,1994-07-05,20571,8240,-999,-999,-999,-999,-999,-999,-999,-999
104677,JOSEPH,TRIPOLI,NaN,NaN,WHITE,MALE,54,1994-07-05,7325,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29275,MICHAEL,DOUGHERTY,NaN,NaN,WHITE,MALE,50,1994-09-06,9369,-999,-999,-999,-999,-999,-999,-999,-999,-999
29278,MICHAEL,DOUGHERTY,NaN,NaN,WHITE,MALE,52,1994-09-06,9581,1635,-999,-999,-999,-999,-999,-999,-999,-999
101450,MICHAEL,SWEENEY,NaN,NaN,WHITE,MALE,62,1983-02-14,8508,-999,-999,-999,-999,-999,-999,-999,-999,-999
101453,MICHAEL,SWEENEY,NaN,NaN,WHITE,MALE,61,1983-02-14,8577,-999,-999,-999,-999,-999,-999,-999,-999,-999
104091,RICARDO,TORRES,NaN,NaN,HISPANIC,MALE,27,2014-05-27,16756,-999,-999,-999,-999,-999,-999,-999,-999,-999
104093,RICARDO,TORRES,NaN,NaN,HISPANIC,MALE,32,2014-05-27,16753,-999,-999,-999,-999,-999,-999,-999,-999,-999
2812,ROBERT,ANDERSON,NaN,NaN,WHITE,MALE,67,1970-01-19,8024,-999,-999,-999,-999,-999,-999,-999,-999,-999
2832,ROBERT,ANDERSON,NaN,NaN,WHITE,MALE,68,1970-01-19,14297,5419,-999,-999,-999,-999,-999,-999,-999,-999
6417,ROBERT,BARRETT,NaN,NaN,WHITE,MALE,90,1950-06-03,2010,-999,-999,-999,-999,-999,-999,-999,-999,-999
6422,ROBERT,BARRETT,NaN,NaN,WHITE,MALE,89,1950-06-03,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
35063,ROBERT,FLYNN,NaN,NaN,WHITE,MALE,88,1958-02-16,10645,-999,-999,-999,-999,-999,-999,-999,-999,-999
35066,ROBERT,FLYNN,NaN,NaN,WHITE,MALE,90,1958-02-16,1726,-999,-999,-999,-999,-999,-999,-999,-999,-999
97530,ROBERT,SMITH,NaN,NaN,WHITE,MALE,68,1971-02-22,20066,-999,-999,-999,-999,-999,-999,-999,-999,-999
97544,ROBERT,SMITH,NaN,NaN,WHITE,MALE,69,1971-02-22,15577,-999,-999,-999,-999,-999,-999,-999,-999,-999
97524,ROBERT,SMITH,NaN,NaN,WHITE,MALE,47,1996-12-02,20648,19322,-999,-999,-999,-999,-999,-999,-999,-999
97536,ROBERT,SMITH,NaN,NaN,WHITE,MALE,43,1996-12-02,19314,-999,-999,-999,-999,-999,-999,-999,-999,-999
74625,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
74626,STEPHEN,MYTHEN,NaN,NaN,WHITE,MALE,53,2000-09-11,12719,-999,-999,-999,-999,-999,-999,-999,-999,-999
76947,THOMAS,OCONNOR,NaN,NaN,WHITE,MALE,73,1967-11-20,7952,1066,-999,-999,-999,-999,-999,-999,-999,-999
76965,THOMAS,OCONNOR,NaN,NaN,WHITE,MALE,70,1967-11-20,20577,2577,-999,-999,-999,-999,-999,-999,-999,-999
106197,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,10331,-999,-999,-999,-999,-999,-999,-999,-999,-999
106199,THOMAS,VARGAS,NaN,NaN,HISPANIC,MALE,34,2005-12-05,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
65556,TIMOTHY,MARTIN,NaN,NaN,WHITE,MALE,38,2000-12-18,13385,12928,-999,-999,-999,-999,-999,-999,-999,-999
65563,TIMOTHY,MARTIN,NaN,NaN,WHITE,MALE,51,2000-12-18,8813,-999,-999,-999,-999,-999,-999,-999,-999,-999
76621,TIMOTHY,OBRIEN,P,NaN,WHITE,MALE,48,1995-01-03,20899,8893,-999,-999,-999,-999,-999,-999,-999,-999
76668,TIMOTHY,OBRIEN,NaN,NaN,WHITE,MALE,48,1995-01-03,21797,20380,20034,10532,2946,-999,-999,-999,-999,-999
66865,WILLIAM,MCCANN,NaN,NaN,WHITE,MALE,83,1958-02-16,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
66867,WILLIAM,MCCANN,NaN,NaN,WHITE,MALE,87,1958-02-16,10701,-999,-999,-999,-999,-999,-999,-999,-999,-999
58564,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,15609,15607,-999,-999,-999,-999,-999,-999,-999,-999
58567,WOJCIECH,LACZ,NaN,NaN,WHITE,MALE,40,2003-09-29,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999