In [1]:
import pandas as pd
from assign_unique_ids_functions import *
from merge_functions import *
pd.options.display.max_columns = 1000

In [2]:
prof = pd.read_csv('../input/officer-profiles.csv.gz')
ref = pd.read_csv('../input/officer-reference.csv.gz')

/Users/invinst/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
awrd = pd.read_csv('../input/awards_demographics.csv.gz')

In [4]:
atr_dict = append_to_reference(sub_df=awrd, ref_df=ref, profile_df=prof, print_merging=True, return_unmatched=True,
                              no_match_cols=['Last.Name', 'Current.Star'], expand_stars=True)

14860 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
10 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star6'] columns
38 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star5'] columns
141 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star4'] columns
479 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star3'] columns
1436 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
7795 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
130 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Current.Star'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'F4FN', 'Star9'] columns
2 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'F4FN', 'Star1'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name', 'Star9'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name', 'Star3'] columns
5 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name', 'Star1'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star2'] columns
3 Matches on
['Gender', 'Middle.Initial2', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'F4FN', 'Star9'] columns
1 Matches on
['Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
1 Matches on
['Gender', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star9'] columns
1 Matches on
['Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name', 'Star1'] columns
3 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name', 'Star9'] columns
3 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name', 'Star2'] columns
26 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name', 'Star1'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Birth.Year', 'Appointed.Date', 'First.Name', 'Star9'] columns
1010 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name'] columns
1 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'F4FN'] columns
2 Matches on
['Gender', 'Middle.Initial2', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name'] columns
25954 Total Merged. 81.03% of DF1 and 99.33% of DF2 Merged.
6076 Unmerged in DF1. 18.97% Unmerged.
175 Unmerged in DF2. 0.67% Unmerged.

In [5]:
um1 = atr_dict['UM1']
um2 = atr_dict['UM2']

In [10]:
um2[um2['Appointed.Date']<='2016-08-29'].sort_values('Last.Name')

,awards_ID,F4FN,Gender,Star6,Star5,Star8,F4LN,Star10,Appointed.Date,Star3,Star4,Current.Star,Middle.Initial2,Middle.Initial,Star2,Star1,Star7,Last.Name,Star9,First.Name,Birth.Year
23802,3410,CARL,MALE,NaN,NaN,NaN,APAR,NaN,2006-07-16,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,APARICIO,NaN,CARLOS,1986.0
1529,3144,BRIT,FEMALE,NaN,NaN,NaN,BLAC,NaN,2010-04-16,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,BLACKWELL,NaN,BRITTNEY,1985.0
23904,621,ALIC,FEMALE,NaN,NaN,NaN,BLAK,NaN,2006-07-16,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,BLAKE,NaN,ALICIA,1985.0
1836,15434,JONA,MALE,NaN,NaN,NaN,BOYD,NaN,2010-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BOYD,NaN,JONATHAN,1978.0
3186,31229,UNDR,FEMALE,NaN,NaN,NaN,CHAN,NaN,2010-09-01,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,CHANDLER,NaN,UNDREA,1976.0
3805,6065,DAVI,MALE,NaN,NaN,NaN,CONT,NaN,2004-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTRERAS,NaN,DAVID,1973.0
4883,91,ADAM,MALE,NaN,NaN,NaN,DEMB,NaN,2007-11-01,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,DEMBOWSKI,NaN,ADAM,1986.0
24236,17074,KATH,FEMALE,NaN,NaN,NaN,DICK,NaN,2007-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DICKEY,NaN,KATHRYN,1986.0
24251,1177,ANGE,FEMALE,NaN,NaN,NaN,DOBY,NaN,2006-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DOBYNES,NaN,ANGELICA,1987.0
5933,14434,JOHN,MALE,NaN,NaN,NaN,EVAN,NaN,2010-09-01,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,EVANS,NaN,JOHN,1985.0
24415,25550,RICH,MALE,NaN,NaN,NaN,FRAN,NaN,2007-11-01,NaN,NaN,NaN,NaN,B,NaN,NaN,NaN,FRANCIS,NaN,RICHARD,1987.0
24448,28438,SERG,MALE,NaN,NaN,NaN,GALL,NaN,2006-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GALLEGOS,NaN,SERGIO,1986.0
6866,19834,MARI,FEMALE,NaN,NaN,NaN,GALV,NaN,2010-04-16,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,GALVEZ,NaN,MARIA,1985.0
24456,26282,ROBE,MALE,NaN,NaN,NaN,GARC,NaN,2006-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GARCIA,NaN,ROBERT,1986.0
7229,14501,JOHN,MALE,NaN,NaN,NaN,GIER,NaN,2003-01-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GIERES,NaN,JOHN,1966.0
7242,10733,GLEN,MALE,NaN,NaN,NaN,GILB,NaN,1949-02-28,NaN,NaN,NaN,NaN,H,NaN,NaN,NaN,GILBRETH,NaN,GLEN,1921.0
24508,2954,BRIA,MALE,NaN,NaN,NaN,GORD,NaN,2006-04-28,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,GORDON,NaN,BRIAN,1986.0
7920,7809,DWAY,MALE,14344.0,14344.0,14344.0,GROS,14344.0,2012-04-02,14344.0,14344.0,14344.0,NaN,NaN,14344.0,14344.0,14344.0,GROSS,14344.0,DWAYNE,1987.0
8276,5011,CORI,FEMALE,NaN,NaN,NaN,HANS,NaN,2012-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HANSON,NaN,CORINA,1974.0
24616,22746,NAKI,FEMALE,NaN,NaN,NaN,HARV,NaN,2006-07-16,NaN,NaN,NaN,NaN,D,NaN,NaN,NaN,HARVEY,NaN,NAKIA,1984.0
8537,22336,MICH,FEMALE,NaN,NaN,NaN,HAYE,NaN,1999-11-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HAYES,NaN,MICHELE,1968.0
24660,24891,RAND,MALE,NaN,NaN,NaN,HILL,NaN,2006-04-28,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,HILLER,NaN,RANDALL,1987.0
9019,8563,ELIZ,FEMALE,NaN,NaN,NaN,HOFF,NaN,2010-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HOFFMAN,NaN,ELIZABETH,1972.0
10053,23866,PATR,MALE,NaN,NaN,NaN,JONE,NaN,2010-04-16,NaN,NaN,NaN,NaN,R,NaN,NaN,NaN,JONES,NaN,PATRICK,1983.0
24861,29653,TANO,FEMALE,NaN,NaN,NaN,KITT,NaN,1990-08-01,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,KITTRELL,NaN,TANOA,1962.0
11398,24895,RAND,MALE,NaN,NaN,NaN,LANE,NaN,2010-04-22,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,LANE,NaN,RANDALL,1976.0
11524,6244,DAVI,MALE,NaN,NaN,NaN,LAVI,NaN,2000-07-05,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,LAVIN,NaN,DAVID,1967.0
11547,4667,CHRI,MALE,NaN,NaN,NaN,LAWS,NaN,1985-11-18,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,LAWSON,NaN,CHRISTOPHER,1957.0
11551,1561,ANTH,MALE,NaN,NaN,NaN,LAYM,NaN,2001-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LAYMAN,NaN,ANTHONY,1978.0
11739,31318,VASY,MALE,18342.0,18342.0,18342.0,LEVC,18342.0,2016-08-19,18342.0,18342.0,18342.0,NaN,NaN,18342.0,18342.0,18342.0,LEVCHENKO,18342.0,VASYL,1985.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13750,22690,MUND,MALE,9754.0,9754.0,9754.0,MEND,9754.0,2001-02-05,9754.0,9754.0,9754.0,NaN,NaN,9754.0,9754.0,9754.0,MENDOZA,9754.0,MUNDO,1973.0
14073,12000,JACQ,FEMALE,20259.0,20259.0,20259.0,MIZE,20259.0,2005-09-26,20259.0,20259.0,20259.0,NaN,M,20259.0,20259.0,20259.0,MIZERA,20259.0,JACQUELINE,1981.0
14096,23937,PATR,MALE,NaN,NaN,NaN,MOHA,NaN,2010-04-16,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,MOHAN,NaN,PATRICK,1985.0
25221,298,ALBA,FEMALE,NaN,NaN,NaN,MORA,NaN,2007-11-01,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,MORALES,NaN,ALBA,1988.0
14295,28386,SEAN,MALE,NaN,NaN,NaN,MORA,NaN,2000-12-10,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,MORAN,NaN,SEAN,1976.0
14288,12712,JAME,MALE,NaN,NaN,NaN,MORA,NaN,2005-09-16,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,MORAN,NaN,JAMES,1985.0
14333,12714,JAME,MALE,NaN,NaN,NaN,MORG,NaN,1959-03-16,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,MORGAN,NaN,JAMES,1934.0
25270,30878,TIMO,MALE,NaN,NaN,NaN,NALE,NaN,2007-11-01,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NALEWAY,NaN,TIMOTHY,1986.0
25432,28097,SANA,FEMALE,NaN,NaN,NaN,PICK,NaN,2006-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PICKETT,NaN,SANAVIA,1987.0
25439,17835,KIMM,FEMALE,NaN,NaN,NaN,PIKO,NaN,2007-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIKOWSKI,NaN,KIMMERRIE,1988.0
17088,17703,KEVI,MALE,NaN,NaN,NaN,RAKE,NaN,1998-10-01,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,RAKE,NaN,KEVIN,1942.0
17739,28396,SEAN,MALE,NaN,NaN,NaN,ROBE,NaN,2004-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ROBERTS,NaN,SEAN,1966.0
17893,12002,JACQ,FEMALE,NaN,NaN,NaN,RODR,NaN,2010-04-16,NaN,NaN,NaN,NaN,D,NaN,NaN,NaN,RODRIGUEZ,NaN,JACQUELINE,1985.0
18317,4680,CHRI,MALE,NaN,NaN,NaN,RUSI,NaN,2012-12-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUSIN,NaN,CHRISTOPHER,1986.0
25686,6378,DAVI,MALE,NaN,NaN,NaN,SEBO,NaN,1990-07-10,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,SEBOK,NaN,DAVID,1966.0
25707,4444,CHRI,MALE,NaN,NaN,NaN,SHIU,NaN,2007-11-01,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,SHIU,NaN,CHRISTIAN,1988.0
19701,28426,SENE,MALE,NaN,NaN,NaN,SMIT,NaN,2012-07-02,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,SMITH,NaN,SENECA,1980.0
25816,12964,JAME,MALE,NaN,NaN,NaN,STEW,NaN,2006-04-28,NaN,NaN,NaN,NaN,J,NaN,NaN,NaN,STEWART,NaN,JAMES,1987.0
25874,17736,KEVI,MALE,NaN,NaN,NaN,TAYL,NaN,2007-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TAYLOR,NaN,KEVIN,1986.0
21634,19449,LYNN,FEMALE,14802.0,14802.0,14802.0,VEGA,14802.0,2007-06-18,14802.0,14802.0,14802.0,NaN,M,14802.0,14802.0,14802.0,VEGA,14802.0,LYNNETTE,1990.0
21837,13299,JASO,MALE,NaN,NaN,NaN,VONR,NaN,2004-09-27,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN,VONREICHBAUER,NaN,JASON,1972.0
22010,30668,THOM,MALE,NaN,NaN,NaN,WALS,NaN,1959-12-16,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,WALSH,NaN,THOMAS,1934.0
26015,21278,MERC,FEMALE,NaN,NaN,NaN,WATS,NaN,2005-09-16,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,WATSON,NaN,MERCEDES,1987.0
22263,21108,MAUR,FEMALE,NaN,NaN,NaN,WEBE,NaN,2010-04-16,NaN,NaN,NaN,NaN,T,NaN,NaN,NaN,WEBER,NaN,MAUREEN,1981.0
26033,7827,DWIG,MALE,NaN,NaN,NaN,WHIT,NaN,2007-11-01,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,WHITE,NaN,DWIGHT,1987.0
26035,24714,QUIN,FEMALE,NaN,NaN,NaN,WHIT,NaN,2006-04-28,NaN,NaN,NaN,NaN,R,NaN,NaN,NaN,WHITE,NaN,QUINRETTA,1986.0
26067,22300,MICH,MALE,17643.0,17643.0,17643.0,WILS,17643.0,2008-04-07,17643.0,17643.0,17643.0,NaN,A,17643.0,17643.0,17643.0,WILSON,17643.0,MICHAEL,1977.0
22821,29426,STEV,MALE,NaN,NaN,NaN,WITN,NaN,2002-01-07,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,WITNIK,NaN,STEVEN,1978.0
26094,23062,NICH,MALE,13289.0,13289.0,13289.0,WRIG,13289.0,2013-11-16,13289.0,13289.0,13289.0,NaN,D,13289.0,13289.0,13289.0,WRIGHT,13289.0,NICHOLAS,1995.0
26121,8386,EDYT,FEMALE,8527.0,8527.0,8527.0,ZUK,8527.0,2016-08-29,8527.0,8527.0,8527.0,NaN,W,8527.0,8527.0,8527.0,ZUK,8527.0,EDYTA,1988.0

In [15]:
prof[(prof['First.Name'].str.contains('BRIT')) & (prof['Last.Name'].str.contains(''))].sort_values('Appointed.Date')

,UID,Star3,trr-officers_ID,trr-statuses_ID,Current.Unit,Birth.Year,Race,investigators_ID,Appointed.Date,all-sworn-units_ID,ase-units_ID,Star6,Last.Name,all-sworn_ID,all-members_ID,Star9,Middle.Initial2,Star5,accused_ID,Star1,Star2,Star4,Star10,Current.Rank,Suffix.Name,Current.Age,First.Name,Gender,Current.Star,Star8,Middle.Initial,Star7
7248,7249,NaN,NaN,NaN,6.0,1988.0,BLACK,NaN,2015-02-02,2764.0,7164.0,NaN,DOTSON,2764.0,2753.0,NaN,NaN,NaN,NaN,14200.0,NaN,NaN,NaN,NaN,NaN,27.0,BRITTNAY,FEMALE,NaN,NaN,L,NaN
17638,17639,NaN,NaN,NaN,44.0,1989.0,HISPANIC,NaN,2016-04-25,2765.0,NaN,NaN,MARTINEZ,2765.0,2754.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRITTNI,FEMALE,NaN,NaN,E,NaN
30476,30477,NaN,NaN,NaN,44.0,1991.0,BLACK,NaN,2016-06-27,2763.0,NaN,NaN,WELLS,2763.0,2752.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRITTANY,FEMALE,NaN,NaN,T,NaN