In [130]:
import pandas as pd
from AUIDFunctions import *
import inspect
uh = pd.read_csv("input/unit-history_demo.csv")
am = pd.read_csv("input/all-members_demo.csv")
ac = pd.read_csv("input/accused_demo.csv", dtype={"Middle.Initial":str})
am = am.rename(columns = {'TID' : 'ID1'})
uh = uh.rename(columns = {'TID' : 'ID2'})

In [161]:
pd.set_option('display.max_columns', 30)

In [131]:
def intersect(a, b):
     return list(set(a) & set(b))
def setdiff(a,b):
    return list(set(a) - set(b))
def union(a,b):
    return list(set(a) | set(b))

In [132]:
TakeFirst4 = lambda x: x[:4]
BY_to_CA = lambda x: 2016 - x
def AddColumns(df, add_cols = ["F4FN", "F4LN", "Current.Age", "CA_BY"]):
    if "F4FN" in add_cols and "First.Name" in df.columns:
            df['F4FN'] = df['First.Name'].map(TakeFirst4)
    if "F4LN" in add_cols and 'Last.Name' in df.columns:
            df['F4LN'] = df['Last.Name'].map(TakeFirst4)
    if "Current.Age" in add_cols and "Current.Age" in df.columns:
        df['Current.Age.p1'] = df['Current.Age']
        df['Current.Age.m1'] = df['Current.Age']
    if "CA_BY" in add_cols and "Birth.Year" in df.columns:
        by_to_ca = lambda x: 2016 - x
        df['Current.Age.p1'] = df['Birth.Year'].map(BY_to_CA)
        df['Current.Age.m1'] = df['Birth.Year'].map(BY_to_CA) - 1  
    return df

In [133]:
amd = am.dropna(axis=1, how='all')
uhd = uh.dropna(axis=1, how='all')
amdm = AddColumns(amd)
uhdm = AddColumns(uhd)
print(amd.columns)
print(uhd.columns)
cols = [col for col in amd.columns if col in uhd.columns]
print(cols)

Index(['ID1', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Gender', 'Race', 'Birth.Year', 'F4FN', 'F4LN',
       'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
Index(['ID2', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Current.Age', 'Gender', 'Race', 'Star1', 'Star2',
       'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9', 'Star10',
       'Current.Unit', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1']

In [134]:
mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t1 = amdmp.merge(uhdmp, on = mc, how ='inner')

mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t2 = amdmp.merge(uhdmp, on = mc, how ='inner')

print(intersect(t1['ID2'], t2['ID2']))
print(intersect(t1['ID1'], t2['ID1']))
print(t1.shape)
print(t2.shape)

[]
[]
(1312, 29)
(4289, 29)

In [295]:
def LoopMerge(df1, df2, on_list, keep_columns = ['ID1', 'ID2'], return_unmatched = True):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    # Generate on list?
    for mc in on_list:
        df1t = RemoveDuplicates(df1[keep_columns[:1] + mc], mc)
        df2t = RemoveDuplicates(df2[keep_columns[1:] + mc], mc)
        dfmt = df1t.merge(df2t, on=mc, how='inner')
        if dfmt.shape[0] > 0:
            print('******')
            print(mc)
            print(dfmt.shape[0])
            print('******')
            dfmt['Match'] = '-'.join(mc)
            dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
            df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
            df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]
    if return_unmatched:
        return (dfm.reset_index(drop=True), df1, df2)
    else:
        return dfm.reset_index(drop=True)

In [136]:
m = LoopMerge(amdm, uhdm, on_list = [
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
])

******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4289
******
******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
1312
******
******
['F4FN', 'F4LN', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
1
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
19949
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
6011
******
******
['F4FN', 'F4LN', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
3
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'Gender', 'Race']
1
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race']
2
******
******
['First.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4
******
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
7
******
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
3
******

In [137]:
uid_ref = pd.concat([m[0][["ID1", "ID2"]], m[1][["ID1"]], m[2][["ID2"]]]).reset_index(drop=True)
if "UID" not in uid_ref.columns:
    uid_ref.insert(0, "UID", uid_ref.index + 1)
am.head()

,ID1,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Gender,Race,Birth.Year
0,1,JEFFERY,AARON,M,NaN,2005-09-26,MALE,WHITE,1971
1,2,KARINA,AARON,NaN,NaN,2005-09-26,FEMALE,HISPANIC,1980
2,3,DANIEL,ABATE,P,NaN,1970-06-15,MALE,WHITE,1942
3,4,ANTHONY,ABBATE,G,NaN,1994-12-05,MALE,WHITE,1968
4,5,CARMEL,ABBATE,G,NaN,1969-01-06,MALE,WHITE,1942

In [138]:
uid_ref.head()

   UID ID1 ID2
0    1   2   2
1    2  16  16
2    3  17  17
3    4  32  31
4    5  33  32

In [139]:
am = am.merge(uid_ref[["ID1", "UID"]], on='ID1', how='left')
uh = uh.merge(uid_ref[["ID2", "UID"]], on='ID2', how='left')

In [140]:
ref = pd.concat([am, uh])
ref.head()

,Appointed.Date,Birth.Year,Current.Age,Current.Unit,First.Name,Gender,ID1,ID2,Last.Name,Middle.Initial,...,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Suffix.Name,UID
0,2005-09-26,1971.0,NaN,NaN,JEFFERY,MALE,1,NaN,AARON,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5603
1,2005-09-26,1980.0,NaN,NaN,KARINA,FEMALE,2,NaN,AARON,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1970-06-15,1942.0,NaN,NaN,DANIEL,MALE,3,NaN,ABATE,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25552
3,1994-12-05,1968.0,NaN,NaN,ANTHONY,MALE,4,NaN,ABBATE,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5604
4,1969-01-06,1942.0,NaN,NaN,CARMEL,MALE,5,NaN,ABBATE,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5605

In [141]:
ref['Middle.Initial'] = ref['Middle.Initial'].fillna("")
print(ref.columns)
ref.to_csv("test-reference.csv", index=False)

Index(['Appointed.Date', 'Birth.Year', 'Current.Age', 'Current.Unit',
       'First.Name', 'Gender', 'ID1', 'ID2', 'Last.Name', 'Middle.Initial',
       'Race', 'Star1', 'Star10', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6',
       'Star7', 'Star8', 'Star9', 'Suffix.Name', 'UID'],
      dtype='object')

In [142]:
ref.head()

,Appointed.Date,Birth.Year,Current.Age,Current.Unit,First.Name,Gender,ID1,ID2,Last.Name,Middle.Initial,...,Star2,Star3,Star4,Star5,Star6,Star7,Star8,Star9,Suffix.Name,UID
0,2005-09-26,1971.0,NaN,NaN,JEFFERY,MALE,1,NaN,AARON,M,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5603
1,2005-09-26,1980.0,NaN,NaN,KARINA,FEMALE,2,NaN,AARON,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1970-06-15,1942.0,NaN,NaN,DANIEL,MALE,3,NaN,ABATE,P,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25552
3,1994-12-05,1968.0,NaN,NaN,ANTHONY,MALE,4,NaN,ABBATE,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5604
4,1969-01-06,1942.0,NaN,NaN,CARMEL,MALE,5,NaN,ABBATE,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5605

In [144]:
'''profiles = AggregateData(ref, uid = "UID", id_cols = [],
              max_cols = setdiff(ref.columns, ["UID"]), make_uid=False)'''

'profiles = AggregateData(ref, uid = "UID", id_cols = [],\n              max_cols = setdiff(ref.columns, ["UID"]), make_uid=False)'

In [145]:
uid = "UID"
uid_col = [uid]
agg_df = ref[uid_col].drop_duplicates().reset_index(drop=True) 
max_cols = setdiff(ref.columns, ["UID"])
print(max_cols)

['Appointed.Date', 'ID2', 'Star7', 'Star4', 'Star9', 'Star2', 'Star5', 'First.Name', 'Last.Name', 'Star1', 'Current.Unit', 'Current.Age', 'ID1', 'Suffix.Name', 'Star3', 'Gender', 'Middle.Initial', 'Star8', 'Birth.Year', 'Star6', 'Race', 'Star10']

In [146]:
profiles = ref[uid_col + max_cols].drop_duplicates()
profiles = profiles.groupby(uid_col, as_index=False)[max_cols]

In [147]:
profiles = profiles.agg(max)

In [148]:
profiles.columns

Index(['UID', 'Appointed.Date', 'ID2', 'Star7', 'Star4', 'Star9', 'Star2',
       'Star5', 'First.Name', 'Last.Name', 'Star1', 'Current.Unit',
       'Current.Age', 'ID1', 'Suffix.Name', 'Star3', 'Gender',
       'Middle.Initial', 'Star8', 'Birth.Year', 'Star6', 'Race', 'Star10'],
      dtype='object')

In [149]:
acd = ac.dropna(axis=1, how='all')
acd = AddColumns(acd)
profiles = AddColumns(profiles)

In [191]:
#def StarMerge(multistar,singlestar, max_star, on_list, keep_columns = ["ID1", "ID2"]):
acdt = acd.loc[acd["Star"]>0]
pt = profiles.loc[(profiles["Star1"].notnull()) & (profiles["Star1"] > 0)]

In [201]:
mc = ['First.Name', 'Last.Name','Appointed.Date', 'Gender', "Race"]
mt = acdt.merge(pt, how = "inner", left_on = mc + ["Star"], right_on= mc + ["Star1"])

In [281]:
keep_columns = ["TID", "UID"]
on_list =  [['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender'],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Middle.Initial", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Middle.Initial", 'Appointed.Date', 'Gender'],
    ['F4FN', 'F4LN', "Middle.Initial", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', 'Appointed.Date', 'Gender', "Race", "Current.Unit"],
    ['F4FN', 'F4LN', 'Appointed.Date', 'Gender', "Race", "Current.Unit"],
    ['First.Name', 'Last.Name', 'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name','Appointed.Date', 'Gender', "Birth.Year"],
    ['First.Name','Appointed.Date', 'Gender', "Race","Birth.Year"],
    ['First.Name','Appointed.Date', 'Gender',"Birth.Year"]]

In [273]:
ac = AddColumns(ac)

In [301]:
def StarMerge(df1, df2, on_list, keep_columns, return_unmerged = True):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    df2 = df2.loc[(df2["Star"].notnull()) & (df2["Star"] > 0)]
    stars = ["Star" + str(i) for i in range(1,11)]
    for mc_cols in on_list:
        for star in stars:
            mc1 = mc_cols + [star]
            mc2 = mc_cols + ["Star"]
            df1t = RemoveDuplicates(df1.loc[(df1[star].notnull()) & (df1[star] > 0), keep_columns[:1] + mc1], mc1)
            df2t = RemoveDuplicates(df2[keep_columns[1:] + mc2], mc2)
            dfmt = df1t.merge(df2t, left_on = mc1, right_on = mc2, how='inner')
            if dfmt.shape[0] > 0:
                print('******')
                print(mc1)
                print(dfmt.shape[0])
                print('******')
                dfmt['Match'] = '-'.join(mc + [star + "/" + "Star"])
                dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
                df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
                df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]
    if return_unmerged:
        return (dfm.reset_index(drop=True), df1, df2)
    else:
        return dfm.reset_index(drop=True)

In [308]:
m = StarMerge(profiles, ac, on_list, keep_columns = ["UID", "TID"], return_unmerged=False)

m2 = LoopMerge(profiles.loc[~profiles["UID"].isin(m["UID"])], ac.loc[~ac["TID"].isin(m["TID"])], on_list, keep_columns = ["UID", "TID"])

******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star1']
1
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star1']
6086
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star2']
1301
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star3']
476
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star4']
155
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star5']
48
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star6']
12
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star7']
2
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star1']
1544
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star2']
280
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star3']
79
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star4']
23
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star5']
7
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Star6']
1
******
******
['F4FN', 'F4LN', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Star1']
1
******
******
['First.Name', 'Appointed.Date', 'Gender', 'Race', 'Birth.Year', 'Star1']
2
******
******
['First.Name', 'Appointed.Date', 'Gender', 'Race', 'Birth.Year', 'Star2']
3
******
******
['First.Name', 'Appointed.Date', 'Gender', 'Birth.Year', 'Star1']
6
******
******
['First.Name', 'Appointed.Date', 'Gender', 'Birth.Year', 'Star2']
1
******
******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race']
1
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race']
5316
******
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender']
665
******
******
['First.Name', 'Last.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Unit']
3
******
******
['First.Name', 'Appointed.Date', 'Gender', 'Race', 'Birth.Year']
2
******

In [311]:
print(m.shape)
print(m2[0].shape)

(10028, 3)
(5987, 3)

In [314]:
print(m2[2])

         TID First.Name    Last.Name Middle.Initial Suffix.Name  \
1453    1454     VALENA      BRADLEY            NaN         NaN
4275    4276       JOSE     CHAMBERS            NaN         NaN
4462    4463   MICHONNE        BERRY            NaN         NaN
7768    7769     SUSANA  LACASACALIZ            NaN         NaN
9246    9247       LUIS    CONTRERAS            NaN         NaN
15031  15032      JAMEL        JUDEH            NaN         NaN
15180  15181       ERIC       VALDES            NaN         NaN

      Appointed.Date  Birth.Year  Gender      Race  Current.Unit Current.Rank  \
1453      1989-12-26        1964  FEMALE   UNKNOWN             2           PO
4275      2000-01-24        1972    MALE     BLACK          -999           PO
4462      1999-11-29        1968  FEMALE     BLACK           376           PO
7768      1999-03-08        1964  FEMALE     WHITE           376           PO
9246      2000-09-11        1968    MALE     WHITE           376           PO
15031     2012-10-05        1983    MALE  HISPANIC            44           PO
15180     2016-08-29        1984    MALE  HISPANIC            44           PO

        Star  F4FN  F4LN  Current.Age.p1  Current.Age.m1
1453   17810  VALE  BRAD              52              51
4275    -999  JOSE  CHAM              44              43
4462    -999  MICH  BERR              48              47
7768    -999  SUSA  LACA              52              51
9246    -999  LUIS  CONT              48              47
15031   -999  JAME  JUDE              33              32
15180      0  ERIC  VALD              32              31

In [319]:
print(m2[1].loc[m2[1]["First.Name"]=="SUSANA"].sort_values("Last.Name"))

         UID Appointed.Date  ID2  Star7  Star4  Star9  Star2  Star5  \
31853  31854     2016-04-25  NaN    NaN    NaN    NaN    NaN    NaN

      First.Name Last.Name  Star1  Current.Unit  Current.Age      ID1  \
31853     SUSANA   ROSALES    NaN           NaN          NaN  24764.0

      Suffix.Name  Star3  Gender Middle.Initial  Star8  Birth.Year  Star6  \
31853         NaN    NaN  FEMALE                   NaN      1983.0    NaN

           Race  Star10  F4FN  F4LN  Current.Age.p1  Current.Age.m1
31853  HISPANIC     NaN  SUSA  ROSA            33.0            32.0

In [328]:
print(profiles.loc[(profiles["First.Name"].str.contains("SUSAN")) & (profiles["Last.Name"].str.contains("L"))].sort_values("Last.Name"))

         UID Appointed.Date      ID2  Star7  Star4  Star9    Star2  Star5  \
25751  25752     1988-11-07   1170.0 -999.0 -999.0 -999.0   4679.0 -999.0
7068    7069     1995-08-07   2302.0 -999.0 -999.0 -999.0   7776.0 -999.0
7202    7203     1996-11-04   2505.0 -999.0 -999.0 -999.0  11800.0 -999.0
26068  26069     1997-05-05   2832.0 -999.0 -999.0 -999.0   -999.0 -999.0
7901    7902     1990-03-26   3583.0 -999.0 -999.0 -999.0   -999.0 -999.0
8601    8602     1982-07-19   4708.0 -999.0 -999.0 -999.0    320.0 -999.0
8762    8763     2000-08-14   4955.0 -999.0 -999.0 -999.0   -999.0 -999.0
8980    8981     1988-12-05   5295.0 -999.0 -999.0 -999.0   3563.0 -999.0
10616  10617     1986-10-13   7825.0 -999.0 -999.0 -999.0   -999.0 -999.0
11877  11878     1986-10-13   9883.0 -999.0 -999.0 -999.0   2564.0 -999.0
27541  27542     1987-03-09  10283.0 -999.0 -999.0 -999.0   -999.0 -999.0
13695  13696     1977-11-01  12749.0 -999.0 -999.0 -999.0   -999.0 -999.0
14961  14962     1982-11-29  14742.0 -999.0 -999.0 -999.0   -999.0 -999.0
15525  15526     1998-05-26  15651.0 -999.0 -999.0 -999.0  19287.0 -999.0
15570  15571     1995-01-03  15725.0 -999.0 -999.0 -999.0   -999.0 -999.0
28761  28762     1991-06-19  16589.0 -999.0 -999.0 -999.0   -999.0 -999.0
16251  16252     1990-03-26  16793.0 -999.0 -999.0 -999.0    971.0 -999.0
16441  16442     1994-07-05  17085.0 -999.0 -999.0 -999.0   -999.0 -999.0
29052  29053     1982-11-29  18005.0 -999.0 -999.0 -999.0   1895.0 -999.0
29241  29242     1976-04-26  18960.0 -999.0 -999.0 -999.0   -999.0 -999.0
18838  18839     1986-07-14  20730.0 -999.0 -999.0 -999.0   -999.0 -999.0
19862  19863     1985-11-18  22358.0 -999.0 -999.0 -999.0   7070.0 -999.0
31853  31854     2016-04-25      NaN    NaN    NaN    NaN      NaN    NaN
24950  24951     1998-03-16  30650.0 -999.0 -999.0 -999.0   3036.0 -999.0
25150  25151     1989-12-26  30972.0 -999.0 -999.0 -999.0   -999.0 -999.0

      First.Name  Last.Name    Star1  Current.Unit  Current.Age      ID1  \
25751      SUSAN   BALLAUER   4749.0         193.0         62.0   1190.0
7068       SUSAN     BOLTON  18865.0          18.0         55.0   2330.0
7202       SUSAN     BOYLAN  19099.0           8.0         50.0   2534.0
26068      SUSAN    BROHLIN  16398.0          14.0         46.0   2865.0
7901       SUSAN    CALAHAN  11762.0         121.0         54.0   3623.0
8601       SUSAN      CLARK   2246.0         121.0         55.0   4766.0
8762       SUSAN   COLLERAN   3731.0          19.0         41.0   5015.0
8980       SUSAN   COPELAND  16179.0          24.0         59.0   5357.0
10616      SUSAN     ELLIOT   6706.0          44.0         51.0   7914.0
11877      SUSAN    GILBERT   4378.0          24.0         60.0   9998.0
27541      SUSAN   GONZALEZ   4951.0           8.0         53.0  10406.0
13695      SUSAN     HURLEY  16916.0          16.0         67.0  12894.0
14961      SUSAN     KLUJKA   -999.0          44.0         60.0  14902.0
15525      SUSAN    LASCOLA  19575.0           6.0         63.0  15820.0
15570      SUSAN     LAWLER   -999.0          44.0         63.0  15894.0
28761      SUSAN      LUCAS   6617.0          17.0         65.0  16767.0
16251      SUSAN   MACKROLA   2436.0          14.0         68.0  16972.0
16441      SUSAN     MANDEL   -999.0          44.0         45.0  17266.0
29052      SUSAN   MCDONALD   8284.0          15.0         55.0  18195.0
29241      SUSAN      MILLA   -999.0           NaN         65.0  19165.0
18838      SUSAN   OCONNELL   7383.0         189.0         58.0  20951.0
19862      SUSAN   PHILLIPS  17770.0          45.0         61.0  22593.0
31853     SUSANA    ROSALES      NaN           NaN          NaN  24764.0
24950      SUSAN   WILLIAMS  20496.0         620.0         63.0  30972.0
25150      SUSAN  WOLVERTON  10873.0         177.0         67.0  31294.0

      Suffix.Name   Star3  Gender Middle.Initial  Star8  Birth.Year  Star6  \
25751         NaN  -999.0  FEMALE              E -999.0      1954.0 -999.0
7068          NaN  -999.0  FEMALE              B -999.0      1960.0 -999.0
7202          NaN  -999.0  FEMALE              P -999.0      1965.0 -999.0
26068         NaN  -999.0  FEMALE              E -999.0      1970.0 -999.0
7901          NaN  -999.0  FEMALE              M -999.0      1961.0 -999.0
8601          NaN  -999.0  FEMALE              E -999.0      1960.0 -999.0
8762          NaN  -999.0  FEMALE              B -999.0      1974.0 -999.0
8980          NaN  -999.0  FEMALE              M -999.0      1956.0 -999.0
10616         NaN  -999.0  FEMALE              M -999.0      1964.0 -999.0
11877         NaN  2378.0  FEMALE              A -999.0      1955.0 -999.0
27541         NaN  -999.0  FEMALE              M -999.0      1963.0 -999.0
13695         NaN  -999.0  FEMALE              M -999.0      1948.0 -999.0
14961         NaN  -999.0  FEMALE              A -999.0      1955.0 -999.0
15525         NaN  -999.0  FEMALE              L -999.0      1952.0 -999.0
15570         NaN  -999.0  FEMALE              A -999.0      1952.0 -999.0
28761         NaN  -999.0  FEMALE              M -999.0      1951.0 -999.0
16251         NaN   797.0  FEMALE              J -999.0      1947.0 -999.0
16441         NaN  -999.0  FEMALE              L -999.0      1970.0 -999.0
29052         NaN  -999.0  FEMALE              M -999.0      1961.0 -999.0
29241         NaN  -999.0  FEMALE              L -999.0      1951.0 -999.0
18838         NaN  -999.0  FEMALE              M -999.0      1957.0 -999.0
19862         NaN  -999.0  FEMALE              E -999.0      1954.0 -999.0
31853         NaN     NaN  FEMALE                   NaN      1983.0    NaN
24950         NaN  -999.0  FEMALE              M -999.0      1952.0 -999.0
25150         NaN  -999.0  FEMALE              L -999.0      1948.0 -999.0

           Race  Star10  F4FN  F4LN  Current.Age.p1  Current.Age.m1
25751     WHITE  -999.0  SUSA  BALL            62.0            61.0
7068      WHITE  -999.0  SUSA  BOLT            56.0            55.0
7202      WHITE  -999.0  SUSA  BOYL            51.0            50.0
26068     WHITE  -999.0  SUSA  BROH            46.0            45.0
7901      WHITE  -999.0  SUSA  CALA            55.0            54.0
8601      WHITE  -999.0  SUSA  CLAR            56.0            55.0
8762      WHITE  -999.0  SUSA  COLL            42.0            41.0
8980      BLACK  -999.0  SUSA  COPE            60.0            59.0
10616     WHITE  -999.0  SUSA  ELLI            52.0            51.0
11877     WHITE  -999.0  SUSA  GILB            61.0            60.0
27541     WHITE  -999.0  SUSA  GONZ            53.0            52.0
13695     WHITE  -999.0  SUSA  HURL            68.0            67.0
14961     WHITE  -999.0  SUSA  KLUJ            61.0            60.0
15525     WHITE  -999.0  SUSA  LASC            64.0            63.0
15570     WHITE  -999.0  SUSA  LAWL            64.0            63.0
28761       API  -999.0  SUSA  LUCA            65.0            64.0
16251     WHITE  -999.0  SUSA  MACK            69.0            68.0
16441     WHITE  -999.0  SUSA  MAND            46.0            45.0
29052     WHITE  -999.0  SUSA  MCDO            55.0            54.0
29241     WHITE  -999.0  SUSA  MILL            65.0            64.0
18838     WHITE  -999.0  SUSA  OCON            59.0            58.0
19862     BLACK  -999.0  SUSA  PHIL            62.0            61.0
31853  HISPANIC     NaN  SUSA  ROSA            33.0            32.0
24950     WHITE  -999.0  SUSA  WILL            64.0            63.0
25150     WHITE  -999.0  SUSA  WOLV            68.0            67.0