In [8]:
import pandas as pd
from AUIDFunctions import *
import inspect
uh = pd.read_csv("input/unit-history_demo.csv")
am = pd.read_csv("input/all-members_demo.csv")
ac = pd.read_csv("input/accused_demo.csv")
am = am.rename(columns = {'TID' : 'ID1'})
uh = uh.rename(columns = {'TID' : 'ID2'})

In [9]:
def intersect(a, b):
     return list(set(a) & set(b))
def setdiff(a,b):
    return list(set(a) - set(b))
def union(a,b):
    return list(set(a) | set(b))

In [10]:
TakeFirst4 = lambda x: x[:4]
BY_to_CA = lambda x: 2016 - x
def AddColumns(df, add_cols = ["F4FN", "F4LN", "Current.Age", "CA_BY"]):
    if "F4FN" in add_cols and "First.Name" in df.columns:
            df['F4FN'] = df['First.Name'].map(TakeFirst4)
    if "F4LN" in add_cols and 'Last.Name' in df.columns:
            df['F4LN'] = df['Last.Name'].map(TakeFirst4)
    if "Current.Age" in add_cols and "Current.Age" in df.columns:
        df['Current.Age.p1'] = df['Current.Age']
        df['Current.Age.m1'] = df['Current.Age']
    if "CA_BY" in add_cols and "Birth.Year" in df.columns:
        by_to_ca = lambda x: 2016 - x
        df['Current.Age.p1'] = df['Birth.Year'].map(BY_to_CA)
        df['Current.Age.m1'] = df['Birth.Year'].map(BY_to_CA) - 1  
    return df

In [11]:
amd = am.dropna(axis=1, how='all')
uhd = uh.dropna(axis=1, how='all')
amdm = AddColumns(amd)
uhdm = AddColumns(uhd)
print(amd.columns)
print(uhd.columns)
cols = [col for col in amd.columns if col in uhd.columns]
print(cols)

Index(['ID1', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Gender', 'Race', 'Birth.Year', 'F4FN', 'F4LN',
       'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
Index(['ID2', 'First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name',
       'Appointed.Date', 'Current.Age', 'Gender', 'Race', 'Star1', 'Star2',
       'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8', 'Star9', 'Star10',
       'Current.Unit', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1'],
      dtype='object')
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'F4FN', 'F4LN', 'Current.Age.p1', 'Current.Age.m1']

In [12]:
mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t1 = amdmp.merge(uhdmp, on = mc, how ='inner')

mc = ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"]
amdmp = RemoveDuplicates(amdm)
uhdmp = RemoveDuplicates(uhdm)
t2 = amdmp.merge(uhdmp, on = mc, how ='inner')

print(intersect(t1['ID2'], t2['ID2']))
print(intersect(t1['ID1'], t2['ID1']))
print(t1.shape)
print(t2.shape)

[]
[]
(1312, 29)
(4289, 29)

In [13]:
def LoopMerge(df1, df2, on_list, keep_columns = ['ID1', 'ID2']):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    # Generate on list?
    for mc in on_list:
        df1t = RemoveDuplicates(df1[keep_columns[:1] + mc], mc)
        df2t = RemoveDuplicates(df2[keep_columns[1:] + mc], mc)
        dfmt = df1t.merge(df2t, on=mc, how='inner')
        if dfmt.shape[0] > 0:
            print('******')
            print(mc)
            print(dfmt.shape[0])
            dfmt['Match'] = '-'.join(mc)
            dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
            df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
            df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]

    print(df1.shape[0])
    print(df2.shape[0])
    return (dfm.reset_index(drop=True), df1, df2)

In [14]:
m = LoopMerge(amdm, uhdm, on_list = [
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', 'Last.Name',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.m1"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race", "Current.Age.p1"]
])

******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4289
******
['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
1312
******
['F4FN', 'F4LN', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
1
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
19949
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
6011
******
['F4FN', 'F4LN', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
3
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'Gender', 'Race']
1
******
['First.Name', 'Last.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race']
2
******
['First.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
4
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.m1']
7
******
['First.Name', 'Suffix.Name', 'Appointed.Date', 'Gender', 'Race', 'Current.Age.p1']
3
346
15

In [15]:
def AppendToReference(ref, df):
    return 0

In [16]:
uid_ref = pd.concat([m[0][["ID1", "ID2"]], m[1][["ID1"]], m[2][["ID2"]]]).reset_index(drop=True)
if "UID" not in uid_ref.columns:
    uid_ref.insert(0, "UID", uid_ref.index + 1)

In [17]:
am = am.merge(uid_ref[["ID1", "UID"]], on='ID1', how='left')
uh = uh.merge(uid_ref[["ID2", "UID"]], on='ID2', how='left')

In [18]:
ref = pd.concat([am, uh])
print(ref.columns)

Index(['Appointed.Date', 'Birth.Year', 'Current.Age', 'Current.Unit',
       'First.Name', 'Gender', 'ID1', 'ID2', 'Last.Name', 'Middle.Initial',
       'Race', 'Star1', 'Star10', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6',
       'Star7', 'Star8', 'Star9', 'Suffix.Name', 'UID'],
      dtype='object')

In [21]:
'''profiles = AggregateData(ref, uid = "UID", id_cols = [],
              max_cols = setdiff(ref.columns, ["UID"]), make_uid=False)'''

'profiles = AggregateData(ref, uid = "UID", id_cols = [],\n              max_cols = setdiff(ref.columns, ["UID"]), make_uid=False)'

In [23]:
uid = "UID"
uid_col = [uid]
agg_df = ref[uid_col].drop_duplicates().reset_index(drop=True) 
max_cols = setdiff(ref.columns, ["UID"])
print(max_cols)

['Appointed.Date', 'ID2', 'Star7', 'Star4', 'Star9', 'Star2', 'Star5', 'First.Name', 'Last.Name', 'Star1', 'Current.Unit', 'Current.Age', 'ID1', 'Suffix.Name', 'Star3', 'Gender', 'Middle.Initial', 'Star8', 'Birth.Year', 'Star6', 'Race', 'Star10']

In [28]:
profiles = ref[uid_col + max_cols].drop_duplicates()
profiles = profiles.groupby(uid_col, as_index=False)[max_cols]
print(profiles.head())

      Appointed.Date    ID2  Star7  Star4  Star9    Star2  Star5 First.Name  \
0         2005-09-26    NaN    NaN    NaN    NaN      NaN    NaN    JEFFERY
1         2005-09-26    NaN    NaN    NaN    NaN      NaN    NaN     KARINA
2         1970-06-15    NaN    NaN    NaN    NaN      NaN    NaN     DANIEL
3         1994-12-05    NaN    NaN    NaN    NaN      NaN    NaN    ANTHONY
4         1969-01-06    NaN    NaN    NaN    NaN      NaN    NaN     CARMEL
5         1954-10-16    NaN    NaN    NaN    NaN      NaN    NaN     CARMEN
6         1995-12-04    NaN    NaN    NaN    NaN      NaN    NaN      TERRY
7         1949-03-16    NaN    NaN    NaN    NaN      NaN    NaN       LEON
8         1990-03-26    NaN    NaN    NaN    NaN      NaN    NaN       LEON
9         1976-04-26    NaN    NaN    NaN    NaN      NaN    NaN    MICHAEL
10        1970-12-14    NaN    NaN    NaN    NaN      NaN    NaN     ANDREW
11        1982-11-29    NaN    NaN    NaN    NaN      NaN    NaN       DALE
12        1987-12-07    NaN    NaN    NaN    NaN      NaN    NaN  ELIZABETH
13        1986-07-14    NaN    NaN    NaN    NaN      NaN    NaN      LAURA
14        2012-11-30    NaN    NaN    NaN    NaN      NaN    NaN       ZAID
15        2006-12-18    NaN    NaN    NaN    NaN      NaN    NaN  ABDALMAHD
16        2008-04-28    NaN    NaN    NaN    NaN      NaN    NaN       AZIZ
17        1989-12-26    NaN    NaN    NaN    NaN      NaN    NaN     MOULAY
18        1999-10-25    NaN    NaN    NaN    NaN      NaN    NaN      JASON
19        1999-12-13    NaN    NaN    NaN    NaN      NaN    NaN  RESTITUTO
20        1970-06-15    NaN    NaN    NaN    NaN      NaN    NaN    KENNETH
21        1985-09-09    NaN    NaN    NaN    NaN      NaN    NaN    DEBORAH
22        1964-06-08    NaN    NaN    NaN    NaN      NaN    NaN     EUGENE
23        2015-06-29    NaN    NaN    NaN    NaN      NaN    NaN    PATRICK
24        1947-12-22    NaN    NaN    NaN    NaN      NaN    NaN       JOHN
25        1950-04-03    NaN    NaN    NaN    NaN      NaN    NaN        JOS
26        2014-04-28    NaN    NaN    NaN    NaN      NaN    NaN      NANCY
27        2016-06-27    NaN    NaN    NaN    NaN      NaN    NaN    ANTHONY
28        1976-04-26    NaN    NaN    NaN    NaN      NaN    NaN       PAUL
29        1986-06-16    NaN    NaN    NaN    NaN      NaN    NaN      HENRY
...              ...    ...    ...    ...    ...      ...    ...        ...
31567     2012-12-14  31568 -999.0 -999.0 -999.0   -999.0 -999.0     JURDON
31568     2012-11-30  31569 -999.0 -999.0 -999.0   -999.0 -999.0      OSCAR
31569     1999-10-25  31570 -999.0 -999.0 -999.0   -999.0 -999.0     RONALD
31570     2014-09-29  31571 -999.0 -999.0 -999.0   -999.0 -999.0      KELLY
31571     2012-12-14  31572 -999.0 -999.0 -999.0   -999.0 -999.0    MICHAEL
31572     1970-12-14  31573 -999.0 -999.0 -999.0   -999.0 -999.0      PETER
31573     1953-09-21  31574 -999.0 -999.0 -999.0   -999.0 -999.0    LEONARD
31574     1980-09-29  31575 -999.0 -999.0 -999.0   -999.0 -999.0    DEBORAH
31575     1977-04-04  31576 -999.0 -999.0 -999.0   8390.0 -999.0      JAMES
31576     1970-06-15  31577 -999.0 -999.0 -999.0   -999.0 -999.0      JAMES
31577     1961-05-29  31578 -999.0 -999.0 -999.0   -999.0 -999.0      JAMES
31578     1991-04-24  31579 -999.0 -999.0 -999.0   -999.0 -999.0       MARY
31579     1991-01-02  31580 -999.0 -999.0 -999.0   -999.0 -999.0    GREGORY
31580     2014-10-27  31581 -999.0 -999.0 -999.0   -999.0 -999.0     ADRIEL
31581     2006-11-27  31582 -999.0 -999.0 -999.0   -999.0 -999.0     YVETTE
31582     1968-03-04  31583 -999.0 -999.0 -999.0   -999.0 -999.0     JOSEPH
31583     1955-02-01  31584 -999.0 -999.0 -999.0   -999.0 -999.0      HENRY
31584     1973-03-19  31585 -999.0 -999.0 -999.0   -999.0 -999.0      JAMES
31585     2002-05-28  31586 -999.0 -999.0 -999.0  10336.0 -999.0    JEFFREY
31586     1997-09-02  31587 -999.0 -999.0 -999.0   -999.0 -999.0       MARY
31587     1946-03-11  31588 -999.0 -999.0 -999.0   -999.0 -999.0       ADAM
31588     1961-01-09  31589 -999.0 -999.0 -999.0   7038.0 -999.0      HENRY
31589     2015-08-31  31590 -999.0 -999.0 -999.0   -999.0 -999.0    MATEUSZ
31590     2007-09-24  31591 -999.0 -999.0 -999.0   -999.0 -999.0      BRYAN
31591     1966-05-09  31592 -999.0 -999.0 -999.0   -999.0 -999.0      JAMES
31592     1999-04-01  31593 -999.0 -999.0 -999.0  12477.0 -999.0      PETER
31593     1986-10-13  31594 -999.0 -999.0 -999.0   6476.0 -999.0      DEBRA
31594     2002-12-02  31595 -999.0 -999.0 -999.0   2708.0 -999.0       MARK
31595     1996-12-02  31596 -999.0 -999.0 -999.0   -999.0 -999.0      CARLO
31596     1955-02-08  31597 -999.0 -999.0 -999.0   -999.0 -999.0    STANLEY

         Last.Name    Star1   ...    ID1  Suffix.Name    Star3  Gender  \
0            AARON      NaN   ...      1          NaN      NaN    MALE
1            AARON      NaN   ...      2          NaN      NaN  FEMALE
2            ABATE      NaN   ...      3          NaN      NaN    MALE
3           ABBATE      NaN   ...      4          NaN      NaN    MALE
4           ABBATE      NaN   ...      5          NaN      NaN    MALE
5           ABBATE      NaN   ...      6          NaN      NaN    MALE
6           ABBATE      NaN   ...      7          NaN      NaN    MALE
7            ABBEY      NaN   ...      8          NaN      NaN    MALE
8            ABBEY      NaN   ...      9          NaN      NaN    MALE
9            ABBEY      NaN   ...     10          NaN      NaN    MALE
10          ABBOTT      NaN   ...     11          NaN      NaN    MALE
11          ABBOTT      NaN   ...     12          NaN      NaN    MALE
12          ABBOTT      NaN   ...     13          NaN      NaN  FEMALE
13          ABBOTT      NaN   ...     14          NaN      NaN  FEMALE
14        ABDALLAH      NaN   ...     15          NaN      NaN    MALE
15       ABDELHADI      NaN   ...     16          NaN      NaN    MALE
16     ABDELMAJEID      NaN   ...     17          NaN      NaN    MALE
17        ABDULLAH      NaN   ...     18          NaN      NaN    MALE
18         ABEJERO      NaN   ...     19          NaN      NaN    MALE
19         ABEJERO      NaN   ...     20          NaN      NaN    MALE
20           ABELS      NaN   ...     21          NaN      NaN    MALE
21         ABELSON      NaN   ...     22          NaN      NaN  FEMALE
22        ABINGTON      NaN   ...     23          NaN      NaN    MALE
23           ABNEY      NaN   ...     24          NaN      NaN    MALE
24         ABRAHAM      NaN   ...     25          NaN      NaN    MALE
25         ABRAHAM      NaN   ...     26          NaN      NaN    MALE
26         ABRAHAM      NaN   ...     27          NaN      NaN  FEMALE
27           ABRAM      NaN   ...     28          NaN      NaN    MALE
28           ABRAM      NaN   ...     29          NaN      NaN    MALE
29          ABRAMS      NaN   ...     30          NaN      NaN    MALE
...            ...      ...   ...    ...          ...      ...     ...
31567       ZUNIGA  10327.0   ...    NaN          NaN   -999.0    MALE
31568       ZUNIGA  10919.0   ...    NaN          NaN   -999.0    MALE
31569       ZUNIGA  14170.0   ...    NaN          NaN   -999.0    MALE
31570     ZUPANCIC  16862.0   ...    NaN          NaN   -999.0  FEMALE
31571     ZUPANCIC  13811.0   ...    NaN          NaN   -999.0    MALE
31572          ZUR  15472.0   ...    NaN          NaN   -999.0    MALE
31573      ZURALES   -999.0   ...    NaN          NaN   -999.0    MALE
31574      ZURAWIK   3455.0   ...    NaN          NaN   -999.0  FEMALE
31575      ZURAWIK  21281.0   ...    NaN          NaN   -999.0    MALE
31576     ZURAWSKI   -999.0   ...    NaN          NaN   -999.0    MALE
31577     ZURAWSKI     66.0   ...    NaN          NaN   -999.0    MALE
31578     ZURAWSKI  10436.0   ...    NaN          NaN   -999.0  FEMALE
31579        ZUREK  13351.0   ...    NaN          NaN   -999.0    MALE
31580       ZURITA  15091.0   ...    NaN          NaN   -999.0    MALE
31581       ZURITA   -999.0   ...    NaN          NaN   -999.0  FEMALE
31582       ZUZICH  10501.0   ...    NaN          NaN   -999.0    MALE
31583        ZWIER   -999.0   ...    NaN          NaN   -999.0    MALE
31584         ZWIT  10336.0   ...    NaN          NaN   -999.0    MALE
31585         ZWIT  16055.0   ...    NaN          NaN   5426.0    MALE
31586      ZWOLSKI  15918.0   ...    NaN          NaN   -999.0  FEMALE
31587         ZYCH   -999.0   ...    NaN          NaN   -999.0    MALE
31588         ZYCH  14383.0   ...    NaN          NaN   -999.0    MALE
31589         ZYCH  13312.0   ...    NaN          NaN   -999.0    MALE
31590        ZYDEK   5642.0   ...    NaN          NaN   -999.0    MALE
31591     ZYGOWICZ  12477.0   ...    NaN          NaN   -999.0    MALE
31592     ZYGOWICZ  19965.0   ...    NaN          NaN  10034.0    MALE
31593     ZYLVITIS  21324.0   ...    NaN          NaN   -999.0  FEMALE
31594     ZYMANTAS   6568.0   ...    NaN          NaN   -999.0    MALE
31595    ZYRKOWSKI  19215.0   ...    NaN          NaN   -999.0    MALE
31596    ZYSKOWSKI   2845.0   ...    NaN          NaN   -999.0    MALE

       Middle.Initial  Star8 Birth.Year  Star6      Race  Star10
0                   M    NaN     1971.0    NaN     WHITE     NaN
1                 NaN    NaN     1980.0    NaN  HISPANIC     NaN
2                   P    NaN     1942.0    NaN     WHITE     NaN
3                   G    NaN     1968.0    NaN     WHITE     NaN
4                   G    NaN     1942.0    NaN     WHITE     NaN
5                   S    NaN     1930.0    NaN     WHITE     NaN
6                   M    NaN     1972.0    NaN     WHITE     NaN
7                 NaN    NaN     1923.0    NaN     BLACK     NaN
8                   B    NaN     1945.0    NaN     BLACK     NaN
9                   J    NaN     1952.0    NaN     BLACK     NaN
10                  A    NaN     1949.0    NaN     WHITE     NaN
11                  E    NaN     1953.0    NaN     WHITE     NaN
12                  L    NaN     1958.0    NaN     WHITE     NaN
13                  F    NaN     1965.0    NaN     WHITE     NaN
14                  F    NaN     1983.0    NaN     WHITE     NaN
15                NaN    NaN     1978.0    NaN     WHITE     NaN
16                NaN    NaN     1984.0    NaN       API     NaN
17                  R    NaN     1958.0    NaN     BLACK     NaN
18                  V    NaN     1976.0    NaN       API     NaN
19                  E    NaN     1949.0    NaN       API     NaN
20                  L    NaN     1949.0    NaN     WHITE     NaN
21                  M    NaN     1957.0    NaN     WHITE     NaN
22                  B    NaN     1937.0    NaN     BLACK     NaN
23                  R    NaN     1990.0    NaN     WHITE     NaN
24                NaN    NaN     1925.0    NaN     WHITE     NaN
25                  H    NaN     1922.0    NaN     WHITE     NaN
26                  A    NaN     1986.0    NaN       API     NaN
27                  A    NaN     1988.0    NaN     BLACK     NaN
28                  W    NaN     1939.0    NaN     BLACK     NaN
29                  L    NaN     1963.0    NaN     BLACK     NaN
...               ...    ...        ...    ...       ...     ...
31567             NaN -999.0        NaN -999.0  HISPANIC  -999.0
31568             NaN -999.0        NaN -999.0  HISPANIC  -999.0
31569             NaN -999.0        NaN -999.0  HISPANIC  -999.0
31570             NaN -999.0        NaN -999.0     WHITE  -999.0
31571             NaN -999.0        NaN -999.0     WHITE  -999.0
31572             NaN -999.0        NaN -999.0     WHITE  -999.0
31573             NaN -999.0        NaN -999.0     WHITE  -999.0
31574             NaN -999.0        NaN -999.0     WHITE  -999.0
31575             NaN -999.0        NaN -999.0     WHITE  -999.0
31576             NaN -999.0        NaN -999.0     WHITE  -999.0
31577             NaN -999.0        NaN -999.0     WHITE  -999.0
31578             NaN -999.0        NaN -999.0     WHITE  -999.0
31579             NaN -999.0        NaN -999.0     WHITE  -999.0
31580             NaN -999.0        NaN -999.0  HISPANIC  -999.0
31581             NaN -999.0        NaN -999.0  HISPANIC  -999.0
31582             NaN -999.0        NaN -999.0     WHITE  -999.0
31583             NaN -999.0        NaN -999.0     WHITE  -999.0
31584             NaN -999.0        NaN -999.0     WHITE  -999.0
31585             NaN -999.0        NaN -999.0     WHITE  -999.0
31586             NaN -999.0        NaN -999.0     WHITE  -999.0
31587             NaN -999.0        NaN -999.0     WHITE  -999.0
31588             NaN -999.0        NaN -999.0     WHITE  -999.0
31589             NaN -999.0        NaN -999.0     WHITE  -999.0
31590             NaN -999.0        NaN -999.0     WHITE  -999.0
31591             NaN -999.0        NaN -999.0     WHITE  -999.0
31592             NaN -999.0        NaN -999.0     WHITE  -999.0
31593             NaN -999.0        NaN -999.0     WHITE  -999.0
31594             NaN -999.0        NaN -999.0     WHITE  -999.0
31595             NaN -999.0        NaN -999.0     WHITE  -999.0
31596             NaN -999.0        NaN -999.0     WHITE  -999.0

[63525 rows x 22 columns]

In [26]:
profiles = profiles.agg(max)

In [27]:
profiles.columns

Index(['UID', 'Appointed.Date', 'ID2', 'Star7', 'Star4', 'Star9', 'Star2',
       'Star5', 'First.Name', 'Last.Name', 'Star1', 'Current.Unit',
       'Current.Age', 'ID1', 'Suffix.Name', 'Star3', 'Gender', 'Star8',
       'Birth.Year', 'Star6', 'Race', 'Star10'],
      dtype='object')

In [ ]:
acd = ac.dropna(axis=1, how='all')
acd = AddColumns(acd)
print(acd.columns)
print(profiles.columns)

In [ ]:
m = LoopMerge(profiles, acd, on_list = [
    ['First.Name', 'Last.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Suffix.Name", "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN',"Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', 'Last.Name', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['F4FN', 'F4LN', "Suffix.Name", 'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Middle.Initial", "Suffix.Name",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Middle.Initial",'Appointed.Date', 'Gender', "Race"],
    ['First.Name', "Suffix.Name",'Appointed.Date', 'Gender', "Race"]
], keep_columns = ["UID", "TID"])