In [1]:
import pandas as pd
from assign_unique_ids_functions import *
import inspect
import itertools
import numpy as np

In [2]:
def intersect(a, b):
     return list(set(a) & set(b))
def setdiff(a,b):
    return list(set(a) - set(b))
def union(a,b):
    return list(set(a) | set(b))

In [3]:
asd = pd.read_csv("input/all-sworn_demographics.csv.gz")
asud = pd.read_csv("input/all-sworn-units_demographics.csv.gz")
print(asd.sort_values('Last.Name').head())
print(asd.sort_values('Last.Name').head())

   all_sworn_ID First.Name Last.Name Suffix.Name Appointed.Date  Birth.Year  \
0         12735    JEFFERY     AARON         NaN     2005-09-26        1971
1         16413     KARINA     AARON         NaN     2005-09-26        1980
2          4767     DANIEL     ABATE         NaN     1970-06-15        1942
3          1207    ANTHONY    ABBATE         NaN     1994-12-05        1968
4          3134     CARMEL    ABBATE         NaN     1969-01-06        1942

   Gender      Race Middle.Initial
0    MALE     WHITE              M
1  FEMALE  HISPANIC            NaN
2    MALE     WHITE              P
3    MALE     WHITE              G
4    MALE     WHITE              G
   all_sworn_ID First.Name Last.Name Suffix.Name Appointed.Date  Birth.Year  \
0         12735    JEFFERY     AARON         NaN     2005-09-26        1971
1         16413     KARINA     AARON         NaN     2005-09-26        1980
2          4767     DANIEL     ABATE         NaN     1970-06-15        1942
3          1207    ANTHONY    ABBATE         NaN     1994-12-05        1968
4          3134     CARMEL    ABBATE         NaN     1969-01-06        1942

   Gender      Race Middle.Initial
0    MALE     WHITE              M
1  FEMALE  HISPANIC            NaN
2    MALE     WHITE              P
3    MALE     WHITE              G
4    MALE     WHITE              G

In [4]:
asd[asd['Last.Name'].str.contains('JUR')].sort_values('First.Name')

,all_sworn_ID,First.Name,Last.Name,Suffix.Name,Appointed.Date,Birth.Year,Gender,Race,Middle.Initial
14049,31996,AUDREY,JURCZYKOWSKI,NaN,1999-05-10,1970,FEMALE,WHITE,A
14058,6213,DENNIS,JURKOWSKI,NaN,1967-11-13,1946,MALE,WHITE,A
14053,9357,GEO,JURGENSEN,NaN,1953-09-21,1920,MALE,WHITE,O
14055,9500,GEORGE,JURICH,NaN,1958-05-01,1932,MALE,WHITE,P
14059,11761,JAMES,JURTA,NaN,1968-02-26,1947,MALE,WHITE,J
14051,14038,JOHN,JUREK,NaN,1995-10-23,1973,MALE,WHITE,J
14056,14039,JOHN,JURISS,NaN,1956-05-16,1931,MALE,WHITE,J
14047,19105,MARINA,JURASSI,NaN,2006-08-28,1979,FEMALE,WHITE,L
7040,21704,NEBOJSA,DJURDJEVIC,NaN,2014-02-18,1984,MALE,WHITE,NaN
14052,24449,RICHARD,JUREK,NaN,1962-03-12,1938,MALE,WHITE,R
14048,25381,ROBERT,JURCZENKO,NaN,1966-11-28,1936,MALE,WHITE,NaN
14050,25382,ROBERT,JURCZYKOWSKI,NaN,1995-06-05,1971,MALE,WHITE,NaN
14057,26297,ROMAN,JURKIEWICZ,NaN,1972-11-20,1948,MALE,WHITE,NaN
14054,29215,THOMAS,JURIC,NaN,1973-02-19,1945,MALE,WHITE,M
14046,30326,VICTOR,JURADO,NaN,2016-06-27,1987,MALE,HISPANIC,A

In [5]:
def take_first_four(x):
    return x[:4]


def BY_to_CA(x):
    return 2016 - x


def add_columns(df, add_cols = ["F4FN", "F4LN", "Current.Age", "BY_to_CA"]):
    if "F4FN" in add_cols and "First.Name" in df.columns:
            df['F4FN'] = df['First.Name'].map(take_first_four)
    if "F4LN" in add_cols and 'Last.Name' in df.columns:
            df['F4LN'] = df['Last.Name'].map(take_first_four)
    if "Current.Age" in add_cols and "Current.Age" in df.columns:
        df['Current.Age.p1'] = df['Current.Age']
        df['Current.Age.m1'] = df['Current.Age']
    if "BY_to_CA" in add_cols and "Birth.Year" in df.columns:
        by_to_ca = lambda x: 2016 - x
        df['Current.Age.p1'] = df['Birth.Year'].map(BY_to_CA)
        df['Current.Age.m1'] = df['Birth.Year'].map(BY_to_CA) - 1  
    return df

In [6]:
def generate_on_lists(data_cols, base_lists):
    merge_list = []
    
    for col_list in base_lists:
        if intersect(col_list, data_cols):
            ml = intersect(col_list, data_cols)
            if '' in col_list:
                ml.append('')
            merge_list.append(sorted(ml, reverse=True))
            
    merge_list = list(itertools.product(*reversed(merge_list)))
    merge_list = [[i for i in ml if i != ''] for ml in merge_list]
    
    return merge_list

In [7]:
def loop_merge(df1, df2, on_lists, keep_columns, return_unmatched = True):
    dfm = pd.DataFrame(columns = keep_columns + ['Match'])
    for mc in on_lists:
        df1t = remove_duplicates(df1[keep_columns[:1] + mc], mc)
        df2t = remove_duplicates(df2[keep_columns[1:] + mc], mc)
        dfmt = df1t.merge(df2t, on=mc, how='inner')
        if dfmt.shape[0] > 0:
            print('******')
            print(mc)
            print(dfmt.shape[0])
            print('******')
            dfmt['Match'] = '-'.join(mc)
            dfm = dfm.append(dfmt[keep_columns + ['Match']].reset_index(drop=True))
            df1 = df1.loc[~df1[keep_columns[0]].isin(dfm[keep_columns[0]])]
            df2 = df2.loc[~df2[keep_columns[1]].isin(dfm[keep_columns[1]])]
    print(dfm.shape[0], df1.shape[0], df2.shape[0])
    if return_unmatched:
        return (dfm.reset_index(drop=True), df1, df2)
    else:
        return dfm.reset_index(drop=True)

In [8]:
def merge_datasets(df1, df2, keep_columns,
                   custom_matches = [], return_unmatched = True, name_changes=True):
    df1 = df1.dropna(axis=1, how='all')
    df2 = df2.dropna(axis=1, how='all')
    
    if "Birth.Year" not in intersect(df1.columns, df2.columns):
        add_cols = ["F4FN", "F4LN", "BY_to_CA", "Current.Age"]
    else:
        add_cols = ["F4FN", "F4LN"]
        
    df1 = add_columns(df1, add_cols)
    df2 = add_columns(df2, add_cols)
    
    
    cols = intersect(df1.columns, df2.columns)
    
    df1 = df1[[col for col in df1.columns
               if col in cols or col == keep_columns[0]]]
    df2 = df2[[col for col in df2.columns
               if col in cols or col == keep_columns[1]]]
    
    base_lists = [
        ['Current.Star', 'Star1', 'Star2', 'Star3', 'Star4', 'Star5','Star6', 'Star7', 'Star8', 'Star9', 'Star10'],
        ['First.Name', 'F4FN'], ['Last.Name', 'F4LN'], ['Appointed.Date'],
        ['Birth.Year', 'Current.Age', 'Current.Age.p1', 'Current.Age.m1', ''],
        ['Middle.Initial', ''], ['Gender', ''], ['Race', ''], ['Suffix.Name', '']
    ]
    
    on_lists = generate_on_lists(cols, base_lists)
    
    if custom_matches:
        on_lists.append(custom_matches)
    
    if name_changes:
        nc_lists = generate_on_lists(cols, [ml for ml in base_lists if "Last.Name" not in ml])
        nc_lists = [nc_list for nc_list in nc_lists if len(nc_list) > 3]
        on_lists.extend(nc_lists)
    
    merged_data = loop_merge(df1, df2, on_lists=on_lists, keep_columns=keep_columns, return_unmatched=return_unmatched)
        
    return(merged_data)

In [9]:
def append_to_reference(df1, df2, keep_columns, custom_matches = [], return_unmatched=False, name_changes=True):
    ml = merge_datasets(df1, df2, keep_columns=keep_columns, 
                        custom_matches=custom_matches, name_changes=name_changes)

    ref = pd.concat([ml[0][keep_columns],
                    ml[1][[keep_columns[0]]],
                    ml[2][[keep_columns[1]]]])[
        keep_columns].reset_index(drop=True)

    if "UID" not in ref.columns:
        ref.insert(0, 'UID', ref.index + 1)
    else:
        ref = ref.sort_values('UID', na_position='last')
        ref['UID'] = ref.index + 1
    df1 = df1.merge(ref, on=keep_columns[0], how='left')
    df2 = df2.merge(ref, on=keep_columns[1], how='left')

    ref = pd.concat([df1, df2]).reset_index(drop=True)
    if return_unmatched:
        return (ref, ml[1], ml[2])
    else:
        return ref

In [10]:
t1 = append_to_reference(asd, asud, ["all_sworn_ID", "all_sworn_units_ID"])

******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
32006
******

/Users/invinst/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/merge.py:1457: RuntimeWarning: divide by zero encountered in long_scalars
  stride //= shape[i]

32006 0 0

In [11]:
ref = t1
profile_cols = ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
                "Appointed.Date", "Birth.Year", "Current.Unit", "Race", "Gender",
               "all_sworn_ID","all_sworn_units_ID"]
mode_cols = profile_cols
profiles = aggregate_data(ref, "UID", mode_cols = mode_cols)
print(profiles.shape)

(32006, 12)

In [12]:
amd = pd.read_csv("input/all-members_demographics.csv.gz")
amd.head()

,all_members_ID,First.Name,Last.Name,Suffix.Name,Appointed.Date,Birth.Year,Gender,Race,Middle.Initial
0,12696,JEFFERY,AARON,NaN,2005-09-26,1971,MALE,WHITE,M
1,16366,KARINA,AARON,NaN,2005-09-26,1980,FEMALE,HISPANIC,NaN
2,4746,DANIEL,ABATE,NaN,1970-06-15,1942,MALE,WHITE,P
3,1201,ANTHONY,ABBATE,NaN,1994-12-05,1968,MALE,WHITE,G
4,3122,CARMEL,ABBATE,NaN,1969-01-06,1942,MALE,WHITE,G

In [13]:
profiles.head()

,UID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Current.Unit,Race,Gender,all_sworn_ID,all_sworn_units_ID
0,25766,JEFFERY,AARON,M,NaN,2005-09-26,1971,3.0,WHITE,MALE,12735,12735
1,9516,KARINA,AARON,NaN,NaN,2005-09-26,1980,15.0,HISPANIC,FEMALE,16413,16413
2,26592,DANIEL,ABATE,P,NaN,1970-06-15,1942,543.0,WHITE,MALE,4767,4767
3,20300,ANTHONY,ABBATE,G,NaN,1994-12-05,1968,20.0,WHITE,MALE,1207,1207
4,20068,CARMEL,ABBATE,G,NaN,1969-01-06,1942,640.0,WHITE,MALE,3134,3134

In [14]:
t2 = append_to_reference(profiles, amd, ["UID", "all_members_ID"],return_unmatched=False)

******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
31911
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'F4LN', 'First.Name']
3
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Birth.Year', 'Appointed.Date', 'First.Name']
8
******
31924 82 1

In [16]:
profile_cols = ["First.Name", "Last.Name", "Middle.Initial", "Suffix.Name",
                "Appointed.Date", "Birth.Year", "Current.Unit", "Race", "Gender",
               "all_sworn_ID","all_sworn_units_ID", "all_members_ID"]
mode_cols = profile_cols

In [17]:
print(mode_cols)
t2.head()

['First.Name', 'Last.Name', 'Middle.Initial', 'Suffix.Name', 'Appointed.Date', 'Birth.Year', 'Current.Unit', 'Race', 'Gender', 'all_sworn_ID', 'all_sworn_units_ID', 'all_members_ID']

,Appointed.Date,Birth.Year,Current.Unit,First.Name,Gender,Last.Name,Middle.Initial,Race,Suffix.Name,UID,all_members_ID,all_sworn_ID,all_sworn_units_ID
0,2005-09-26,1971,3.0,JEFFERY,MALE,AARON,M,WHITE,NaN,25766,24612,12735,12735
1,2005-09-26,1980,15.0,KARINA,FEMALE,AARON,NaN,HISPANIC,NaN,9516,13138,16413,16413
2,1970-06-15,1942,543.0,DANIEL,MALE,ABATE,P,WHITE,NaN,26592,11291,4767,4767
3,1994-12-05,1968,20.0,ANTHONY,MALE,ABBATE,G,WHITE,NaN,20300,19792,1207,1207
4,1969-01-06,1942,640.0,CARMEL,MALE,ABBATE,G,WHITE,NaN,20068,23136,3134,3134

In [18]:
profiles = aggregate_data(t2, "UID", mode_cols = mode_cols)

First.Name

/Users/invinst/anaconda3/lib/python3.6/site-packages/scipy/stats/stats.py:253: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

Last.Name
Middle.Initial
Suffix.Name
Appointed.Date
Birth.Year
Race
Gender

In [21]:
profiles.head()

,UID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Birth.Year,Current.Unit,Race,Gender,all_sworn_ID,all_sworn_units_ID,all_members_ID
0,25766,JEFFERY,AARON,M,NaN,2000-02-28,1971,3.0,WHITE,MALE,12735,12735,24612
1,9516,JESSICA,AARON,NaN,NaN,2005-09-26,1980,15.0,HISPANIC,FEMALE,16413,16413,13138
2,26592,DANIEL,ABATE,P,NaN,1970-06-15,1942,543.0,WHITE,MALE,4767,4767,11291
3,20300,ANTHONY,ABBATE,G,NaN,1994-12-05,1968,20.0,WHITE,MALE,1207,1207,19792
4,20068,CARMEL,ABBATE,G,NaN,1969-01-06,1942,640.0,WHITE,MALE,3134,3134,23136

In [23]:
t2[t2['UID']==9516]

,Appointed.Date,Birth.Year,Current.Unit,First.Name,Gender,Last.Name,Middle.Initial,Race,Suffix.Name,UID,all_members_ID,all_sworn_ID,all_sworn_units_ID
1,2005-09-26,1980,15.0,KARINA,FEMALE,AARON,NaN,HISPANIC,NaN,9516,13138,16413,16413
59167,2007-08-27,1984,NaN,JESSICA,FEMALE,SOSA,NaN,HISPANIC,NaN,9516,13138,NaN,NaN

In [59]:
uhd = pd.read_csv("input/unit-history_demographics.csv.gz")

In [60]:
uhd.columns

Index(['unit_history_ID', 'First.Name', 'Last.Name', 'Middle.Initial',
       'Suffix.Name', 'Appointed.Date', 'Current.Age', 'Gender', 'Race',
       'Star1', 'Star2', 'Star3', 'Star4', 'Star5', 'Star6', 'Star7', 'Star8',
       'Star9', 'Star10', 'Current.Unit'],
      dtype='object')

In [62]:
t3 = append_to_reference(profiles, uhd, ["UID", "unit_history_ID"],return_unmatched=True)

******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
242
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4LN', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
758
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'F4FN']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'First.Name']
267
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'Last.Name', 'F4FN']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'F4LN', 'First.Name']
2
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
1121
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'F4LN', 'First.Name']
2
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
3825
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'F4FN']
6
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'F4LN', 'First.Name']
3
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name']
848
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'Last.Name', 'F4FN']
2
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'F4LN', 'First.Name']
4
******
******
['Suffix.Name', 'Race', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
2
******
******
['Suffix.Name', 'Race', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
9
******
******
['Suffix.Name', 'Race', 'Appointed.Date', 'Last.Name', 'First.Name']
2
******
******
['Suffix.Name', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'Last.Name', 'First.Name']
5
******
******
['Suffix.Name', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
16
******
******
['Suffix.Name', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name']
2
******
******
['Suffix.Name', 'Gender', 'Appointed.Date', 'F4LN', 'First.Name']
2
******
******
['Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Race', 'Gender', 'Appointed.Date', 'Last.Name', 'First.Name']
1
******
******
['Gender', 'Middle.Initial', 'Appointed.Date', 'F4LN', 'First.Name']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
247
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
4
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
622
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
1
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name']
322
******
******
['Suffix.Name', 'Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'F4FN']
36
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
1316
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
15
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
2912
******
******
['Suffix.Name', 'Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
16
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'First.Name']
841
******
******
['Suffix.Name', 'Race', 'Gender', 'Appointed.Date', 'F4FN']
56
******
******
['Suffix.Name', 'Race', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
1
******
******
['Suffix.Name', 'Race', 'Middle.Initial', 'Appointed.Date', 'First.Name']
18
******
******
['Suffix.Name', 'Race', 'Middle.Initial', 'Appointed.Date', 'F4FN']
6
******
******
['Suffix.Name', 'Race', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
3
******
******
['Suffix.Name', 'Race', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
4
******
******
['Suffix.Name', 'Race', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
11
******
******
['Suffix.Name', 'Race', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
8
******
******
['Suffix.Name', 'Race', 'Appointed.Date', 'First.Name']
7
******
******
['Suffix.Name', 'Race', 'Appointed.Date', 'F4FN']
23
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
17
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
3
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
8
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
1
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name']
50
******
******
['Suffix.Name', 'Gender', 'Middle.Initial', 'Appointed.Date', 'F4FN']
16
******
******
['Suffix.Name', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
63
******
******
['Suffix.Name', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
11
******
******
['Suffix.Name', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
73
******
******
['Suffix.Name', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
12
******
******
['Suffix.Name', 'Gender', 'Appointed.Date', 'First.Name']
226
******
******
['Suffix.Name', 'Gender', 'Appointed.Date', 'F4FN']
56
******
******
['Suffix.Name', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
2
******
******
['Suffix.Name', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
1
******
******
['Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'First.Name']
1
******
******
['Suffix.Name', 'Middle.Initial', 'Appointed.Date', 'F4FN']
10
******
******
['Suffix.Name', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
1
******
******
['Suffix.Name', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
6
******
******
['Suffix.Name', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
3
******
******
['Race', 'Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
1
******
******
['Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name']
8
******
******
['Race', 'Gender', 'Middle.Initial', 'Appointed.Date', 'F4FN']
4
******
******
['Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
15
******
******
['Race', 'Gender', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
1
******
******
['Race', 'Gender', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
15
******
******
['Race', 'Gender', 'Appointed.Date', 'First.Name']
47
******
******
['Race', 'Gender', 'Appointed.Date', 'F4FN']
5
******
******
['Race', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
1
******
******
['Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
2
******
******
['Gender', 'Middle.Initial', 'Current.Age.p1', 'Appointed.Date', 'F4FN']
1
******
******
['Gender', 'Middle.Initial', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
1
******
******
['Gender', 'Middle.Initial', 'Appointed.Date', 'First.Name']
6
******
******
['Gender', 'Middle.Initial', 'Appointed.Date', 'F4FN']
2
******
******
['Gender', 'Current.Age.p1', 'Appointed.Date', 'First.Name']
9
******
******
['Gender', 'Current.Age.m1', 'Appointed.Date', 'First.Name']
8
******
******
['Gender', 'Current.Age.m1', 'Appointed.Date', 'F4FN']
2
******
14281 17726 17316

In [63]:
t3[2]

,unit_history_ID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Gender,Race,Current.Unit,F4FN,F4LN,Current.Age.p1,Current.Age.m1
0,1,JEFFERY,AARON,NaN,NaN,2005-09-26,MALE,WHITE,14.0,JEFF,AARO,44,44
1,2,KARINA,AARON,NaN,NaN,2005-09-26,FEMALE,HISPANIC,15.0,KARI,AARO,35,35
6,7,TERRY,ABBATE,NaN,NaN,1995-12-04,MALE,WHITE,16.0,TERR,ABBA,44,44
8,9,LEON,ABBEY,NaN,NaN,1990-03-26,MALE,BLACK,192.0,LEON,ABBE,70,70
13,14,LAURA,ABBOTT,NaN,NaN,1986-07-14,FEMALE,WHITE,630.0,LAUR,ABBO,50,50
14,15,ZAID,ABDALLAH,NaN,NaN,2012-11-30,MALE,WHITE,6.0,ZAID,ABDA,32,32
19,20,RESTITUTO,ABEJERO,NaN,NaN,1999-12-13,MALE,API,17.0,REST,ABEJ,66,66
20,21,KENNETH,ABELS,NaN,NaN,1970-06-15,MALE,WHITE,640.0,KENN,ABEL,67,67
23,24,PATRICK,ABNEY,NaN,NaN,2015-06-29,MALE,WHITE,44.0,PATR,ABNE,25,25
26,27,NANCY,ABRAHAM,NaN,NaN,2014-04-28,FEMALE,API,11.0,NANC,ABRA,29,29
27,28,PAUL,ABRAM,NaN,NaN,1976-04-26,MALE,BLACK,701.0,PAUL,ABRA,76,76
30,31,ALEXANDER,ABRASEVIC,NaN,NaN,1977-11-01,MALE,WHITE,13.0,ALEX,ABRA,65,65
31,32,RICARDO,ABREU,NaN,NaN,1973-10-22,MALE,HISPANIC,630.0,RICA,ABRE,69,69
34,35,ELIAS,ABUDAYEH,NaN,NaN,2015-02-23,MALE,WHITE,44.0,ELIA,ABUD,34,34
35,36,MOHAMMAD,ABURIZEG,NaN,NaN,2015-08-31,MALE,WHITE,44.0,MOHA,ABUR,26,26
37,38,JENNIFER,ACCARDO,NaN,NaN,2004-11-29,FEMALE,WHITE,24.0,JENN,ACCA,37,37
38,39,ROSEMARY,ACCARDO,NaN,NaN,1986-08-11,FEMALE,WHITE,50.0,ROSE,ACCA,63,63
39,40,THOMAS,ACCARDO,NaN,NaN,2001-04-30,MALE,WHITE,24.0,THOM,ACCA,49,49
40,41,ROCCO,ACCETTURA,NaN,NaN,1970-06-15,MALE,WHITE,8.0,ROCC,ACCE,72,72
45,46,EDWARD,ACEVEDO,NaN,NaN,1995-06-05,MALE,HISPANIC,10.0,EDWA,ACEV,52,52
46,47,EDWARD,ACEVEDO,NaN,NaN,2003-10-27,MALE,HISPANIC,16.0,EDWA,ACEV,40,40
47,48,ERIC,ACEVEDO,NaN,NaN,2015-02-02,MALE,HISPANIC,44.0,ERIC,ACEV,37,37
48,49,ILIA,ACEVEDO,NaN,NaN,2013-05-01,FEMALE,HISPANIC,15.0,ILIA,ACEV,42,42
50,51,JASON,ACEVEDO,NaN,NaN,2002-07-29,MALE,HISPANIC,10.0,JASO,ACEV,37,37
51,52,JEFF,ACEVEDO,NaN,NaN,1995-02-06,MALE,HISPANIC,14.0,JEFF,ACEV,53,53
56,57,NADINE,ACEVEDO,NaN,NaN,2000-09-11,FEMALE,HISPANIC,17.0,NADI,ACEV,53,53
57,58,PEDRO,ACEVEDO,NaN,NaN,1995-10-23,MALE,HISPANIC,44.0,PEDR,ACEV,51,51
59,60,SALLY,ACEVEDO,NaN,NaN,1980-02-11,FEMALE,HISPANIC,13.0,SALL,ACEV,61,61
60,61,JUAN,ACEVES,NaN,NaN,2003-11-24,MALE,HISPANIC,376.0,JUAN,ACEV,35,35
62,63,CLEMENTE,ACEVEZ,NaN,NaN,1976-04-26,MALE,HISPANIC,1.0,CLEM,ACEV,67,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31544,31545,SAMUEL,ZROSKI,NaN,NaN,1955-02-01,MALE,WHITE,9.0,SAMU,ZROS,85,85
31545,31546,SHANNON,ZUBB,NaN,NaN,2006-03-27,FEMALE,WHITE,24.0,SHAN,ZUBB,33,33
31546,31547,GINA,ZUBECK,NaN,NaN,1998-09-28,FEMALE,WHITE,22.0,GINA,ZUBE,45,45
31547,31548,JAMES,ZUBECK,NaN,NaN,1996-03-18,MALE,WHITE,22.0,JAME,ZUBE,53,53
31548,31549,MICHAEL,ZUBER,NaN,NaN,1994-10-03,MALE,WHITE,610.0,MICH,ZUBE,49,49
31549,31550,PATRICIA,ZUBER,NaN,NaN,1991-11-18,FEMALE,WHITE,1.0,PATR,ZUBE,46,46
31551,31552,THEODORE,ZUDYK,NaN,NaN,1962-02-19,MALE,WHITE,58.0,THEO,ZUDY,75,75
31555,31556,NICHOLAS,ZUKLIC,NaN,NaN,1962-08-13,MALE,WHITE,51.0,NICH,ZUKL,83,83
31556,31557,FRANK,ZUKOSKI,NaN,JR,1958-02-16,MALE,WHITE,610.0,FRAN,ZUKO,84,84
31558,31559,RICHARD,ZULEY,NaN,NaN,1970-09-14,MALE,WHITE,630.0,RICH,ZULE,69,69
31560,31561,JOSEPH,ZULKEY,NaN,NaN,2013-07-15,MALE,WHITE,15.0,JOSE,ZULK,35,35
31562,31563,JOHN,ZUMBROCK,NaN,NaN,2003-11-24,MALE,WHITE,116.0,JOHN,ZUMB,39,39
31563,31564,CHRIS,ZUNIGA,NaN,NaN,2006-12-18,MALE,HISPANIC,44.0,CHRI,ZUNI,36,36
31568,31569,OSCAR,ZUNIGA,NaN,NaN,2012-11-30,MALE,HISPANIC,3.0,OSCA,ZUNI,33,33
31569,31570,RONALD,ZUNIGA,NaN,NaN,1999-10-25,MALE,HISPANIC,10.0,RONA,ZUNI,47,47
31570,31571,KELLY,ZUPANCIC,NaN,NaN,2014-09-29,FEMALE,WHITE,44.0,KELL,ZUPA,26,26
31571,31572,MICHAEL,ZUPANCIC,NaN,NaN,2012-12-14,MALE,WHITE,44.0,MICH,ZUPA,32,32
31574,31575,DEBORAH,ZURAWIK,NaN,NaN,1980-09-29,FEMALE,WHITE,124.0,DEBO,ZURA,61,61
31575,31576,JAMES,ZURAWIK,NaN,NaN,1977-04-04,MALE,WHITE,603.0,JAME,ZURA,62,62
31576,31577,JAMES,ZURAWSKI,NaN,NaN,1970-06-15,MALE,WHITE,132.0,JAME,ZURA,66,66
31577,31578,JAMES,ZURAWSKI,NaN,NaN,1961-05-29,MALE,WHITE,21.0,JAME,ZURA,80,80
31579,31580,GREGORY,ZUREK,NaN,NaN,1991-01-02,MALE,WHITE,13.0,GREG,ZURE,59,59
31581,31582,YVETTE,ZURITA,NaN,NaN,2006-11-27,FEMALE,HISPANIC,44.0,YVET,ZURI,41,41
31584,31585,JAMES,ZWIT,NaN,NaN,1973-03-19,MALE,WHITE,71.0,JAME,ZWIT,65,65
31586,31587,MARY,ZWOLSKI,NaN,NaN,1997-09-02,FEMALE,WHITE,19.0,MARY,ZWOL,48,48
31587,31588,ADAM,ZYCH,NaN,NaN,1946-03-11,MALE,WHITE,NaN,ADAM,ZYCH,99,99
31588,31589,HENRY,ZYCH,NaN,NaN,1961-01-09,MALE,WHITE,151.0,HENR,ZYCH,82,82
31589,31590,MATEUSZ,ZYCH,NaN,NaN,2015-08-31,MALE,WHITE,44.0,MATE,ZYCH,25,25
31590,31591,BRYAN,ZYDEK,NaN,NaN,2007-09-24,MALE,WHITE,7.0,BRYA,ZYDE,31,31
31592,31593,PETER,ZYGOWICZ,NaN,NaN,1999-04-01,MALE,WHITE,19.0,PETE,ZYGO,45,45

In [64]:
t3[1]

,UID,First.Name,Last.Name,Middle.Initial,Suffix.Name,Appointed.Date,Current.Unit,Race,Gender,F4FN,F4LN,Current.Age.p1,Current.Age.m1
0,25766,JEFFERY,AARON,M,NaN,2000-02-28,3.0,WHITE,MALE,JEFF,AARO,45,44
1,9516,JESSICA,AARON,NaN,NaN,2005-09-26,15.0,HISPANIC,FEMALE,JESS,AARO,36,35
6,25772,MICHAEL,ABBATE,M,NaN,1995-12-04,16.0,WHITE,MALE,MICH,ABBA,44,43
7,4232,DAVID,ABBEY,B,NaN,1973-03-19,192.0,BLACK,MALE,DAVI,ABBE,71,70
8,7666,LEON,ABBEY,NaN,NaN,1947-12-12,132.0,BLACK,MALE,LEON,ABBE,93,92
13,13437,LAURA,ABBOTT,F,NaN,1975-05-16,630.0,WHITE,FEMALE,LAUR,ABBO,68,67
19,1624,RESTITUTO,ABEJERO,E,NaN,1998-06-29,17.0,API,MALE,REST,ABEJ,67,66
20,24596,JOHN,ABELS,L,NaN,1970-06-15,640.0,WHITE,MALE,JOHN,ABEL,67,66
27,4185,ANTHONY,ABRAM,A,NaN,1948-07-12,44.0,BLACK,MALE,ANTH,ABRA,90,89
28,7500,GEORGE,ABRAM,W,NaN,1968-04-29,701.0,BLACK,MALE,GEOR,ABRA,77,76
30,15521,FRED,ABRAN,A,NaN,1967-12-11,72.0,WHITE,MALE,FRED,ABRA,79,78
31,31443,ALEXANDER,ABRASEVIC,NaN,NaN,1977-04-04,13.0,WHITE,MALE,ALEX,ABRA,66,65
32,11396,DANIEL,ABREU,NaN,NaN,1973-06-04,630.0,HISPANIC,MALE,DANI,ABRE,70,69
35,26000,ELIAS,ABUDAYEH,M,NaN,2012-10-31,24.0,WHITE,MALE,ELIA,ABUD,35,34
38,29536,ANTHONY,ACCARDO,V,NaN,1956-05-16,44.0,WHITE,MALE,ANTH,ACCA,87,86
39,13044,JENNIFER,ACCARDO,A,NaN,1986-07-14,24.0,WHITE,FEMALE,JENN,ACCA,56,55
40,15053,KARIN,ACCARDO,NaN,NaN,1986-08-11,50.0,WHITE,FEMALE,KARI,ACCA,64,63
43,10309,AARON,ACEVEDO,F,NaN,2001-07-30,11.0,HISPANIC,MALE,AARO,ACEV,39,38
47,10941,DAVID,ACEVEDO,M,NaN,2016-04-25,44.0,HISPANIC,MALE,DAVI,ACEV,26,25
48,10500,EDWARD,ACEVEDO,J,NaN,1991-12-02,10.0,HISPANIC,MALE,EDWA,ACEV,53,52
49,12145,EDWARD,ACEVEDO,NaN,NaN,2001-05-29,16.0,HISPANIC,MALE,EDWA,ACEV,41,40
50,9905,ERIC,ACEVEDO,A,NaN,2006-12-18,11.0,HISPANIC,MALE,ERIC,ACEV,38,37
51,9438,ILIA,ACEVEDO,NaN,NaN,2003-10-27,15.0,HISPANIC,FEMALE,ILIA,ACEV,43,42
54,11637,ADNARDO,ACEVEDO,NaN,NaN,1991-12-16,14.0,HISPANIC,MALE,ADNA,ACEV,54,53
55,10271,EMILIO,ACEVEDO,F,NaN,1982-07-19,10.0,HISPANIC,MALE,EMIL,ACEV,60,59
62,9295,REBECCA,ACEVEDO,NaN,NaN,1980-02-11,13.0,HISPANIC,FEMALE,REBE,ACEV,62,61
63,10079,JUAN,ACEVES,C,NaN,1991-03-27,376.0,HISPANIC,MALE,JUAN,ACEV,50,49
65,11062,CLEMENTE,ACEVEZ,R,NaN,1976-04-26,1.0,HISPANIC,MALE,CLEM,ACEV,68,67
66,14818,LISA,ACHILLY,S,NaN,1991-02-27,24.0,WHITE,FEMALE,LISA,ACHI,58,57
68,9989,JAIME,ACOSTA,A,NaN,1980-06-23,44.0,HISPANIC,MALE,JAIM,ACOS,61,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31954,28058,JAMES,GLENKE,R,NaN,1994-10-03,610.0,WHITE,MALE,JAME,GLEN,50,49
31955,14679,JACQUELIN,REGAN,O,NaN,1991-11-18,1.0,WHITE,FEMALE,JACQ,REGA,58,57
31957,29424,PHILIP,FERRARO,V,NaN,1962-02-19,58.0,WHITE,MALE,PHIL,FERR,76,75
31962,1103,FRANK,BORECZKY,J,JR,1957-05-01,610.0,WHITE,MALE,FRAN,BORE,85,84
31964,26686,MICHAEL,KELLY,P,NaN,1970-09-14,630.0,WHITE,MALE,MICH,KELL,70,69
31966,29531,JOSEPH,PALUMBO,V,NaN,1957-07-16,15.0,WHITE,MALE,JOSE,PALU,88,87
31967,20214,GREGORY,ALLEN,G,NaN,1991-12-02,12.0,WHITE,MALE,GREG,ALLE,59,58
31969,11278,CHRIS,GARAY,V,NaN,1964-07-27,44.0,HISPANIC,MALE,CHRI,GARA,87,86
31970,10067,ERIC,VALDEZ,C,NaN,1982-07-19,14.0,HISPANIC,MALE,ERIC,VALD,60,59
31972,10836,JAIME,GOVEA,M,NaN,2002-10-28,4.0,HISPANIC,MALE,JAIM,GOVE,49,48
31974,12543,NOE,PEMBERTON,R,NaN,1997-07-07,44.0,HISPANIC,MALE,NOE,PEMB,47,46
31975,12449,DAVID,REGALADO,NaN,NaN,2012-11-30,3.0,HISPANIC,MALE,DAVI,REGA,33,32
31976,11842,ALEXANDER,CEREZO,NaN,NaN,1999-10-25,10.0,HISPANIC,MALE,ALEX,CERE,48,47
31977,14055,KELLY,SATRIANO,L,NaN,1976-03-08,7.0,WHITE,FEMALE,KELL,SATR,67,66
31981,14201,DEBORAH,LATKOWSKI,M,NaN,1980-09-29,124.0,WHITE,FEMALE,DEBO,LATK,62,61
31982,18812,ANDREW,WALLACE,E,NaN,1977-04-04,603.0,WHITE,MALE,ANDR,WALL,63,62
31983,20152,JAMES,CUNNINGHAM,G,NaN,1970-06-15,132.0,WHITE,MALE,JAME,CUNN,67,66
31984,21497,GEORGE,SWAGLER,J,NaN,1961-05-29,21.0,WHITE,MALE,GEOR,SWAG,81,80
31985,13345,BRIDGET,BRUBAKER,E,NaN,1991-04-24,14.0,WHITE,FEMALE,BRID,BRUB,54,53
31987,9630,ADRIEL,SERPE,,NaN,1982-07-19,25.0,HISPANIC,MALE,ADRI,SERP,67,66
31990,28384,HENRY,BARNAS,S,NaN,1955-02-01,184.0,WHITE,MALE,HENR,BARN,87,86
31991,27875,JAMES,WEEKS,R,NaN,1973-03-19,71.0,WHITE,MALE,JAME,WEEK,65,64
31993,13917,BRENDA,GATRELL,L,NaN,1997-09-02,19.0,WHITE,FEMALE,BREN,GATR,49,48
31994,20746,ADAM,HANLON,J,NaN,1946-03-11,NaN,WHITE,MALE,ADAM,HANL,100,99
31995,15449,FRANCIS,MACK,A,NaN,1961-01-09,151.0,WHITE,MALE,FRAN,MACK,83,82
31996,26112,MATEUSZ,URBANIAK,M,NaN,1970-03-02,44.0,WHITE,MALE,MATE,URBA,67,66
31997,24845,BRYAN,MURPHY,L,NaN,1955-02-01,7.0,WHITE,MALE,BRYA,MURP,90,89
31998,32005,DAWID,ZYGMUNT,NaN,NaN,2016-02-29,44.0,WHITE,MALE,DAWI,ZYGM,26,25
31999,30876,GEORGE,PAPAGIANNIS,NaN,NaN,1966-05-09,188.0,WHITE,MALE,GEOR,PAPA,75,74
32003,19044,ANTHONY,REDELSPERGER,E,NaN,2002-12-02,14.0,WHITE,MALE,ANTH,REDE,42,41